#esg-footer-container .aem-Grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px;
  grid-gap: 18px;
}
#esg-footer-container .aem-Grid .socialcomponent #sociallinks {
  display: flex;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
}
#esg-footer-container .aem-Grid .socialcomponent #sociallinks a img {
  width: 100%;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
}
#esg-footer-container .aem-Grid .socialcomponent #sociallinks a span {
  display: none;
}
#esg-footer-container .aem-Grid .text p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  opacity: 0.5;
}

@media only screen and (min-width: 769px) {
  #esg-desktop-container {
    display: flex;
    grid-gap: 24px;
    margin: 10px 100px;
    align-items: center;
  }
  #esg-desktop-container .image .cmp-image__image {
    height: 56px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #esg-desktop-container .navigationV2 {
    flex: 0 0 70%;
    display: flex;
    justify-content: flex-end;
  }
  #esg-desktop-container .navigationV2 .nav--container .nav--main ul {
    padding: 0;
    list-style: none;
    display: flex;
    grid-gap: 20px;
  }
  #esg-desktop-container .navigationV2 .nav--container .nav--main ul li a {
    font-family: "Lilita One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #009bde;
    text-transform: uppercase;
  }
  #esg-desktop-container .navigationV2 .nav--secondary {
    display: none;
  }
  #esg-desktop-container .languagenavigation {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
  }
  #esg-desktop-container .languagenavigation nav ul {
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
    list-style: none;
  }
  #esg-desktop-container .languagenavigation nav ul li a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  #esg-desktop-container .button #esg-account-icon {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background: url("/content/dam/global/promotions/kelloggs-esg-2023/gb/en/icons/Account.png") no-repeat center center;
    background-size: 38px;
  }
  #esg-mobile-container {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #esg-desktop-container {
    display: none;
  }
  #esg-mobile-container #burger-menu {
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
  }
  #esg-mobile-container #burger-menu .languagenavigation,
  #esg-mobile-container #burger-menu .image,
  #esg-mobile-container #burger-menu .button {
    flex-basis: 33.33%;
  }
  #esg-mobile-container #burger-menu .languagenavigation nav ul {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    list-style: none;
  }
  #esg-mobile-container #burger-menu .languagenavigation nav ul li a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
  }
  #esg-mobile-container #burger-menu .button {
    display: flex;
    justify-content: flex-end;
  }
  #esg-mobile-container #burger-menu .button .cmp-button {
    background: none;
    border: none;
  }
  #esg-mobile-container #burger-menu .button .cmp-button .cmp-button__icon.cmp-button__icon--esg-burger-icon {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background: url("/content/dam/global/promotions/kelloggs-esg-2023/gb/en/icons/Burger-menu.png") no-repeat center center;
    background-size: 24px;
  }
  #esg-mobile-container #burger-close-menu .button .cmp-button {
    background: none;
    border: none;
  }
  #esg-mobile-container #burger-close-menu .button .cmp-button .cmp-button__icon.cmp-button__icon--burger-close-icon {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    background: url("/content/dam/global/promotions/kelloggs-esg-2023/gb/en/icons/close.png") no-repeat center center;
    background-size: 47px;
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container nav ul {
    list-style: none;
    -webkit-padding-start: 26px;
            padding-inline-start: 26px;
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    max-width: calc(100% - 46px);
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container nav ul li a,
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container nav ul li span {
    font-family: "Lilita One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #000000;
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container .nav--secondary {
    border-top: 1px solid #ebebeb;
    margin: 24px 20px;
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container .nav--secondary ul {
    -webkit-padding-start: 6px;
            padding-inline-start: 6px;
    margin: 24px 0;
  }
}/*# sourceMappingURL=common.css.map */