#esg-main-container #esg-hero-teaser.cmp-container,
#esg-main-container .hero-teaser.cmp-container,
.esg-main-container #esg-hero-teaser.cmp-container,
.esg-main-container .hero-teaser.cmp-container {
  position: relative;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(1),
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(1),
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(1),
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(1) {
  position: relative;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(1) .image img,
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(1) .image img,
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(1) .image img,
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(1) .image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container,
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container,
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container,
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container {
  position: absolute;
  top: 40px;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: calc(100% - 40px);
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .image:nth-child(1) img,
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .image:nth-child(1) img,
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .image:nth-child(1) img,
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .image:nth-child(1) img {
  width: 80px;
  height: 50px;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) {
  color: #ffffff;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container {
  margin: 0 auto;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text,
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text,
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text,
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text {
  padding: 0 10px;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text:nth-child(2),
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text:nth-child(2),
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text:nth-child(2),
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text:nth-child(2) {
  margin-top: 8px;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2),
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2),
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2),
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2) {
  margin-top: 20px;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container {
  display: flex;
  justify-content: center;
  grid-gap: 20px;
  margin-top: 30px;
}
#esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container,
.esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container {
  display: flex;
  align-items: center;
}
#esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container.esg-carousel-container .cmp-container .image img,
.esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container.esg-carousel-container .cmp-container .image img {
  width: 100px;
  height: 100px;
}

@media only screen and (min-width: 769px) {
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) {
    margin-top: 20px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container {
    height: calc(100% - 40px);
    max-width: 610px;
    bottom: 40px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container {
    max-width: 330px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2),
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2),
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2),
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2) {
    margin-top: 20px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container {
    flex-direction: row;
  }
  #esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container,
  .esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container {
    margin: 24px 0;
    overflow: hidden;
  }
  #esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(1),
  .esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(1) {
    flex-basis: 15%;
  }
  #esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(1) > .cmp-container > .text,
  .esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(1) > .cmp-container > .text {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 768px) {
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(1) .image img,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(1) .image img,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(1) .image img,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(1) .image img {
    height: 900px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) {
    margin-top: 10px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container {
    height: calc(100% - 40px);
    max-width: 100%;
    bottom: 40px;
    padding: 0 20px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container {
    max-width: 210px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container {
    flex-direction: column;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container .button,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container .button,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container .button,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container .button {
    margin-bottom: 20px;
  }
  #esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container,
  .esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container {
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
  }
  #esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(1),
  .esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(1) {
    width: 100%;
    text-align: center;
  }
  #esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(1) > .cmp-container > .text,
  .esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(1) > .cmp-container > .text {
    padding: 16px 0;
  }
}
.text.orange {
  color: #fec45e;
}
.text.white {
  color: #ffffff;
}
.text.sky-blue {
  color: #009BDE;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
}

.button button,
.button a {
  padding: 12px 40px;
  border-radius: 90px;
}
.button span {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.button.esg-primary-white-button button,
.button.esg-primary-white-button a {
  background: #ffffff;
}
.button.esg-primary-white-button button span,
.button.esg-primary-white-button a span {
  color: #000000;
}
.button.esg-primary-white-button button {
  border: none;
}
.button.esg-primary-black-button button,
.button.esg-primary-black-button a {
  background: #000000;
}
.button.esg-primary-black-button button span,
.button.esg-primary-black-button a span {
  color: #ffffff;
}
.button.esg-primary-black-button button {
  border: none;
}
.button.esg-secondary-white-button button,
.button.esg-secondary-white-button a {
  padding: 11px 39px;
  border: 1px solid #ffffff;
}
.button.esg-secondary-white-button button span,
.button.esg-secondary-white-button a span {
  color: #ffffff;
}
.button.esg-secondary-white-button button {
  background: transparent;
}
.button.esg-secondary-black-button a {
  padding: 11px 39px;
  border: 1px solid #000000;
}
.button.esg-secondary-black-button a span {
  color: #000000;
}
.button.esg-secondary-black-button button {
  background: transparent;
}

.esg-carousel-container .cmp-container {
  display: flex;
}

@media only screen and (min-width: 769px) {
  h1 {
    font-size: 70px;
    line-height: 80px;
  }
  h2 {
    font-size: 60px;
    line-height: 69px;
  }
  h3 {
    font-size: 50px;
    line-height: 57px;
  }
  h4 {
    font-size: 40px;
    line-height: 46px;
  }
  h5 {
    font-size: 30px;
    line-height: 34px;
  }
  h6 {
    font-size: 20px;
    line-height: 23px;
  }
  #esg-main-container {
    margin-top: 90px;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 45px;
    line-height: 51px;
  }
  h2 {
    font-size: 35px;
    line-height: 40px;
  }
  h3 {
    font-size: 30px;
    line-height: 34px;
  }
  h4 {
    font-size: 25px;
    line-height: 29px;
  }
  h5 {
    font-size: 20px;
    line-height: 23px;
  }
  h6 {
    font-size: 18px;
    line-height: 21px;
  }
  #esg-main-container {
    margin-top: 80px;
  }
}
#esg-footer-container .aem-Grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px;
  grid-gap: 18px;
}
#esg-footer-container .aem-Grid .socialcomponent #sociallinks {
  display: flex;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
}
#esg-footer-container .aem-Grid .socialcomponent #sociallinks a img {
  width: 100%;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
}
#esg-footer-container .aem-Grid .socialcomponent #sociallinks a span {
  display: none;
}
#esg-footer-container .aem-Grid .text p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  opacity: 0.5;
}

.languagenavigation {
  position: relative;
}
.languagenavigation nav ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}
.languagenavigation nav ul li {
  display: none;
}
.languagenavigation nav ul li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}
.languagenavigation nav ul li .mobile-down-arrow,
.languagenavigation nav ul li .mobile-down-arrow.mobile-up-arrow {
  display: none;
}
.languagenavigation nav ul li:nth-child(1) {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999999;
}
.languagenavigation nav ul li:nth-child(1) a {
  position: relative;
  z-index: 99999;
}
.languagenavigation nav ul li:nth-child(1) .mobile-down-arrow,
.languagenavigation nav ul li:nth-child(1) .mobile-down-arrow.mobile-up-arrow {
  display: block;
}
.languagenavigation nav ul.languageOpened {
  margin: 0;
  position: absolute;
  top: -25px;
  z-index: 9999;
  left: 0;
  background: #ffffff;
  border-radius: 6px;
  width: 100%;
}
.languagenavigation nav ul.languageOpened li {
  display: flex;
  margin: 0 12px;
  padding: 12px 0;
  border-top: 2px solid #ebebeb;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 24px);
}
.languagenavigation nav ul.languageOpened li a {
  flex-basis: 80%;
}
.languagenavigation nav ul.languageOpened li.selectedLanguage::after {
  content: "";
  position: relative;
  bottom: 0;
  border: none;
  z-index: 9999;
  display: flex;
  width: 100%;
  right: 0;
  top: -6px;
  height: 13px;
  margin-top: -13px;
  background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/icons/selected-language.png") no-repeat right center;
  background-size: 13px;
}
.languagenavigation nav ul.languageOpened li.selectedLanguage:nth-child(1) {
  box-shadow: none;
  border-top: none;
  z-index: 999999;
  position: relative;
}
.languagenavigation nav ul.languageOpened li.selectedLanguage:nth-child(1)::after {
  content: none;
  background: none;
  height: none;
}
.languagenavigation nav .mobile-down-arrow {
  position: relative;
  border: none;
  display: block;
  width: 15px;
  height: 15px;
  z-index: 9999;
  top: 0;
  left: 0;
  background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/icons/down-arrow.png") no-repeat right center;
  background-size: 10px;
}
.languagenavigation nav .mobile-down-arrow.mobileUpArrow {
  border: none;
  z-index: 9999;
  display: block;
  background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/icons/up-arrow.png") no-repeat right center;
  background-size: 10px;
}

body.languageOpened {
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

#esg-main-container.languageOpened {
  filter: blur(2px);
}

#esg-header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
}
#esg-header-container.languageOpened {
  background: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

@media only screen and (min-width: 769px) {
  #esg-header-container {
    height: 90px;
  }
  #esg-header-container.languageOpened {
    top: -90px;
  }
  #esg-header-container.languageOpened #esg-desktop-container .image,
  #esg-header-container.languageOpened #esg-desktop-container .navigationV2,
  #esg-header-container.languageOpened #esg-desktop-container .button,
  #esg-header-container.languageOpened #esg-desktop-container .logout-v6 {
    filter: blur(2px);
  }
  #esg-desktop-container {
    display: flex;
    margin: 10px 100px;
    align-items: center;
    flex-wrap: wrap;
  }
  #esg-desktop-container .image {
    flex-basis: 15%;
  }
  #esg-desktop-container .image img.cmp-image__image {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #esg-desktop-container .navigationV2 {
    flex-basis: 65%;
    display: flex;
    justify-content: flex-end;
  }
  #esg-desktop-container .navigationV2 .nav--container .nav--main ul {
    padding: 0;
    list-style: none;
    display: flex;
    grid-gap: 20px;
  }
  #esg-desktop-container .navigationV2 .nav--container .nav--main ul li a {
    font-family: "Lilita One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #009bde;
    text-transform: uppercase;
  }
  #esg-desktop-container .navigationV2 .nav--secondary {
    display: none;
  }
  #esg-desktop-container .languagenavigation {
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end;
  }
  #esg-desktop-container .button {
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end;
  }
  #esg-desktop-container .button #esg-account-icon {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/icons/Account.png") no-repeat center center;
    background-size: 38px;
    padding: 0;
  }
  #esg-desktop-container .logout-v6 {
    flex-basis: 10%;
    justify-content: flex-end;
    display: none;
  }
  #esg-desktop-container .logout-v6 #logout-Button {
    font-family: "Lilita One";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 12px 24px;
    background: #000000;
    border-radius: 90px;
    border: none;
  }
  #esg-mobile-container {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #esg-header-container {
    height: 80px;
  }
  #esg-header-container.languageOpened {
    top: -80px;
  }
  #esg-header-container.languageOpened #esg-mobile-container #burger-menu .image,
  #esg-header-container.languageOpened #esg-mobile-container #burger-menu .button {
    filter: blur(2px);
  }
  #esg-desktop-container {
    display: none;
  }
  #esg-mobile-container #burger-menu {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    flex-wrap: wrap;
    width: calc(100% - 40px);
  }
  #esg-mobile-container #burger-menu .languagenavigation,
  #esg-mobile-container #burger-menu .image,
  #esg-mobile-container #burger-menu .button {
    flex-basis: 33.33%;
  }
  #esg-mobile-container #burger-menu .button {
    display: flex;
    justify-content: flex-end;
  }
  #esg-mobile-container #burger-menu .button .cmp-button {
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
  }
  #esg-mobile-container #burger-menu .button .cmp-button .cmp-button__icon.cmp-button__icon--esg-burger-icon {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/icons/Burger-menu.png") no-repeat center center;
    background-size: 24px;
  }
  #esg-mobile-container #burger-menu .languagenavigation {
    visibility: initial;
  }
  #esg-mobile-container #burger-menu .languagenavigation nav {
    justify-content: flex-start;
  }
  #esg-mobile-container #burger-menu .languagenavigation nav .cmp-languagenavigation__group.languageOpened {
    top: -13px;
  }
  #esg-mobile-container #burger-menu .languagenavigation nav .mobile-down-arrow.mobileUpArrow {
    top: 0;
  }
  #esg-mobile-container #burger-menu .image img.cmp-image__image {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 180px;
  }
  #esg-mobile-container #burger-close-menu {
    display: none;
    position: relative;
  }
  #esg-mobile-container #burger-close-menu .image img.cmp-image__image {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #esg-mobile-container #burger-close-menu .button {
    position: absolute;
    top: 18px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  #esg-mobile-container #burger-close-menu .button .cmp-button {
    background: none;
    border: none;
    padding: 0;
  }
  #esg-mobile-container #burger-close-menu .button .cmp-button .cmp-button__icon.cmp-button__icon--burger-close-icon {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/icons/close.png") no-repeat center center;
    background-size: 47px;
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container nav ul {
    list-style: none;
    -webkit-padding-start: 26px;
            padding-inline-start: 26px;
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    max-width: calc(100% - 46px);
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container nav ul li a,
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container nav ul li span {
    font-family: "Lilita One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #000000;
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container .nav--secondary {
    border-top: 1px solid #ebebeb;
    margin: 24px 20px;
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container .nav--secondary ul {
    -webkit-padding-start: 6px;
            padding-inline-start: 6px;
    margin: 24px 0;
  }
  .languagenavigation.burgerMenuClosed,
  .cmp-button__icon--esg-burger-icon.burgerMenuOpened {
    visibility: hidden !important;
  }
  #burger-close-menu.burgerMenuOpened {
    display: block !important;
  }
  .logout-v6,
  #esg-main-container.burgerMenuOpened,
  #esg-footer-container.burgerMenuOpened {
    display: none;
  }
}
body {
  margin: 0 auto;
  overflow-x: hidden;
}

@font-face {
  font-family: "Lilita One";
  src: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/fonts/LilitaOne-Regular.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
.tns-nav,
.tns-controls,
.skip-main {
  display: none;
}

div.image {
  margin-bottom: 0;
  line-height: 0;
}

a {
  text-decoration: none;
}

.ghost {
  display: none;
}/*# sourceMappingURL=esg-2023-main.css.map */