@use "../../ESG/Phase/competition-landing-page/competition-landing-page.scss";
@use "../../ESG/Phase/common/common.scss";
@use "../../ESG/Phase/Header-footer/header-footer.scss";
@use "../../ESG/Phase/login-register-container/esg-login-register-container.scss";
@use "../../ESG/Phase/thank-you/thank-you.scss";
@use "../../ESG/Phase/ready-to-play/ready-to-play.scss";

body {
  margin: 0 auto;
  overflow-x: hidden;
}

@font-face {
  font-family: "Lilita One";
  src: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/fonts/LilitaOne-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

.tns-nav,
.tns-controls,
.skip-main {
  display: none;
}

div.image {
  margin-bottom: 0;
  line-height: 0;
}

a {
  text-decoration: none;
}

.ghost {
  display: none;
}
