#esg-main-container #esg-hero-teaser.cmp-container,
#esg-main-container .hero-teaser.cmp-container,
.esg-main-container #esg-hero-teaser.cmp-container,
.esg-main-container .hero-teaser.cmp-container {
  position: relative;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(1),
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(1),
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(1),
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(1) {
  position: relative;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(1) .image img,
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(1) .image img,
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(1) .image img,
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(1) .image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container,
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container,
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container,
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container {
  position: absolute;
  top: 40px;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: calc(100% - 40px);
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .image:nth-child(1) img,
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .image:nth-child(1) img,
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .image:nth-child(1) img,
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .image:nth-child(1) img {
  width: 80px;
  height: 50px;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) {
  color: #ffffff;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container {
  margin: 0 auto;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text,
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text,
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text,
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text {
  padding: 0 10px;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text:nth-child(2),
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text:nth-child(2),
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text:nth-child(2),
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text:nth-child(2) {
  margin-top: 8px;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2),
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2),
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2),
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2) {
  margin-top: 20px;
}
#esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
#esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
.esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
.esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container {
  display: flex;
  justify-content: center;
  grid-gap: 20px;
  margin-top: 30px;
}
#esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container,
.esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container {
  display: flex;
  align-items: center;
}
#esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container.esg-carousel-container .cmp-container .image img,
.esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container.esg-carousel-container .cmp-container .image img {
  width: 100px;
  height: 100px;
}

@media only screen and (min-width: 769px) {
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) {
    margin-top: 20px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container {
    height: calc(100% - 40px);
    max-width: 610px;
    bottom: 40px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container {
    max-width: 330px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2),
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2),
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2),
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2) {
    margin-top: 20px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container {
    flex-direction: row;
  }
  #esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container,
  .esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container {
    margin: 24px 0;
  }
  #esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(1),
  .esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(1) {
    flex-basis: 15%;
  }
  #esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(1) > .cmp-container > .text,
  .esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(1) > .cmp-container > .text {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 768px) {
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(1) .image img,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(1) .image img,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(1) .image img,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(1) .image img {
    height: 900px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2),
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) {
    margin-top: 10px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container {
    height: calc(100% - 40px);
    max-width: 100%;
    bottom: 40px;
    padding: 0 20px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container {
    max-width: 210px;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container {
    flex-direction: column;
  }
  #esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container .button,
  #esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container .button,
  .esg-main-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container .button,
  .esg-main-container .hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(5) .cmp-container .button {
    margin-bottom: 20px;
  }
  #esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container,
  .esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container {
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }
  #esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(1) > .cmp-container > .text,
  .esg-main-container.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(1) > .cmp-container > .text {
    padding: 16px 0;
  }
}
.text.orange {
  color: #fec45e;
}
.text.white {
  color: #ffffff;
}
.text.sky-blue {
  color: #009BDE;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
}

.button button,
.button a {
  padding: 12px 40px;
  border-radius: 90px;
}
.button span {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.button.esg-primary-white-button button,
.button.esg-primary-white-button a {
  background: #ffffff;
}
.button.esg-primary-white-button button span,
.button.esg-primary-white-button a span {
  color: #000000;
}
.button.esg-primary-white-button button {
  border: none;
}
.button.esg-primary-black-button button,
.button.esg-primary-black-button a {
  background: #000000;
}
.button.esg-primary-black-button button span,
.button.esg-primary-black-button a span {
  color: #ffffff;
}
.button.esg-primary-black-button button {
  border: none;
}
.button.esg-secondary-white-button button,
.button.esg-secondary-white-button a {
  padding: 11px 39px;
  border: 1px solid #ffffff;
}
.button.esg-secondary-white-button button span,
.button.esg-secondary-white-button a span {
  color: #ffffff;
}
.button.esg-secondary-white-button button {
  background: transparent;
}
.button.esg-secondary-black-button a {
  padding: 11px 39px;
  border: 1px solid #000000;
}
.button.esg-secondary-black-button a span {
  color: #000000;
}
.button.esg-secondary-black-button button {
  background: transparent;
}

.esg-carousel-container .cmp-container {
  display: flex;
}

@media only screen and (min-width: 769px) {
  h1 {
    font-size: 70px;
    line-height: 80px;
  }
  h2 {
    font-size: 60px;
    line-height: 69px;
  }
  h3 {
    font-size: 50px;
    line-height: 57px;
  }
  h4 {
    font-size: 40px;
    line-height: 46px;
  }
  h5 {
    font-size: 30px;
    line-height: 34px;
  }
  h6 {
    font-size: 20px;
    line-height: 23px;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 45px;
    line-height: 51px;
  }
  h2 {
    font-size: 35px;
    line-height: 40px;
  }
  h3 {
    font-size: 30px;
    line-height: 34px;
  }
  h4 {
    font-size: 25px;
    line-height: 29px;
  }
  h5 {
    font-size: 20px;
    line-height: 23px;
  }
  h6 {
    font-size: 18px;
    line-height: 21px;
  }
}
body {
  margin: 0 auto;
  overflow-x: hidden;
}

@font-face {
  font-family: "Lilita One";
  src: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/fonts/LilitaOne-Regular.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
.tns-nav,
.tns-controls,
.skip-main {
  display: none;
}

div.image {
  margin-bottom: 0;
  line-height: 0;
}

a {
  text-decoration: none;
}

.ghost {
  display: none;
}/*# sourceMappingURL=esg-2023-main.css.map */