#KSTL-main-container {
  > .coreContainer {
    position: relative;
    > .coreContainer:nth-child(2) {
      height: 200px;
      -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
      clip-path: polygon(100% 0, 0 0, 50% 100%);
      justify-content: center;
      position: absolute;
      width: 100%;
      background: #f7e62a;
      display: flex;
      align-items: center;
      flex-direction: column;
      .markupText .kstl-rich-text {
        text-align: center;
        .kstl-one-title-blue {
          font-family: "Pinup-Regular";
          font-style: normal;
          font-weight: 700;
          color: #0f76b9;
        }

        .kstl-one-description-red {
          font-family: "Pinup-Regular";
          font-style: normal;
          font-weight: 700;
          color: #e71d2b;
        }
      }
    }
    > .coreContainer:nth-child(3) {
      display: flex;
      .image,
      #KSTL-landing-container-child-one-sub-child-two {
        flex: 1;
      }
      #KSTL-landing-container-child-one-sub-child-two {
        background: #e71d2b;
        color: #ffffff;
        display: flex;
        align-items: center;
        .markupText {
          padding: 0 64px;
          .kstl-rich-text {
            font-family: "Pinup";
            font-style: normal;
            font-weight: 700;
            font-size: 70px;
            line-height: 84px;
            color: #ffffff;
          }
          .kstl-description-one {
            font-family: "NimbusSanLOT";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
            padding-top: 30px;
          }
        }
      }
    }
  }
}

#KSTL-landing-container-child-three {
 display: flex;
 .coreContainer,
 .image {
  flex:1;
 }
 > .coreContainer {
  background: #e71d2b;
 }
}

@media only screen and (min-width: 768px) {
  #KSTL-main-container > .coreContainer {
    > .coreContainer:nth-child(2) {
      .markupText .kstl-rich-text {
        .kstl-one-title-blue {
          font-size: 45px;
          line-height: 54px;
        }

        .kstl-one-description-red {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  #KSTL-main-container > .coreContainer {
    > .coreContainer:nth-child(2) {
      .markupText .kstl-rich-text {
        .kstl-one-title-blue {
          font-size: 45px;
          line-height: 54px;
        }

        .kstl-one-description-red {
          font-size: 30px;
          line-height: 36px;
        }
      }
    }
    > .coreContainer:nth-child(3) {
      #KSTL-landing-container-child-one-sub-child-two {
        .markupText {
          padding: 0 64px;
          .kstl-rich-text {
            font-size: 70px;
            line-height: 84px;
          }
          .kstl-description-one {
            font-size: 16px;
            line-height: 24px;
            padding-top: 30px;
          }
        }
      }
    }
  }
}
