#esg-barcode-validation-container {
  margin-bottom: 40px;
  > .container:nth-child(1) {
    > .cmp-container {
      position: relative;
      > .text:nth-child(4) {
        display: flex;
        justify-content: center;
        padding: 0 20px;
        h3 {
          color: #009bde;
        }
        p {
          color: #666666;
          a {
            color: #000000;
            text-decoration: underline;
          }
        }
      }
      .breadcrumb {
        color: #000000;
        position: relative;

        nav ol {
          &::before {
            content: "";
            display: inline-block;
            width: 16px;
            position: absolute;
            height: 16px;
            background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/images/icons/back-button.png")
              no-repeat left center;
            background-size: 16px;
          }
          li {
            display: none;
            &:nth-last-child(2) {
              display: block;
              a {
                text-decoration: none;
                color: #000000;
                span {
                  font-family: "Lilita One";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 18px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
      > .container:nth-child(3) {
        position: absolute;
      }
    }
  }
  > .container:nth-child(2) {
    position: relative;
    top: 40px;
    > .cmp-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:not(:has(.ghost)) {
        > .button:nth-child(2) {
          margin: 24px 0 40px;
          a {
            border: 1px solid #666666;
            span {
              color: #666666;
            }
          }
        }
        > .button:nth-child(3) {
          margin: 12px 0;
          text-align: center;
          .cmp-button {
            border-bottom: 3px solid #000000;
            border-radius: 0;
            padding: 0 0 10px;
            .cmp-button__text {
              font-family: "Lilita One";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 21px;
              text-transform: uppercase;
              color: #000000;
            }
          }
        }
        > .text:nth-child(4) {
          p {
            color: #666666;
          }
        }
      }
      &:has(.ghost) {
        > .button:nth-child(3) {
          margin: 24px 0 40px;
          a {
            border: 1px solid #666666;
            span {
              color: #666666;
            }
          }
        }
        > .button:nth-child(4) {
          margin: 12px 0;
          text-align: center;
          .cmp-button {
            border-bottom: 3px solid #000000;
            border-radius: 0;
            padding: 0 0 10px;
            .cmp-button__text {
              font-family: "Lilita One";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 21px;
              text-transform: uppercase;
              color: #000000;
            }
          }
        }

        > .text:nth-child(5) {
          p {
            color: #666666;
          }
        }
      }
    }
  }

  .codeEntry {
    .promo-code-input-box {
      width: 300px;
    }
    input[type="text"]#key-in-unique-code-box {
      border: 2px solid #000000;
    }
    .promo-box-wrapper:not(:has(.mandatory-field[style="display: none;"])) {
      .gaming-link-div {
        margin-top: 0;
      }
    }
    .gaming-link-div {
      width: 100%;
      text-align: center;

      .responsive-button#Continue {
        background: none;
        border: 1px solid #666666;
        border-radius: 90px;
        text-align: center;
        padding: 6px 40px;
        color: #666666;
        font-family: "Lilita One";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
      }
    }
  }
}

#esg-dont-have-a-cereal-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  .teaser {
    position: absolute;
    background: #ffffff;
    padding: 24px 30px;
    top: 30%;
    left: 15px;
    text-align: center;
    .cmp-teaser {
      &__content {
        .cmp-teaser {
          &__description {
            text-align: center;
            margin: 24px 0;
            p {
              color: #666666;
            }
          }

          &__action-container {
            text-align: center;
            margin: 12px 0;
            a {
              padding: 12px 90px;
              background: #000000;
              color: #ffffff;
              border-radius: 90px;
              font-family: "Lilita One";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 21px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  &.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
}

@media only screen and (max-width: 768px) {
  #esg-barcode-validation-container {
    > .container:nth-child(1) {
      > .cmp-container {
        > .image:nth-child(1) {
          display: none;
        }
        > .image:nth-child(2) {
          img {
            max-height: 300px;
          }
        }
        .breadcrumb {
          nav ol {
            padding-inline-start: 40px;
            margin-block-start: 1em;
            margin-block-end: 40px;
            &::before {
              top: 17px;
              left: 20px;
            }
          }
        }
        > .container:nth-child(3) {
          top: -2px;
        }
      }
    }
    > .container:nth-child(2) {
      > .cmp-container {
        &:not(:has(.ghost)) {
          > .text:nth-child(4) {
            padding: 0 20px;
          }
        }
        &:has(.ghost) {
          > .text:nth-child(5) {
            padding: 0 20px;
          }
        }
      }
    }
    .codeEntry {
      height: 140px;
    }
    .codeEntry:not(:has(.mandatory-field[style="display: none;"])) {
      height: 150px;
    }
  }
  #esg-dont-have-a-cereal-box {
    .teaser {
      width: calc(100% - 90px);
    }
  }
}

@media only screen and (min-width: 769px) {
  #esg-barcode-validation-container {
    > .container:nth-child(1) {
      > .cmp-container {
        > .image:nth-child(1) {
          img {
            height: 570px;
          }
        }
        > .image:nth-child(2) {
          display: none;
        }
        > .text:nth-child(4) {
          position: absolute;
          width: 100%;
          bottom: -30px;
          z-index: 9;
          > .cmp-text {
            max-width: 400px;
            margin: 0 auto;
          }
        }
        .breadcrumb {
          nav ol {
            padding-inline-start: 105px;
            margin-block-end: 0;
            margin-block-start: 3em;
            &::before {
              top: 49px;
              left: 85px;
            }
          }
        }
        > .container:nth-child(3) {
          top: -22px;
        }
      }
    }

    > .container:nth-child(2) {
      > .cmp-container {
        max-width: 400px;
        margin: 0 auto;
      }
    }
    .codeEntry {
      height: 120px;
      &:not(:has(.mandatory-field[style="display: none;"])) {
        height: 130px;
      }
    }
  }
  #esg-dont-have-a-cereal-box {
    z-index: 999;
    .teaser {
      padding: 0;
      width: 100%;
      background: transparent;
      .cmp-teaser {
        max-width: 400px;
        background: #ffffff;
        margin: 0 auto;
        padding: 24px 30px;
      }
    }
  }
}
