@media only screen and (max-width: 768px) {
  #already-played-template-container {
    #already-played-child-one {
      background: #e71d2b;
      padding: 0 20px 60px;
      color: #ffffff;

      .teaser {
        font-family: "Pinup-Regular";
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 42px;
        text-transform: uppercase;
        color: #ffffff;

        .cmp-teaser__content {
          .cmp-teaser__title {
            font-family: "Pinup-Regular";
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 42px;
            color: #ffffff;
          }
          .cmp-teaser__description {
            font-family: "NimbusSanLOT";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
          }
        }
      }

      .text {
        #already-played-child-one-title {
          font-family: "Pinup";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: #ffd140;

          p {
            margin: 24px 0;
          }
        }
      }

      .timer {
        margin: 0 -12px;
      }
    }

    #already-played-child-two {
      background: #e71d2b;
      .markuptext {
        .already-played-title {
          font-family: "Pinup";
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 36px;
          text-transform: uppercase;
          color: #ffffff;
          span {
            color: #f7e62a;
          }
        }
      }
    }
  }
}
