@media only screen and (max-width: 768px) {
  #already-played-template-container {
    background: #e71d2b;
    #already-played-child-one {
      background: #e71d2b;
      padding: 0 20px 60px;
      color: #ffffff;

      .teaser {
        font-family: "Pinup-Regular";
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 42px;
        text-transform: uppercase;
        color: #ffffff;

        .cmp-teaser__content {
          .cmp-teaser__title {
            font-family: "Pinup-Regular";
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 42px;
            color: #ffffff;
          }
          .cmp-teaser__description {
            font-family: "NimbusSanLOT";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
          }
        }
      }

      .text {
        #already-played-child-one-title {
          font-family: "Pinup";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: #ffd140;

          p {
            margin: 24px 0;
          }
        }
      }

      .timer {
        margin-left: -5px;
      }
    }

    #already-played-child-two {
      background: #e71d2b;
      padding: 0 0 50px;
      .markuptext {
        .already-played-title {
          font-family: "Pinup-Regular";
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 36px;
          text-transform: uppercase;
          color: #ffffff;
          margin-bottom: 15px;
          padding: 0 20px;
          span {
            color: #f7e62a;
          }
        }
      }

      .teaser {
        .cmp-teaser__content {
          .cmp-teaser__action-container {
            width: calc(100% - 40px);
            background: #ffffff;
            padding: 10px 0;
            margin: 0 20px;
            text-align: center;
            position: relative;
            z-index: 9;
            bottom: 20px;
            a {
              font-family: "Pinup-Regular";
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 21px;
              text-transform: uppercase;
              text-decoration: none;
              color: #e71d2b;
            }
          }
        }
      }
    }

    #already-played-child-three {
      padding-left: 20px;
      padding-bottom: 50px;
      .text {
        p {
          font-family: "Pinup-Regular";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          text-transform: uppercase;
          color: #ffffff;
          margin: 0 0 15px;
        }
      }

      .carousel .cmp-carousel .cmp-carousel__content {

        .teaser {
            .cmp-teaser__image {
                img {
                    width: calc(100% - 40px);
                }
            }
            .cmp-teaser__content {
              .cmp-teaser__action-container {
                width: calc(100% - 40px);
                background: #ffffff;
                padding: 10px 0;
                text-align: center;
                position: relative;
                a {
                  font-family: "Pinup-Regular";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 21px;
                  text-transform: uppercase;
                  text-decoration: none;
                  color: #e71d2b;
                }
              }
            }
        }
        .cmp-carousel__actions {
            display: none;
        }

        .cmp-carousel__indicators {
            display: none;
        }
      } 
    }
  }
}
