/* Start CSS Common styles for all template */
#competition-landing-header-Mobile,
#thank-you-page-template-child-one #thank-you-page-header,
#pre-game-template-child-one {
  position: relative;
}
#competition-landing-header-Mobile .aem-Grid,
#thank-you-page-template-child-one #thank-you-page-header .aem-Grid,
#pre-game-template-child-one .aem-Grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
#competition-landing-header-Mobile .cmp-languagenavigation,
#competition-landing-header-Mobile nav#thank-you-page-language-navigation,
#competition-landing-header-Mobile nav#pre-game-language-navigation,
#thank-you-page-template-child-one #thank-you-page-header .cmp-languagenavigation,
#thank-you-page-template-child-one #thank-you-page-header nav#thank-you-page-language-navigation,
#thank-you-page-template-child-one #thank-you-page-header nav#pre-game-language-navigation,
#pre-game-template-child-one .cmp-languagenavigation,
#pre-game-template-child-one nav#thank-you-page-language-navigation,
#pre-game-template-child-one nav#pre-game-language-navigation {
  cursor: pointer;
}
#competition-landing-header-Mobile .cmp-languagenavigation::after,
#competition-landing-header-Mobile nav#thank-you-page-language-navigation::after,
#competition-landing-header-Mobile nav#pre-game-language-navigation::after,
#thank-you-page-template-child-one #thank-you-page-header .cmp-languagenavigation::after,
#thank-you-page-template-child-one #thank-you-page-header nav#thank-you-page-language-navigation::after,
#thank-you-page-template-child-one #thank-you-page-header nav#pre-game-language-navigation::after,
#pre-game-template-child-one .cmp-languagenavigation::after,
#pre-game-template-child-one nav#thank-you-page-language-navigation::after,
#pre-game-template-child-one nav#pre-game-language-navigation::after {
  position: absolute;
  top: 45%;
  content: "";
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#competition-landing-header-Mobile .cmp-languagenavigation ul,
#competition-landing-header-Mobile nav#thank-you-page-language-navigation ul,
#competition-landing-header-Mobile nav#pre-game-language-navigation ul,
#thank-you-page-template-child-one #thank-you-page-header .cmp-languagenavigation ul,
#thank-you-page-template-child-one #thank-you-page-header nav#thank-you-page-language-navigation ul,
#thank-you-page-template-child-one #thank-you-page-header nav#pre-game-language-navigation ul,
#pre-game-template-child-one .cmp-languagenavigation ul,
#pre-game-template-child-one nav#thank-you-page-language-navigation ul,
#pre-game-template-child-one nav#pre-game-language-navigation ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
#competition-landing-header-Mobile .cmp-languagenavigation ul li a,
#competition-landing-header-Mobile nav#thank-you-page-language-navigation ul li a,
#competition-landing-header-Mobile nav#pre-game-language-navigation ul li a,
#thank-you-page-template-child-one #thank-you-page-header .cmp-languagenavigation ul li a,
#thank-you-page-template-child-one #thank-you-page-header nav#thank-you-page-language-navigation ul li a,
#thank-you-page-template-child-one #thank-you-page-header nav#pre-game-language-navigation ul li a,
#pre-game-template-child-one .cmp-languagenavigation ul li a,
#pre-game-template-child-one nav#thank-you-page-language-navigation ul li a,
#pre-game-template-child-one nav#pre-game-language-navigation ul li a {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

#pre-game-template-child-two #thank-you-page-button,
#pre-game-template-child-two #pre-game-button,
#thank-you-page-template-child-one #thank-you-page-button,
#thank-you-page-template-child-one #pre-game-button {
  background: #ffffff;
  width: 100%;
  border-radius: 2px;
  border: none;
  padding: 0;
  font-weight: 200;
}
#pre-game-template-child-two #thank-you-page-button span,
#pre-game-template-child-two #pre-game-button span,
#thank-you-page-template-child-one #thank-you-page-button span,
#thank-you-page-template-child-one #pre-game-button span {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #e71d2b;
  text-transform: uppercase;
}

#competition-landing-page-child-six,
#thank-you-page-accordion {
  color: #000000;
}
#competition-landing-page-child-six .cmp-accordion__item,
#thank-you-page-accordion .cmp-accordion__item {
  background: #ffffff;
  border-radius: 90px;
  padding: 16px 24px;
  margin-bottom: 15px;
}
#competition-landing-page-child-six .cmp-accordion__item[data-cmp-expanded],
#thank-you-page-accordion .cmp-accordion__item[data-cmp-expanded] {
  border-radius: 35px;
}
#competition-landing-page-child-six .cmp-accordion__item[data-cmp-expanded] .cmp-accordion__header,
#thank-you-page-accordion .cmp-accordion__item[data-cmp-expanded] .cmp-accordion__header {
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 155, 222, 0.5);
}
#competition-landing-page-child-six .cmp-accordion__item .cmp-accordion__header,
#thank-you-page-accordion .cmp-accordion__item .cmp-accordion__header {
  margin: 0;
}
#competition-landing-page-child-six .cmp-accordion__item .cmp-accordion__header button,
#thank-you-page-accordion .cmp-accordion__item .cmp-accordion__header button {
  background: transparent;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
}
#competition-landing-page-child-six .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__title,
#thank-you-page-accordion .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__title {
  text-align: left;
  flex: 0 0 80%;
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}
#competition-landing-page-child-six .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__icon,
#thank-you-page-accordion .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__icon {
  flex: 0 0 20%;
  width: 25px;
  height: 25px;
  background: url("/content/dam/global/promotions/aperopromotions/uk/en/images/Accordion-Plus.png") no-repeat right center;
}
#competition-landing-page-child-six .cmp-accordion__panel--hidden,
#thank-you-page-accordion .cmp-accordion__panel--hidden {
  display: none;
}
#competition-landing-page-child-six .cmp-accordion__panel--expanded,
#thank-you-page-accordion .cmp-accordion__panel--expanded {
  display: block;
}
#competition-landing-page-child-six .cmp-accordion__panel--expanded p,
#thank-you-page-accordion .cmp-accordion__panel--expanded p {
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 769px) {
  #Mobile-header-container {
    display: none;
  }
  #competition-landing-header-desktop {
    padding: 24px 65px;
    background: #e71d2b;
  }
  #competition-landing-header-desktop .aem-Grid {
    display: flex;
    align-items: center;
  }
  #competition-landing-header-desktop .aem-Grid .image {
    position: relative;
  }
  #competition-landing-header-desktop .aem-Grid .image img {
    position: absolute;
    z-index: 999;
    width: 76px;
    height: 94px;
    max-width: unset;
  }
  #competition-landing-header-desktop .aem-Grid .navigationV2 {
    display: flex;
    justify-content: center;
    flex: 1 0 65%;
  }
  #competition-landing-header-desktop .aem-Grid .navigationV2 .nav--container {
    background: transparent;
  }
  #competition-landing-header-desktop .aem-Grid .navigationV2 .nav--container .nav--main ul {
    display: flex;
    list-style: none;
    grid-column-gap: 45px;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    background: transparent;
  }
  #competition-landing-header-desktop .aem-Grid .navigationV2 .nav--container .nav--main ul li a {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }
  #competition-landing-header-desktop .aem-Grid .navigationV2 .nav--container .nav--secondary ul {
    list-style: none;
  }
  #competition-landing-header-desktop .aem-Grid .button {
    display: flex;
    flex: 0 0 15%;
  }
  #competition-landing-header-desktop .aem-Grid .button #competition-landing-tap-to-win-button {
    background: transparent;
    border: 2px solid transparent;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
  }
  #competition-landing-header-desktop .aem-Grid .button #competition-landing-tap-to-win-button .cmp-button__icon.cmp-button__icon--apero-arrow-icon {
    display: block;
    border-radius: 0 3px 3px 0;
    height: 38px;
    width: 38px;
    background: #0f76b9 url("/content/dam/global/promotions/aperopromotions/uk/en/icons/Vector%20Icon.png") no-repeat center center;
  }
  #competition-landing-header-desktop .aem-Grid .button #competition-landing-tap-to-win-button .cmp-button__text {
    padding: 12px 16px;
    background: #f7e62a;
    border-radius: 3px 0 0 3px;
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #0f76b9;
  }
  #competition-landing-header-desktop .aem-Grid #competition-landing-header-button-container .aem-Grid {
    display: flex;
    grid-column-gap: 10px;
    align-items: center;
    margin-left: 65px;
  }
  #competition-landing-header-desktop .aem-Grid #competition-landing-header-button-container .aem-Grid .button button {
    background: transparent;
    border: 2px solid transparent;
    cursor: pointer;
  }
  #competition-landing-header-desktop .aem-Grid #competition-landing-header-button-container .aem-Grid .button button .cmp-button__icon.cmp-button__icon--apero-search {
    display: block;
    height: 39px;
    width: 39px;
    background: url("/content/dam/global/promotions/aperopromotions/uk/en/icons/Search%20Icon.png") no-repeat center center;
  }
  #competition-landing-header-desktop .aem-Grid #competition-landing-header-button-container .aem-Grid .button button .cmp-button__icon.cmp-button__icon--apero-login {
    display: block;
    height: 39px;
    width: 39px;
    background: url("/content/dam/global/promotions/aperopromotions/uk/en/icons/Account%20Icon.png") no-repeat center center;
  }
  #competition-landing-header-desktop .aem-Grid #competition-landing-header-button-container .aem-Grid .button button .cmp-button__icon.cmp-button__icon--apero-country {
    display: block;
    height: 39px;
    width: 39px;
    background: url("/content/dam/global/promotions/aperopromotions/uk/en/icons/Language%20Icon.png") no-repeat center center;
  }
  #desktop-footer-container .aem-Grid {
    background: #e71d2b;
    color: #ffffff;
    padding: 60px 100px;
  }
  #desktop-footer-container .aem-Grid .list {
    max-width: calc(95% - 60px);
  }
  #desktop-footer-container .aem-Grid .list ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    list-style: none;
    grid-column-gap: 60px;
    grid-row-gap: 30px;
  }
  #desktop-footer-container .aem-Grid .list ul li {
    flex: 0 0 calc(25% - 60px);
    padding-bottom: 10px;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.3);
  }
  #desktop-footer-container .aem-Grid .list ul li .cmp-list__item-title {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }
  #desktop-footer-container .aem-Grid .socialcomponent {
    max-width: calc(95% - 120px);
  }
  #desktop-footer-container .aem-Grid .socialcomponent .social_icons {
    display: flex;
    justify-content: flex-end;
    grid-gap: 30px;
  }
  #desktop-footer-container .aem-Grid .socialcomponent .social_icons a {
    width: 1.9em;
    height: 1.9em;
  }
  #desktop-footer-container .aem-Grid .socialcomponent .social_icons a span {
    display: none;
  }
  #desktop-footer-container .aem-Grid .text #competion-landing-copy-right-text {
    margin-top: 30px;
    max-width: calc(95% - 120px);
    display: flex;
    justify-content: flex-end;
  }
  #desktop-footer-container .aem-Grid .text #competion-landing-copy-right-text p {
    font-family: "NimbusSanLOT";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    color: #ffffff;
  }
  #sticky-footer-buttons-mobile-container {
    display: none;
  }
  #competition-landing-terms-condition-mobile {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #competition-landing-header-desktop {
    display: none;
  }
  #Mobile-header-container {
    display: block;
  }
  #Mobile-header-container .aem-Grid {
    background: #e71d2b;
    max-width: calc(100% - 40px);
    padding: 10px 20px;
    align-items: center;
  }
  #Mobile-header-container .aem-Grid .image .cmp-image {
    display: flex;
    justify-content: center;
  }
  #Mobile-header-container .aem-Grid .navigationV2 #navigationtagging {
    width: 25px;
    height: 25px;
    display: block;
    left: 80%;
    position: relative;
    background: url("/content/dam/global/promotions/aperopromotions/uk/en/icons/burger-menu.png") no-repeat left center;
  }
  #competition-landing-terms-condition-mobile {
    display: block;
  }
  #competition-landing-terms-condition-mobile .aem-Grid {
    background: #e71d2b;
    color: #ffffff;
  }
  #competition-landing-terms-condition-mobile .aem-Grid .text {
    max-width: 100%;
    padding: 0 20px;
  }
  #competition-landing-terms-condition-mobile .aem-Grid .text #competition-landing-eight-description {
    margin-bottom: 30px;
  }
  #desktop-footer-container {
    display: none;
  }
  #sticky-footer-buttons-mobile-container {
    position: fixed;
    background: #ffffff;
    top: 87%;
    height: 90px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    z-index: 999;
    grid-gap: 8px;
    align-items: center;
  }
  #sticky-footer-buttons-mobile-container .button {
    display: inline-block;
    width: 45%;
  }
  #sticky-footer-buttons-mobile-container .button a {
    padding: 18px 12px;
    border-radius: 2px;
    text-decoration: none;
  }
  #sticky-footer-buttons-mobile-container .button a#mobile-footer-create-an-login-button {
    background: #2E8538;
    display: block;
    color: #ffffff;
    text-align: center;
  }
  #sticky-footer-buttons-mobile-container .button a#mobile-footer-login-button {
    display: flex;
    border: 1px solid #2E8538;
    justify-content: center;
    color: #2E8538;
  }
  #sticky-footer-buttons-mobile-container .button a span {
    font-family: "Pinup-Regular";
    font-size: 12px;
    line-height: 14px;
  }
}
/* End CSS *//*# sourceMappingURL=common-template.css.map */