/* Start CSS Common styles for all template */
#mobile-burger-menu-open,
#thank-you-page-template-child-one #thank-you-page-header,
#pre-game-template-child-one {
  position: relative;
  .aem-Grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
  }

  .cmp-languagenavigation,
  nav#thank-you-page-language-navigation,
  nav#pre-game-language-navigation {
    cursor: pointer;
    &::after {
      position: absolute;
      top: 45%;
      content: "";
      border: solid #ffffff;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      margin-left: 6px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    ul {
      list-style: none;
      padding-inline-start: 0;

      li a {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

#pre-game-template-child-two,
#thank-you-page-template-child-one {
  #thank-you-page-button,
  #pre-game-button {
    background: #ffffff;
    width: 100%;
    border-radius: 2px;
    border: none;
    padding: 0;
    font-weight: 200;

    span {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #e71d2b;
      text-transform: uppercase;
    }
  }
}

#faq-template-container,
#already-played-template-container,
#competition-landing-page-child-six,
#thank-you-page-accordion {
  color: #000000;

  .cmp-accordion {
    &__item {
      background: #ffffff;
      border-radius: 90px;
      padding: 16px 24px;
      margin-bottom: 15px;

      &[data-cmp-expanded] {
        border-radius: 35px;

        .cmp-accordion__header {
          padding: 16px 0;
          border-bottom: 1px solid rgba(0, 155, 222, 0.5);
        }
      }

      .cmp-accordion__header {
        margin: 0;

        button {
          background: transparent;
          border: 2px solid transparent;
          display: flex;
          align-items: center;
          width: 100%;
          padding: 0;

          .cmp-accordion {
            &__title {
              text-align: left;
              flex: 0 0 80%;
              font-family: "NimbusSanLOT";
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 150%;
            }

            &__icon {
              flex: 0 0 20%;
              width: 25px;
              height: 25px;
              background: url("/content/dam/global/promotions/aperopromotions/uk/en/images/Accordion-Plus.png")
                no-repeat right center;
            }
          }
        }
      }
    }
  }

  .cmp-accordion__panel {
    &--hidden {
      display: none;
    }
  }

  .cmp-accordion__panel {
    &--expanded {
      display: block;

      p {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

#competition-landing-terms-condition-mobile,
#competition-landing-page-child-eight {
  .aem-Grid {
    padding: 35px 0;

    .text {
      #competition-landing-eight-pre-title {
        font-family: "Pinup-Regular";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
        p {
          margin: 0;
        }
      }

      #competition-landing-eight-description {
        font-family: "NimbusSanLOT";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.5);
        p {
          margin: 10px 0 0;
          a {
            color: #e71d2b;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  #Mobile-header-container {
    display: none;
  }

  #competition-landing-header-desktop {
    padding: 24px 65px;
    background: #e71d2b;

    .aem-Grid {
      display: flex;
      align-items: center;

      .image {
        position: relative;
        img {
          position: absolute;
          z-index: 999;
          width: 76px;
          height: 94px;
          max-width: unset;
        }
      }

      .navigationV2 {
        display: flex;
        justify-content: center;
        flex: 1 0 65%;
        .nav--container {
          background: transparent;
          .nav--main {
            ul {
              display: flex;
              list-style: none;
              grid-column-gap: 45px;
              padding-inline-start: 0;
              background: transparent;

              li a {
                font-family: "Pinup-Regular";
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
              }
            }
          }

          .nav--secondary {
            ul {
              list-style: none;
            }
          }
        }
      }

      .button {
        display: flex;
        flex: 0 0 15%;
        #competition-landing-tap-to-win-button {
          background: transparent;
          border: 2px solid transparent;
          display: flex;
          flex-direction: row-reverse;
          cursor: pointer;
          .cmp-button__icon.cmp-button__icon--apero-arrow-icon {
            display: block;
            border-radius: 0 3px 3px 0;
            height: 38px;
            width: 38px;
            background: #0f76b9
              url("/content/dam/global/promotions/aperopromotions/uk/en/icons/Vector%20Icon.png")
              no-repeat center center;
          }
          .cmp-button__text {
            padding: 12px 16px;
            background: #f7e62a;
            border-radius: 3px 0 0 3px;
            font-family: "Pinup-Regular";
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: #0f76b9;
          }
        }
      }

      #competition-landing-header-button-container .aem-Grid {
        display: flex;
        grid-column-gap: 10px;
        align-items: center;
        margin-left: 65px;

        .button {
          button {
            background: transparent;
            border: 2px solid transparent;
            cursor: pointer;
            .cmp-button__icon.cmp-button__icon--apero-search {
              display: block;
              height: 39px;
              width: 39px;
              background: url("/content/dam/global/promotions/aperopromotions/uk/en/icons/Search%20Icon.png")
                no-repeat center center;
            }

            .cmp-button__icon.cmp-button__icon--apero-login {
              display: block;
              height: 39px;
              width: 39px;
              background: url("/content/dam/global/promotions/aperopromotions/uk/en/icons/Account%20Icon.png")
                no-repeat center center;
            }

            .cmp-button__icon.cmp-button__icon--apero-country {
              display: block;
              height: 39px;
              width: 39px;
              background: url("/content/dam/global/promotions/aperopromotions/uk/en/icons/Language%20Icon.png")
                no-repeat center center;
            }
          }
        }
      }
    }
  }

  #desktop-footer-container {
    .aem-Grid {
      background: #e71d2b;
      color: #ffffff;
      padding: 60px 100px;
      border-top: 1px solid #ffffff;

      .list {
        max-width: calc(95% - 60px);

        ul {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          padding-inline-start: 0;
          list-style: none;
          grid-column-gap: 60px;
          grid-row-gap: 30px;

          li {
            flex: 0 0 calc(25% - 60px);
            padding-bottom: 10px;
            border-bottom: 1.5px solid rgba(255, 255, 255, 0.3);

            .cmp-list__item-title {
              font-family: "Pinup-Regular";
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 22px;
              color: #ffffff;
            }
          }
        }
      }

      .socialcomponent {
        max-width: calc(95% - 120px);

        .social_icons {
          display: flex;
          justify-content: flex-end;
          grid-gap: 30px;

          a {
            width: 1.9em;
            height: 1.9em;
            span {
              display: none;
            }
          }
        }
      }

      .text {
        #competion-landing-copy-right-text {
          margin-top: 30px;
          max-width: calc(95% - 120px);
          display: flex;
          justify-content: flex-end;

          p {
            font-family: "NimbusSanLOT";
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            margin: 0;
            color: #ffffff;
          }
        }
      }
    }
  }

  #sticky-footer-buttons-mobile-container {
    display: none;
  }

  #competition-landing-terms-condition-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #competition-landing-header-desktop {
    display: none;
  }

  #Mobile-header-container {
    display: block;

    #mobile-burger-menu-open.cmp-container.closed {
      display: none;
    }

    #mobile-burger-menu-open {
      display: flex;
      background: #e71d2b;
      max-width: calc(100% - 40px);
      padding: 10px 20px;
      align-items: center;
      justify-content: space-between;

      .button {
        #mobile-burger-menu {
          border: none;
          .cmp-button__icon--burger-menu-open {
            width: 25px;
            height: 25px;
            display: block;
            background: url("/content/dam/global/promotions/aperopromotions/uk/en/icons/burger-menu.png")
              no-repeat left center;
          }
        }
      }
    }

    #mobile-burger-menu-close {
      display: none;
    }

    #mobile-burger-menu-close.cmp-container.opened {
      display: block;
      background: #e71d2b;
      position: relative;
      z-index: 9999;

      .navigationV2 {
        .nav--container {
          background: #e71d2b;
          visibility: initial;
          opacity: initial;
          transition: none;
          margin: 0;
          padding: 0;
          border-top: none;
          max-height: 100%;
          overflow: auto;
          position: inherit;
          width: 100%;

          .nav--main {
            margin-bottom: 30px;
            padding: 0 20px;
            & > ul.topmenu {
              display: flex;
              flex-direction: column;
              grid-row-gap: 30px;

              li a {
                color: #ffffff;
                text-decoration: none;
                font-family: "Pinup-Regular";
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
              }
            }
          }

          .nav--secondary {
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            border-top: 1px solid rgba(255, 255, 255, 0.4);
            padding: 0;
            ul {
              display: flex;
              position: initial;
              font-size: initial;
              transition: none;
              margin: 0;
              flex-direction: column;
              grid-gap: 30px;
              padding: 30px 20px 10px;

              li a {
                color: #ffffff;
                text-decoration: none;

                span {
                  font-family: "Pinup-Regular";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 24px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }

      #mobile-header-burger-open-nav-button {
        display: flex;
        background: #e71d2b;
        padding: 30px 20px;
        align-items: center;
        justify-content: space-between;

        .button {
          #burger-close-button {
            border: none;
            .cmp-button__icon--burger-menu-close {
              width: 25px;
              height: 25px;
              display: block;
              background: url("/content/dam/global/promotions/aperopromotions/uk/en/icons/close.png")
                no-repeat left center;
            }
          }
        }
      }
    }

    #competition-landing-terms-condition-mobile .aem-Grid .text {
      #competition-landing-eight-description p,
      #competition-landing-eight-pre-title p {
        color: #ffffff;
      }
    }
  }

  #competition-landing-terms-condition-mobile {
    display: block;
    .aem-Grid {
      background: #e71d2b;
      color: #ffffff;
      .text {
        max-width: 100%;
        padding: 0 20px;

        #competition-landing-eight-description {
          margin-bottom: 30px;
        }
      }
    }
  }

  #desktop-footer-container {
    display: none;
  }

  #sticky-footer-buttons-mobile-container {
    position: fixed;
    background: #ffffff;
    top: 87%;
    height: 90px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    z-index: 999;
    grid-gap: 8px;
    align-items: center;

    .button {
      display: inline-block;
      width: 45%;
      a {
        padding: 18px 12px;
        border-radius: 2px;
        text-decoration: none;

        &#mobile-footer-create-an-login-button {
          background: #2e8538;
          display: block;
          color: #ffffff;
          text-align: center;
        }

        &#mobile-footer-login-button {
          display: flex;
          border: 1px solid #2e8538;
          justify-content: center;
          color: #2e8538;
        }

        span {
          font-family: "Pinup-Regular";
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }

  #competition-landing-main-content-container.cmp-container.closed {
    display: none;
  }

  /* header Mobile for Thank you page */
  #already-played-header-mobile {
    position: relative;
    .aem-Grid {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px 20px;
      background: #e71d2b;
      justify-content: center;
      max-width: calc(100% - 40px);

      .languagenavigation {
        nav.cmp-languagenavigation {
          &::after {
            position: absolute;
            top: 44%;
            left: 40px;
            content: "";
            border: solid #ffffff;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            margin-left: 6px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }

          .cmp-languagenavigation__group {
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            top: 20px;
            left: 0;
            z-index: 9;

            li {
              display: none;
              padding: 5px 20px;
              a {
                font-family: "NimbusSanLOT";
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #ffffff;
                text-decoration: none;
                text-transform: uppercase;
              }
  
              &:nth-child(1) {
                display: block;
              }
            }
          }

          &.languageOpened {
            li {
              display: block;
            }
          }
        }
      }

      .image {
        display: flex;
        justify-content: center;
        z-index: 9;
      }

      .text {
        display: flex;
        justify-content: flex-end;
        z-index: 9;
      }
    }
  }
  /* End CSS */
}

/* End CSS */
