/* Start CSS Thank-You Page Template */
@media only screen and (max-width: 768px) {
  #already-played-template-container #thank-you-page-template-child-three,
  #already-played-template-container #thank-you-page-template-child-two,
  #Thank-you-page-template-container #thank-you-page-template-child-three,
  #Thank-you-page-template-container #thank-you-page-template-child-two {
    padding: 60px 20px;
  }
  #already-played-template-container #thank-you-page-template-child-one,
  #Thank-you-page-template-container #thank-you-page-template-child-one {
    padding: 0 20px;
  }
  #already-played-template-container #thank-you-page-template-child-one,
  #Thank-you-page-template-container #thank-you-page-template-child-one {
    background: #e71d2b;
  }
  #already-played-template-container #thank-you-page-template-child-one #thank-you-page-header .languagenavigation,
  #Thank-you-page-template-container #thank-you-page-template-child-one #thank-you-page-header .languagenavigation {
    flex: 0 0 45%;
  }
  #already-played-template-container #thank-you-page-template-child-one #thank-you-page-header .image,
  #Thank-you-page-template-container #thank-you-page-template-child-one #thank-you-page-header .image {
    flex: 0 0 55%;
  }
  #already-played-template-container #thank-you-page-template-child-one #thank-you-page-content-one,
  #Thank-you-page-template-container #thank-you-page-template-child-one #thank-you-page-content-one {
    padding: 60px 0;
  }
  #already-played-template-container #thank-you-page-template-child-one #thank-you-page-content-one .image,
  #Thank-you-page-template-container #thank-you-page-template-child-one #thank-you-page-content-one .image {
    text-align: center;
  }
  #already-played-template-container #thank-you-page-template-child-one #thank-you-page-content-title,
  #Thank-you-page-template-container #thank-you-page-template-child-one #thank-you-page-content-title {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #ffffff;
  }
  #already-played-template-container #thank-you-page-template-child-one #thank-you-page-content-title p,
  #Thank-you-page-template-container #thank-you-page-template-child-one #thank-you-page-content-title p {
    margin-bottom: 0;
  }
  #already-played-template-container #thank-you-page-template-child-one #thank-you-page-content-pre-title,
  #Thank-you-page-template-container #thank-you-page-template-child-one #thank-you-page-content-pre-title {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #f7e62a;
  }
  #already-played-template-container #thank-you-page-template-child-one #thank-you-page-content-description,
  #Thank-you-page-template-container #thank-you-page-template-child-one #thank-you-page-content-description {
    font-family: "NimbusSanLOT";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
  }
  #already-played-template-container #thank-you-page-template-child-one #thank-you-page-content-description p,
  #Thank-you-page-template-container #thank-you-page-template-child-one #thank-you-page-content-description p {
    margin: 0 0 20px;
  }
  #already-played-template-container #thank-you-page-template-child-two,
  #Thank-you-page-template-container #thank-you-page-template-child-two {
    background: #009bde;
  }
  #already-played-template-container #thank-you-page-template-child-two #thank-you-page-child-two-title,
  #Thank-you-page-template-container #thank-you-page-template-child-two #thank-you-page-child-two-title {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
  }
  #already-played-template-container #thank-you-page-template-child-two #thank-you-page-child-two-text-link,
  #Thank-you-page-template-container #thank-you-page-template-child-two #thank-you-page-child-two-text-link {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    width: -moz-fit-content;
    width: fit-content;
    margin: 30px 0;
    padding: 0 20px;
    border-bottom: 2px solid #f7e62a;
  }
  #already-played-template-container #thank-you-page-template-child-two #thank-you-page-child-two-text-link p,
  #Thank-you-page-template-container #thank-you-page-template-child-two #thank-you-page-child-two-text-link p {
    margin-bottom: 6px;
  }
  #already-played-template-container #thank-you-page-template-child-three,
  #Thank-you-page-template-container #thank-you-page-template-child-three {
    background: #e71d2b;
    text-align: center;
  }
  #already-played-template-container #thank-you-page-template-child-three #thank-you-page-child-three-title,
  #Thank-you-page-template-container #thank-you-page-template-child-three #thank-you-page-child-three-title {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
  }
  #already-played-template-container #thank-you-page-template-child-three .socialcomponent .social_icons,
  #Thank-you-page-template-container #thank-you-page-template-child-three .socialcomponent .social_icons {
    display: flex;
    justify-content: center;
    grid-gap: 25px;
  }
  #already-played-template-container #thank-you-page-template-child-three .socialcomponent .social_icons a,
  #Thank-you-page-template-container #thank-you-page-template-child-three .socialcomponent .social_icons a {
    width: 2.5em;
    height: 2.5em;
  }
  #already-played-template-container #thank-you-page-template-child-three .socialcomponent .social_icons a span,
  #Thank-you-page-template-container #thank-you-page-template-child-three .socialcomponent .social_icons a span {
    display: none;
  }
  #already-played-template-container #thank-you-page-template-child-four,
  #Thank-you-page-template-container #thank-you-page-template-child-four {
    background: #ffffff;
    padding: 30px 20px 20px;
  }
  #already-played-template-container #thank-you-page-template-child-four #thank-you-page-child-four-header,
  #Thank-you-page-template-container #thank-you-page-template-child-four #thank-you-page-child-four-header {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    -webkit-padding-start: 20px;
            padding-inline-start: 20px;
  }
  #already-played-template-container #thank-you-page-template-child-four #thank-you-page-child-four-description,
  #Thank-you-page-template-container #thank-you-page-template-child-four #thank-you-page-child-four-description {
    font-family: "NimbusSanLOT";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
  }
  #already-played-template-container #thank-you-page-template-child-four #thank-you-page-child-four-text-link p a,
  #Thank-you-page-template-container #thank-you-page-template-child-four #thank-you-page-child-four-text-link p a {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #e71d2b;
  }
}
/* End CSS *//*# sourceMappingURL=thank-you-page-template.css.map */