@use './Apero-template-scss/pre-game-template/pre-game-template.scss';
@use './Apero-template-scss/thank-you-page-template/thank-you-page-template.scss';
@use './Apero-template-scss/common-template/common-template.scss';
@use "./Apero-template-scss/landing-template/landing-template.scss";
@use "./Apero-template-scss/create-or-login-template/create-or-login-template.scss";
@use "./Apero-template-scss/faq-template/faq-template.scss";
@use "./Apero-template-scss/homepage-template/homepage-template.scss";
@use './Apero-template-scss/already-palyed-template/already-palyed-template.scss';
@use './Apero-template-scss/receipt-upload-template/receipt-upload-template.scss';


body {
  margin: 0 auto;
  overflow: hidden;
}

/* font import start */

@font-face {
  font-family: "Pinup-Regular";
  src: url("/content/dam/global/promotions/aperopromotions/uk/en/fonts/Pinup-Regular.otf");
}

@font-face {
  font-family: "NimbusSanLOT";
  src: url("/content/dam/global/promotions/aperopromotions/uk/en/fonts/NimbusSanLOT-Bol.otf");
}

.tns-nav,
.tns-controls,
.new.newpar.section,
.cq-placeholder,
.skip-main {
  display: none;
}

div.image {
  margin-bottom: 0;
}