@use './Apero-template-scss/pre-game-template.scss';
@use './Apero-template-scss/thank-you-page-template.scss';
@use './Apero-template-scss/common-template.scss';
@use "./Apero-template-scss/landing-template.scss";
@use "./Apero-template-scss/create-or-login-template.scss";


body {
  margin: 0 auto;
  overflow: hidden;
}

/* font import start */

@font-face {
  font-family: "Pinup-Regular";
  src: url("/content/dam/global/promotions/kelloggs-gaming/en_ca/fonts/Pinup-Regular.otf");
}

@font-face {
  font-family: "DIN-Next-Rounded-LT-Pro-Bold";
  src: url("/content/dam/global/promotions/kelloggs-gaming/en_ca/fonts/DIN-Next-Rounded-LT-Pro-Bold.ttf");
}

@font-face {
  font-family: "DIN-Next-LT-Pro-Regular";
  src: url("/content/dam/global/promotions/kelloggs-gaming/en_ca/fonts/DIN-Next-LT-Pro-Regular.ttf");
}

@font-face {
  font-family: "DIN-Next-LT-Pro-Medium";
  src: url("/content/dam/global/promotions/kelloggs-gaming/en_ca/fonts/DIN-Next-LT-Pro-Medium.ttf");
}

.skip-main {
  display: none;
}

