#esg-footer-container {
  border-top: 1px solid #EBEBEB;
}
#esg-footer-container .aem-Grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px;
  grid-gap: 18px;
}
#esg-footer-container .aem-Grid .socialcomponent #sociallinks {
  display: flex;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
}
#esg-footer-container .aem-Grid .socialcomponent #sociallinks a img {
  width: 100%;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
}
#esg-footer-container .aem-Grid .socialcomponent #sociallinks a span {
  display: none;
}
#esg-footer-container .aem-Grid .text p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  opacity: 0.5;
}

.languagenavigation {
  position: relative;
}
.languagenavigation nav ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}
.languagenavigation nav ul li {
  display: none;
}
.languagenavigation nav ul li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}
.languagenavigation nav ul li .mobile-down-arrow,
.languagenavigation nav ul li .mobile-down-arrow.mobile-up-arrow {
  display: none;
}
.languagenavigation nav ul li:nth-child(1) {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999999;
}
.languagenavigation nav ul li:nth-child(1) a {
  position: relative;
  z-index: 99999;
}
.languagenavigation nav ul li:nth-child(1) .mobile-down-arrow,
.languagenavigation nav ul li:nth-child(1) .mobile-down-arrow.mobile-up-arrow {
  display: block;
}
.languagenavigation nav ul.languageOpened {
  margin: 0;
  position: absolute;
  top: -25px;
  z-index: 9999;
  left: 0;
  background: #ffffff;
  border-radius: 6px;
  width: 100%;
}
.languagenavigation nav ul.languageOpened li {
  display: flex;
  margin: 0 12px;
  padding: 12px 0;
  border-top: 2px solid #ebebeb;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 24px);
}
.languagenavigation nav ul.languageOpened li a {
  flex-basis: 80%;
}
.languagenavigation nav ul.languageOpened li.selectedLanguage::after {
  content: "";
  position: relative;
  bottom: 0;
  border: none;
  z-index: 9999;
  display: flex;
  width: 100%;
  right: 0;
  top: -6px;
  height: 13px;
  margin-top: -13px;
  background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/icons/selected-language.png") no-repeat right center;
  background-size: 13px;
}
.languagenavigation nav ul.languageOpened li.selectedLanguage:nth-child(1) {
  box-shadow: none;
  border-top: none;
  z-index: 999999;
  position: relative;
}
.languagenavigation nav ul.languageOpened li.selectedLanguage:nth-child(1)::after {
  content: none;
  background: none;
  height: none;
}
.languagenavigation nav .mobile-down-arrow {
  position: relative;
  border: none;
  display: block;
  width: 15px;
  height: 15px;
  z-index: 9999;
  top: 0;
  left: 0;
  background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/icons/down-arrow.png") no-repeat right center;
  background-size: 10px;
}
.languagenavigation nav .mobile-down-arrow.mobileUpArrow {
  border: none;
  z-index: 9999;
  display: block;
  background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/icons/up-arrow.png") no-repeat right center;
  background-size: 10px;
}

body.languageOpened {
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

#esg-404-container.languageOpened,
#esg-barcode-validation-container.languageOpened,
#esg-receipt-upload-container.languageOpened,
#esg-already-played-container.languageOpened,
#esg-faq-container.languageOpened,
#esg-ready-to-play-page-container.languageOpened,
#esg-thank-you-page-container.languageOpened,
#esg-login-register-container.languageOpened,
#esg-main-container.languageOpened {
  filter: blur(2px);
}

#esg-header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
}
#esg-header-container.languageOpened {
  background: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

@media only screen and (min-width: 769px) {
  #esg-header-container {
    height: 90px;
  }
  #esg-header-container.languageOpened {
    top: -90px;
  }
  #esg-header-container.languageOpened #esg-desktop-container .image,
  #esg-header-container.languageOpened #esg-desktop-container .navigationV2,
  #esg-header-container.languageOpened #esg-desktop-container .button,
  #esg-header-container.languageOpened #esg-desktop-container .logout-v6 {
    filter: blur(2px);
  }
  #esg-desktop-container {
    display: flex;
    margin: 10px 100px;
    align-items: center;
    flex-wrap: wrap;
  }
  #esg-desktop-container .image {
    flex-basis: 15%;
  }
  #esg-desktop-container .image img.cmp-image__image {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #esg-desktop-container .navigationV2 {
    flex-basis: 65%;
    display: flex;
    justify-content: flex-end;
  }
  #esg-desktop-container .navigationV2 .nav--container .nav--main ul {
    padding: 0;
    list-style: none;
    display: flex;
    grid-gap: 20px;
  }
  #esg-desktop-container .navigationV2 .nav--container .nav--main ul li a {
    font-family: "Lilita One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #009bde;
    text-transform: uppercase;
  }
  #esg-desktop-container .navigationV2 .nav--secondary {
    display: none;
  }
  #esg-desktop-container .languagenavigation {
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end;
  }
  #esg-desktop-container .button {
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end;
  }
  #esg-desktop-container .button #esg-account-icon {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/icons/Account.png") no-repeat center center;
    background-size: 38px;
    padding: 0;
  }
  #esg-desktop-container .logout-v6 {
    flex-basis: 10%;
    justify-content: flex-end;
    display: none;
  }
  #esg-desktop-container .logout-v6 #logout-Button {
    font-family: "Lilita One";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 12px 24px;
    background: #000000;
    border-radius: 90px;
    border: none;
  }
  .root:has(#esg-404-container) #esg-header-container .navigationV2,
  .root:has(#esg-barcode-validation-container) #esg-header-container .navigationV2,
  .root:has(#esg-receipt-upload-container) #esg-header-container .navigationV2,
  .root:has(#esg-already-played-container) #esg-header-container .navigationV2,
  .root:has(#esg-ready-to-play-page-container) #esg-header-container .navigationV2,
  .root:has(#esg-thank-you-page-container) #esg-header-container .navigationV2,
  .root:has(#esg-faq-container) #esg-header-container .navigationV2 {
    flex-basis: 60%;
  }
  .root:has(#esg-404-container) #esg-header-container .button,
  .root:has(#esg-barcode-validation-container) #esg-header-container .button,
  .root:has(#esg-receipt-upload-container) #esg-header-container .button,
  .root:has(#esg-already-played-container) #esg-header-container .button,
  .root:has(#esg-ready-to-play-page-container) #esg-header-container .button,
  .root:has(#esg-thank-you-page-container) #esg-header-container .button,
  .root:has(#esg-faq-container) #esg-header-container .button {
    display: none;
  }
  .root:has(#esg-404-container) #esg-header-container .logout-v6,
  .root:has(#esg-barcode-validation-container) #esg-header-container .logout-v6,
  .root:has(#esg-receipt-upload-container) #esg-header-container .logout-v6,
  .root:has(#esg-already-played-container) #esg-header-container .logout-v6,
  .root:has(#esg-ready-to-play-page-container) #esg-header-container .logout-v6,
  .root:has(#esg-thank-you-page-container) #esg-header-container .logout-v6,
  .root:has(#esg-faq-container) #esg-header-container .logout-v6 {
    flex-basis: 15%;
    display: flex;
  }
  #esg-mobile-container {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #esg-header-container {
    height: 80px;
  }
  #esg-header-container.languageOpened {
    top: -80px;
  }
  #esg-header-container.languageOpened #esg-mobile-container #burger-menu .image,
  #esg-header-container.languageOpened #esg-mobile-container #burger-menu .button {
    filter: blur(2px);
  }
  #esg-desktop-container {
    display: none;
  }
  #esg-mobile-container #burger-menu {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    flex-wrap: wrap;
    width: calc(100% - 40px);
  }
  #esg-mobile-container #burger-menu .languagenavigation,
  #esg-mobile-container #burger-menu .image,
  #esg-mobile-container #burger-menu .button {
    flex-basis: 33.33%;
  }
  #esg-mobile-container #burger-menu .button {
    display: flex;
    justify-content: flex-end;
  }
  #esg-mobile-container #burger-menu .button .cmp-button {
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
  }
  #esg-mobile-container #burger-menu .button .cmp-button .cmp-button__icon.cmp-button__icon--esg-burger-icon {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/icons/Burger-menu.png") no-repeat center center;
    background-size: 24px;
  }
  #esg-mobile-container #burger-menu .languagenavigation {
    visibility: initial;
  }
  #esg-mobile-container #burger-menu .languagenavigation nav {
    justify-content: flex-start;
  }
  #esg-mobile-container #burger-menu .languagenavigation nav .cmp-languagenavigation__group.languageOpened {
    top: -13px;
  }
  #esg-mobile-container #burger-menu .languagenavigation nav .mobile-down-arrow.mobileUpArrow {
    top: 0;
  }
  #esg-mobile-container #burger-menu .image img.cmp-image__image {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 180px;
  }
  #esg-mobile-container #burger-close-menu {
    display: none;
    position: relative;
  }
  #esg-mobile-container #burger-close-menu .image img.cmp-image__image {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #esg-mobile-container #burger-close-menu .button {
    position: absolute;
    top: 18px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  #esg-mobile-container #burger-close-menu .button .cmp-button {
    background: none;
    border: none;
    padding: 0;
  }
  #esg-mobile-container #burger-close-menu .button .cmp-button .cmp-button__icon.cmp-button__icon--burger-close-icon {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/icons/close.png") no-repeat center center;
    background-size: 47px;
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container nav ul {
    list-style: none;
    -webkit-padding-start: 26px;
            padding-inline-start: 26px;
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    max-width: calc(100% - 46px);
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container nav ul li a,
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container nav ul li span {
    font-family: "Lilita One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #000000;
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container .nav--secondary {
    border-top: 1px solid #ebebeb;
    margin: 24px 20px;
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container .nav--secondary ul {
    -webkit-padding-start: 6px;
            padding-inline-start: 6px;
    margin: 24px 0;
  }
  .languagenavigation.burgerMenuClosed,
  .cmp-button__icon--esg-burger-icon.burgerMenuOpened {
    visibility: hidden !important;
  }
  #burger-close-menu.burgerMenuOpened {
    display: block !important;
  }
  .logout-v6,
  .cmp-container.burgerMenuOpened,
  #esg-main-container.burgerMenuOpened,
  #esg-footer-container.burgerMenuOpened {
    display: none;
  }
}/*# sourceMappingURL=header-footer.css.map */