#KSTL-main-container > .coreContainer {
  position: relative;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) {
  position: absolute;
  width: 100%;
  background: #f7e62a;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText .kstl-rich-text {
  text-align: center;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText .kstl-rich-text .kstl-one-title-blue {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  color: #0f76b9;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText .kstl-rich-text .kstl-one-description-red {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  color: #e71d2b;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) {
  display: flex;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) .image,
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two {
  flex: 1;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two {
  background: #e71d2b;
  color: #ffffff;
  display: flex;
  align-items: center;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText {
  padding: 0 64px;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText .kstl-rich-text {
  font-family: "Pinup";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 84px;
  color: #ffffff;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText .kstl-description-one {
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 30px;
}

#KSTL-landing-container-child-three {
  display: flex;
}
#KSTL-landing-container-child-three .coreContainer,
#KSTL-landing-container-child-three .image {
  flex: 1;
}
#KSTL-landing-container-child-three > .coreContainer {
  background: #e71d2b;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container {
  background: #e71d2b;
  color: #ffffff;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container .title {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 60px;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container .title .yellow-promotion {
  color: #f7e62a;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 50px;
  position: relative;
  color: #ffffff;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .dashed-line {
  position: absolute;
  left: 25px;
  top: 100%;
  height: 100px;
  border-left: 1px dashed #ffffff;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-union-icon,
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-note-pad-icon,
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-receipt-icon,
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-game-icon,
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-money-icon {
  width: 50px;
  height: 50px;
  flex: 0 0 20%;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-content {
  flex: 0 0 80%;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-content .list-item-title {
  margin-bottom: 10px;
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-content .list-item-description {
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-union-icon {
  background: url("/content/dam/pringles/en_GB/images/icons/kstl-icons/union.png") no-repeat left center;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-note-pad-icon {
  background: url("/content/dam/pringles/en_GB/images/icons/kstl-icons/note-pad.png") no-repeat left center;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-game-icon {
  background: url("/content/dam/pringles/en_GB/images/icons/kstl-icons/game.png") no-repeat left center;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-receipt-icon {
  background: url("/content/dam/pringles/en_GB/images/icons/kstl-icons/Receipt.png") no-repeat left center;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-money-icon {
  background: url("/content/dam/pringles/en_GB/images/icons/kstl-icons/Money.png") no-repeat left center;
}

#KSTL-landing-container-child-four {
  position: absolute;
  background: #f7e62a;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) {
  display: flex;
  background: #f7e62a;
}
.coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two {
  display: flex;
}
.coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two .coreContainer .markupText {
  height: 100%;
}
.coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two .coreContainer .markupText .kstl-rich-text {
  height: 100%;
}
.coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two .coreContainer .markupText .kstl-rich-text .kstl-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two .coreContainer .markupText .kstl-rich-text .kstl-content .kstl-title {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #0f76b9;
}
.coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two .coreContainer .markupText .kstl-rich-text .kstl-content .kstl-description {
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: center;
}

.coreContainer:has(> #KSTL-landing-container-child-five) {
  display: flex;
  background: #e71d2b;
}

#KSTL-landing-container-child-five > .coreContainer {
  position: relative;
}
#KSTL-landing-container-child-five > .coreContainer .image img {
  position: relative;
}
#KSTL-landing-container-child-five > .coreContainer .coreButton {
  border: none;
  margin-bottom: 20px;
  padding: 0;
}
#KSTL-landing-container-child-five > .coreContainer .coreButton button {
  font-family: "Pinup-Regular";
  font-style: normal;
  color: #f7e62a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-left: 20px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
}
#KSTL-landing-container-child-five > .coreContainer .coreButton button::before {
  content: "";
  width: 62px;
  height: 62px;
  display: block;
  position: relative;
  background: url("/content/dam/pringles/en_GB/images/icons/kstl-icons/ar-experience.png") no-repeat left center;
  background-size: 61px;
  left: -20px;
}
#KSTL-landing-container-child-five > .coreContainer .markupText .kstl-rich-text .kstl-four-title {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
#KSTL-landing-container-child-five > .coreContainer .markupText .kstl-rich-text .kstl-four-description {
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

#KSTL-landing-container-child-five-sub-child-two .image {
  position: relative;
  top: 105px;
  z-index: 9;
}
#KSTL-landing-container-child-five-sub-child-two .markupText {
  height: 180px;
  background: yellow;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  margin-top: -75px;
  width: 518px;
  margin: -75px auto 0;
}

.coreContainer:has(> #KSTL-landing-container-child-six) {
  background: #009bde;
  color: #ffffff;
  display: flex;
}
.coreContainer:has(> #KSTL-landing-container-child-six) .coreContainer,
.coreContainer:has(> #KSTL-landing-container-child-six) #KSTL-landing-container-child-six {
  flex: 1;
}
.coreContainer:has(> #KSTL-landing-container-child-six) #KSTL-landing-container-child-six .coreContainer .markupText .kstl-rich-text .kstl-six-title {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
}
.coreContainer:has(> #KSTL-landing-container-child-six) #KSTL-landing-container-child-six .coreContainer .markupText .kstl-rich-text .kstl-six-description {
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding: 25px 0;
}
.coreContainer:has(> #KSTL-landing-container-child-six) #KSTL-landing-container-child-six .coreContainer .buttonLink {
  font-family: "Pinup-Regular";
  font-size: 14px;
  line-height: 16px;
  border-bottom: 2px solid #f7e62a;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px 7px;
  margin-bottom: 25px;
}

.coreContainer:has(> #KSTL-landing-container-child-seven) {
  background: #e71d2b;
  text-align: center;
}
.coreContainer:has(> #KSTL-landing-container-child-seven) #KSTL-landing-container-child-seven {
  background: #e71d2b;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 20px;
}
.coreContainer:has(> #KSTL-landing-container-child-seven) #KSTL-landing-container-child-seven .image img {
  width: 61px;
}
.coreContainer:has(> #KSTL-landing-container-child-seven) #KSTL-landing-container-child-seven .markupText .kstl-rich-text {
  max-width: 450px;
  text-align: center;
}
.coreContainer:has(> #KSTL-landing-container-child-seven) #KSTL-landing-container-child-seven .markupText .kstl-rich-text .kstl-seven-title {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
}
.coreContainer:has(> #KSTL-landing-container-child-seven) #KSTL-landing-container-child-seven .markupText .kstl-rich-text .kstl-seven-description {
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding-top: 20px;
}
.coreContainer:has(> #KSTL-landing-container-child-seven) #KSTL-landing-container-child-seven .buttonLink {
  font-family: "Pinup";
  font-size: 14px;
  line-height: 16px;
  border-bottom: 2px solid #f7e62a;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px 7px;
}

#KSTL-landing-container-child-eight {
  padding: 40px 100px;
}
#KSTL-landing-container-child-eight .markupText .kstl-rich-text .KSTL-eight-title {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}
#KSTL-landing-container-child-eight .markupText .kstl-rich-text .KSTL-eight-description {
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  max-width: 880px;
}
#KSTL-landing-container-child-eight .markupText .kstl-rich-text .KSTL-eight-description a {
  color: #e71d2b;
  text-decoration: underline;
  font-size: 12px;
  line-height: 16px;
}

.coreContainer:has(> #desktop-sticky-container) {
  position: fixed;
  top: 100%;
  width: 100%;
  z-index: 999;
}
.coreContainer:has(> #desktop-sticky-container) .image {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
}
.coreContainer:has(> #desktop-sticky-container) .coreButton {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
  border: none;
  background: none;
}
.coreContainer:has(> #desktop-sticky-container) .coreButton button {
  width: 532px;
  height: 110px;
  background: #f7e62a;
  border: 2px solid transparent;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  color: #e71d2b;
}

@media only screen and (max-width: 768px) {
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) {
    height: 205px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 100%, 0 50%);
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 100%, 0 50%);
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText {
    padding-top: 20px;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText .kstl-rich-text .kstl-one-title-blue {
    font-size: 45px;
    line-height: 54px;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText .kstl-rich-text .kstl-one-description-red {
    font-size: 20px;
    line-height: 24px;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) {
    flex-direction: column-reverse;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText {
    padding: 30px 20px 50px;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText .kstl-rich-text .kstl-title-three {
    font-size: 45px;
    line-height: 54px;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText .kstl-rich-text .kstl-description-one {
    font-size: 14px;
    line-height: 20px;
  }
  #desktop-sticky-container {
    display: none;
  }
  #KSTL-landing-container-child-three {
    flex-direction: column;
  }
  #KSTL-landing-container-child-three .markupText {
    padding: 40px 20px 100px;
  }
  #KSTL-landing-container-child-four {
    width: 100%;
    height: 85px;
    margin-top: -84px;
    left: 0;
  }
  .coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) {
    flex-direction: column;
  }
  .coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two {
    align-items: center;
    flex-direction: column;
  }
  .coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two .image {
    display: block;
    width: 94px;
    position: relative;
    top: -60px;
  }
  .coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two .markupText {
    padding: 0 20px 60px;
  }
  .coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two .markupText .kstl-pre-title {
    font-family: "Pinup";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #e71d2b;
  }
  .coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) .image {
    display: none;
  }
  .coreContainer:has(> #KSTL-landing-container-child-five) {
    flex-direction: column;
  }
  .coreContainer:has(> #KSTL-landing-container-child-five) #KSTL-landing-container-child-five {
    padding: 0 20px;
  }
  .coreContainer:has(> #KSTL-landing-container-child-five) #KSTL-landing-container-child-five > .coreContainer {
    text-align: center;
  }
  .coreContainer:has(> #KSTL-landing-container-child-five) #KSTL-landing-container-child-five > .coreContainer .image img {
    width: 177px;
    top: -61px;
  }
  .coreContainer:has(> #KSTL-landing-container-child-five) #KSTL-landing-container-child-five > .coreContainer .coreButton {
    margin-top: -60px;
    margin-bottom: 0;
  }
  .coreContainer:has(> #KSTL-landing-container-child-five) #KSTL-landing-container-child-five > .coreContainer .markupText .kstl-four-title {
    font-size: 30px;
    line-height: 36px;
    padding: 20px 0;
  }
  .coreContainer:has(> #KSTL-landing-container-child-five) #KSTL-landing-container-child-five-sub-child-two .image img {
    max-width: 100%;
  }
  .coreContainer:has(> #KSTL-landing-container-child-five) #KSTL-landing-container-child-five-sub-child-two .markupText {
    width: 100%;
  }
  .coreContainer:has(> #KSTL-landing-container-child-six) {
    padding: 80px 20px;
    flex-direction: column;
  }
  .coreContainer:has(> #KSTL-landing-container-child-seven) {
    padding: 40px 20px;
  }
  .coreContainer:has(> #KSTL-landing-container-child-seven) #KSTL-landing-container-child-seven {
    align-items: flex-start;
  }
  .coreContainer:has(> #KSTL-landing-container-child-seven) #KSTL-landing-container-child-seven .markupText .kstl-rich-text {
    max-width: 100%;
    text-align: left;
  }
  .coreContainer:has(> #KSTL-landing-container-child-seven) #KSTL-landing-container-child-seven .markupText .kstl-rich-text .kstl-seven-title {
    font-size: 18px;
    line-height: 22px;
  }
  .coreContainer:has(> #KSTL-landing-container-child-seven) #KSTL-landing-container-child-seven .image {
    display: none;
  }
  #KSTL-landing-container-child-eight {
    padding: 40px 20px;
  }
}
@media only screen and (min-width: 769px) {
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) {
    height: 200px;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    justify-content: center;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText .kstl-rich-text .kstl-one-title-blue {
    font-size: 45px;
    line-height: 54px;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText .kstl-rich-text .kstl-one-description-red {
    font-size: 30px;
    line-height: 36px;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText {
    padding: 0 64px;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText .kstl-rich-text {
    font-size: 70px;
    line-height: 84px;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText .kstl-description-one {
    font-size: 16px;
    line-height: 24px;
    padding-top: 30px;
  }
  #KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container {
    padding: 80px 80px 0;
  }
  #KSTL-landing-container-child-four {
    width: 378px;
    height: 75px;
    left: calc(50% - 189px);
    margin-top: -74px;
  }
  .coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) .markupText .kstl-content {
    padding: 0 55px;
  }
  .coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) .markupText .kstl-content .kstl-pre-title {
    display: none;
  }
  .coreContainer:has(> #KSTL-landing-container-child-five) {
    padding: 0 100px;
  }
  .coreContainer:has(> #KSTL-landing-container-child-five) #KSTL-landing-container-child-five > .coreContainer .image img {
    width: 191px;
    position: relative;
    top: -61px;
  }
  .coreContainer:has(> #KSTL-landing-container-child-five) #KSTL-landing-container-child-five > .coreContainer .markupText .kstl-four-title {
    font-size: 50px;
    line-height: 60px;
  }
  .coreContainer:has(> #KSTL-landing-container-child-five) #KSTL-landing-container-child-five-sub-child-two .image img {
    max-width: 540px;
  }
  .coreContainer:has(> #KSTL-landing-container-child-six) {
    padding: 80px 100px;
  }
  .coreContainer:has(> #KSTL-landing-container-child-seven) {
    padding: 40px 0;
  }
  .coreContainer:has(> #KSTL-landing-container-child-seven) #KSTL-landing-container-child-seven .markupText .kstl-rich-text {
    max-width: 450px;
    text-align: center;
  }
  .coreContainer:has(> #KSTL-landing-container-child-seven) #KSTL-landing-container-child-seven .markupText .kstl-rich-text .kstl-seven-title {
    font-size: 30px;
    line-height: 36px;
  }
  #KSTL-landing-container-child-eight {
    padding: 40px 100px;
  }
}
body {
  margin: 0 auto;
  overflow: hidden;
  font-family: "Pinup-Regular";
}

/* font import start */
@font-face {
  font-family: "Pinup-Regular";
  src: url("/content/dam/pringles/en_GB/fonts/Pinup.woff2");
}
@font-face {
  font-family: "NimbusSanLOT";
  src: url("/content/dam/pringles/en_GB/kstl_2023/uk/en/fonts/NimbusSanLOT-Bol.otf");
}
.image {
  line-height: 0;
}/*# sourceMappingURL=kstl-main-2023.css.map */