@use "../KSTL/landing-page-template/landing-page-template.scss";

body {
  margin: 0 auto;
  overflow: hidden;
  font-family: "Pinup-Regular";
}

/* font import start */

@font-face {
  font-family: "Pinup-Regular";
  src: url("/content/dam/pringles/en_GB/fonts/Pinup.woff2");
}

@font-face {
  font-family: "NimbusSanLOT";
  src: url("/content/dam/pringles/en_GB/fonts/NimbusSanLOT-Bol.otf");
}

.image {
  line-height: 0;
}

[js-page-name="competition-landing-page"] {
  a.menu-button:focus {
    outline: none;
  }
}