#KSTL-main-container > .coreContainer {
  position: relative;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) {
  height: 200px;
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  justify-content: center;
  position: absolute;
  width: 100%;
  background: #f7e62a;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText .kstl-rich-text {
  text-align: center;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText .kstl-rich-text .kstl-one-title-blue {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  color: #0f76b9;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText .kstl-rich-text .kstl-one-description-red {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  color: #e71d2b;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) {
  display: flex;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) .image,
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two {
  flex: 1;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two {
  background: #e71d2b;
  color: #ffffff;
  display: flex;
  align-items: center;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText {
  padding: 0 64px;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText .kstl-rich-text {
  font-family: "Pinup";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 84px;
  color: #ffffff;
}
#KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText .kstl-description-one {
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 30px;
}

#KSTL-landing-container-child-three {
  display: flex;
}
#KSTL-landing-container-child-three .coreContainer,
#KSTL-landing-container-child-three .image {
  flex: 1;
}
#KSTL-landing-container-child-three > .coreContainer {
  background: #e71d2b;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container {
  background: #e71d2b;
  color: #ffffff;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container .title {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 60px;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container .title .yellow-promotion {
  color: #f7e62a;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 50px;
  position: relative;
  color: #ffffff;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .dashed-line {
  position: absolute;
  left: 25px;
  top: 100%;
  height: 100px;
  border-left: 1px dashed #ffffff;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-union-icon,
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-note-pad-icon,
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-receipt-icon,
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-game-icon,
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-money-icon {
  width: 50px;
  height: 50px;
  flex: 0 0 20%;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-content {
  flex: 0 0 80%;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-content .list-item-title {
  margin-bottom: 10px;
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-content .list-item-description {
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-union-icon {
  background: url("/content/dam/pringles/en_GB/images/icons/kstl-icons/union.png") no-repeat left center;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-note-pad-icon {
  background: url("/content/dam/pringles/en_GB/images/icons/kstl-icons/note-pad.png") no-repeat left center;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-game-icon {
  background: url("/content/dam/pringles/en_GB/images/icons/kstl-icons/game.png") no-repeat left center;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-receipt-icon {
  background: url("/content/dam/pringles/en_GB/images/icons/kstl-icons/Receipt.png") no-repeat left center;
}
#KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container ul li .list-item-money-icon {
  background: url("/content/dam/pringles/en_GB/images/icons/kstl-icons/Money.png") no-repeat left center;
}

#KSTL-landing-container-child-four {
  width: 378px;
  height: 75px;
  left: calc(50% - 189px);
  margin-top: -74px;
  position: absolute;
  background: #f7e62a;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) {
  display: flex;
  background: #f7e62a;
}
.coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two {
  display: flex;
}
.coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two .coreContainer .markupText {
  height: 100%;
}
.coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two .coreContainer .markupText .kstl-rich-text {
  height: 100%;
}
.coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two .coreContainer .markupText .kstl-rich-text .kstl-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 0 55px;
}
.coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two .coreContainer .markupText .kstl-rich-text .kstl-content .kstl-title {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #0f76b9;
}
.coreContainer:has(> #KSTL-landing-container-child-four-sub-child-two) #KSTL-landing-container-child-four-sub-child-two .coreContainer .markupText .kstl-rich-text .kstl-content .kstl-description {
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: center;
}

.coreContainer:has(> #KSTL-landing-container-child-five) {
  display: flex;
  padding: 0 100px;
  background: #e71d2b;
}

#KSTL-landing-container-child-five > .coreContainer {
  position: relative;
}
#KSTL-landing-container-child-five > .coreContainer .image img {
  width: 191px;
  height: 151px;
  position: relative;
  top: -42px;
}
#KSTL-landing-container-child-five > .coreContainer .coreButton {
  border: none;
  margin-bottom: 20px;
  padding: 0;
}
#KSTL-landing-container-child-five > .coreContainer .coreButton button {
  font-family: "Pinup-Regular";
  font-style: normal;
  color: #f7e62a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-left: 20px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
}
#KSTL-landing-container-child-five > .coreContainer .coreButton button::before {
  content: "";
  width: 62px;
  height: 62px;
  display: block;
  position: relative;
  background: url("/content/dam/pringles/en_GB/images/icons/kstl-icons/ar-experience.png") no-repeat left center;
  background-size: 61px;
  left: -20px;
}
#KSTL-landing-container-child-five > .coreContainer .markupText .kstl-rich-text .kstl-four-title {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  text-transform: uppercase;
}
#KSTL-landing-container-child-five > .coreContainer .markupText .kstl-rich-text .kstl-four-description {
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

#KSTL-landing-container-child-five-sub-child-two .image {
  position: relative;
  top: 105px;
  z-index: 9;
}
#KSTL-landing-container-child-five-sub-child-two .image img {
  max-width: 540px;
}
#KSTL-landing-container-child-five-sub-child-two .markupText {
  height: 180px;
  background: yellow;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  margin-top: -75px;
  width: 518px;
  margin: -75px auto 0;
}

@media only screen and (min-width: 768px) {
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText .kstl-rich-text .kstl-one-title-blue {
    font-size: 45px;
    line-height: 54px;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText .kstl-rich-text .kstl-one-description-red {
    font-size: 20px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 769px) {
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText .kstl-rich-text .kstl-one-title-blue {
    font-size: 45px;
    line-height: 54px;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(2) .markupText .kstl-rich-text .kstl-one-description-red {
    font-size: 30px;
    line-height: 36px;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText {
    padding: 0 64px;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText .kstl-rich-text {
    font-size: 70px;
    line-height: 84px;
  }
  #KSTL-main-container > .coreContainer > .coreContainer:nth-child(3) #KSTL-landing-container-child-one-sub-child-two .markupText .kstl-description-one {
    font-size: 16px;
    line-height: 24px;
    padding-top: 30px;
  }
  #KSTL-landing-container-child-three > .coreContainer .markupText .kstl-rich-text .list-container {
    padding: 80px 80px 0;
  }
}
body {
  margin: 0 auto;
  overflow: hidden;
  font-family: "Pinup-Regular";
}

/* font import start */
@font-face {
  font-family: "Pinup-Regular";
  src: url("/content/dam/pringles/en_GB/fonts/Pinup.woff2");
}
@font-face {
  font-family: "NimbusSanLOT";
  src: url("/content/dam/pringles/en_GB/kstl_2023/uk/en/fonts/NimbusSanLOT-Bol.otf");
}
.image {
  line-height: 0;
}/*# sourceMappingURL=kstl-main-2023.css.map */