.monty-brand-one-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #e71d2b;
}
.monty-brand-one-container .kstl-rich-text .montey-content-one h2.monty-white {
  font-family: "Pinup";
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.monty-brand-one-container .kstl-rich-text .montey-content-one h6.monty-yellow {
  font-family: "Pinup";
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}
.monty-brand-one-container .kstl-rich-text .montey-content-two h5.monty-hedaing-white {
  font-family: "Pinup";
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.monty-brand-two-container {
  display: flex;
  flex-wrap: wrap;
  background: #009e80;
  color: #ffffff;
}
.monty-brand-two-container > .grid__item:nth-child(1) {
  line-height: 0;
}
.monty-brand-two-container > .grid__item:nth-child(2) a {
  font-family: "Pinup";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 40px;
  color: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
  background: #e71d2b;
  border-radius: 2px;
  border: none;
}
.monty-brand-two-container > .grid__item:nth-child(2) .kstl-rich-text p {
  font-family: "Pinup";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
.monty-brand-two-container .kstl-rich-text .monty-brand-two-content h5.monty-brand-two-heading-one {
  font-family: "Pinup";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}
.monty-brand-two-container .kstl-rich-text .monty-brand-two-content .monty-brand-two-text-two {
  font-family: "Pinup";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.monty-brand-two-container .kstl-rich-text .monty-brand-two-content h6.monty-brand-two-heading-two {
  font-family: "Pinup";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.monty-brand-two-container .kstl-rich-text .monty-brand-two-content .monty-brand-two-text-three-container p {
  font-family: "Pinup";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
}
.monty-brand-two-container .kstl-rich-text p {
  font-family: "Pinup";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .monty-brand-one-container {
    padding: 40px 20px;
  }
  .monty-brand-one-container > .grid__item:nth-child(2) img {
    position: relative;
    right: -20px;
  }
  .monty-brand-one-container .kstl-rich-text .montey-content-one h2.monty-white {
    font-size: 45px;
    line-height: 54px;
  }
  .monty-brand-one-container .kstl-rich-text .montey-content-one h6.monty-yellow {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 16px;
  }
  .monty-brand-one-container .kstl-rich-text .montey-content-two h5.monty-hedaing-white {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 40px 0 20px;
  }
  .monty-brand-two-container {
    flex-direction: column-reverse;
    padding: 40px 20px 0;
  }
  .monty-brand-two-container > .grid__item:nth-child(1) {
    line-height: 0;
    padding: 0 15px;
  }
  .monty-brand-two-container > .grid__item:nth-child(2) {
    text-align: center;
  }
  .monty-brand-two-container > .grid__item:nth-child(2) a {
    margin: 20px 30px;
  }
  .monty-brand-two-container .kstl-rich-text .monty-brand-two-content h5.monty-brand-two-heading-one {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .monty-brand-two-container .kstl-rich-text .monty-brand-two-content .monty-brand-two-text-two {
    font-size: 12px;
    line-height: 16px;
  }
  .monty-brand-two-container .kstl-rich-text .monty-brand-two-content h6.monty-brand-two-heading-two {
    font-size: 18px;
    line-height: 22px;
    margin: 40px 0 32px;
  }
  .monty-brand-two-container .kstl-rich-text .monty-brand-two-content .monty-brand-two-text-three-container {
    margin-bottom: 10px;
  }
  .monty-brand-two-container .kstl-rich-text .monty-brand-two-content .monty-brand-two-text-three-container p {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 769px) {
  .monty-brand-one-container {
    padding: 60px 0 0 60px;
  }
  .monty-brand-one-container > .grid__item:nth-child(1),
  .monty-brand-one-container > .grid__item:nth-child(2) {
    flex-basis: 50%;
  }
  .monty-brand-one-container > .grid__item:nth-child(3) {
    flex-basis: 100%;
    margin: 60px 158px;
  }
  .monty-brand-one-container > .grid__item:nth-child(2) {
    padding-left: 100px;
  }
  .monty-brand-one-container .kstl-rich-text .montey-content-one h2.monty-white {
    font-size: 60px;
    line-height: 72px;
  }
  .monty-brand-one-container .kstl-rich-text .montey-content-one h6.monty-yellow {
    font-size: 20px;
    line-height: 24px;
  }
  .monty-brand-one-container .kstl-rich-text .montey-content-two h5.monty-hedaing-white {
    font-size: 30px;
    line-height: 36px;
  }
  .monty-brand-two-container {
    padding: 60px 60px 0;
  }
  .monty-brand-two-container > .grid__item:nth-child(1) {
    display: flex;
    align-items: flex-end;
  }
  .monty-brand-two-container > .grid__item:nth-child(1) img {
    padding-right: 120px;
  }
  .monty-brand-two-container .grid__item {
    flex-basis: 50%;
  }
  .monty-brand-two-container .kstl-rich-text .monty-brand-two-content {
    padding-top: 60px;
  }
  .monty-brand-two-container .kstl-rich-text .monty-brand-two-content h5.monty-brand-two-heading-one {
    font-size: 30px;
    line-height: 36px;
  }
  .monty-brand-two-container .kstl-rich-text .monty-brand-two-content .monty-brand-two-text-two {
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0;
  }
  .monty-brand-two-container .kstl-rich-text .monty-brand-two-content h6.monty-brand-two-heading-two {
    font-size: 20px;
    line-height: 24px;
  }
  .monty-brand-two-container .kstl-rich-text .monty-brand-two-content .monty-brand-two-text-three-container {
    margin-top: 20px;
  }
  .monty-brand-two-container .kstl-rich-text .monty-brand-two-content .monty-brand-two-text-three-container p {
    font-size: 12px;
    line-height: 16px;
  }
}/*# sourceMappingURL=brand.css.map */