.text {
  &.bni-gold {
    background-image: linear-gradient(
      90deg,
      #cb9831 0%,
      #f6ee70 33.33%,
      #f6ee70 46.35%,
      #d9bb51 61.98%,
      #e1c046 76.56%,
      #a88435 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &.bni-white {
    color: #ffffff;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 45px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}

.container {
  &.bni-blue {
    background: #034ea2;
  }
  &.bni-red {
    background: #e71d2b;
  }
}

.button {
  cursor: pointer;
  text-align: center;
  font-family: "Pinup-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  a {
    border-radius: 2px;
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    display: block;
  }
  &.bni-secondary-button {
    a {
      color: #fff;
      border: 1px solid #fff;
      padding: 12px 0;
    }
  }
  &.bni-primary-button {
    a {
      background: #fff;
      color: #034ea2;
    }
  }
}

p {
  font-family: "NimbusSanLOT";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  a {
    color: #ffd140;
    font-family: "NimbusSanLOT";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-decoration-line: underline;
  }
}

.accordion {
  padding: 32px 0;
  color: #000000;

  .cmp-accordion {
    &__item {
      background: #ffffff;
      border-radius: 90px;
      padding: 16px 24px;
      margin-bottom: 15px;

      &[data-cmp-expanded] {
        border-radius: 35px;

        .cmp-accordion__header {
          padding: 16px 0;
          border-bottom: 1px solid rgba(0, 155, 222, 0.5);
        }
      }

      .cmp-accordion__header {
        margin: 0;

        button {
          background: transparent;
          border: 2px solid transparent;
          display: flex;
          align-items: center;
          width: 100%;
          padding: 0;
          color: #000000;
          outline: none;

          .cmp-accordion {
            &__title {
              text-align: left;
              flex: 0 0 80%;
              color: #000;
              font-family: "NimbusSanLOT";
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%; /* 21px */
              letter-spacing: 0.07px;
            }

            &__icon {
              flex: 0 0 20%;
              width: 25px;
              height: 25px;
              background: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/images/plus.png")
                no-repeat right center;
              background-size: 25px;
            }
          }
        }
      }
    }
  }

  .cmp-accordion__panel {
    &--hidden {
      display: none;
    }
  }

  .cmp-accordion__panel {
    &--expanded {
      display: block;

      p {
        color: rgba(0, 0, 0, 0.5);
        a {
          word-break: break-word;
        }
      }
    }
  }
}

hr {
  background-image: linear-gradient(
    90deg,
    #cb9831 0%,
    #f6ee70 33.33%,
    #f6ee70 46.35%,
    #d9bb51 61.98%,
    #e1c046 76.56%,
    #a88435 100%
  );
  border: none; /* Remove default border */
  height: 2px; /* Set desired height for the horizontal rule */
  margin: 0;
}

.bright-yellow {
  color: #f7e62a;
}

.breadcrumb {
  color: #fff;
  position: relative;

  nav ol {
    padding-inline-start: 20px;
    margin: 0;
    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      position: absolute;
      height: 10px;
      background: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/images/back-button.png")
        no-repeat left center;
      background-size: 10px;
    }
    li {
      display: none;
      &:nth-last-child(2) {
        display: block;
        position: relative;
        margin-left: 18px;
        bottom: 5px;
        a {
          text-decoration: none;
          color: #000000;
          span {
            color: #fff;
            font-family: "NimbusSanLOT";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 21px */
            letter-spacing: 0.07px;
          }
        }
      }
    }
  }
}

.proceedButton {
  display: block !important;
  width: 100%;
  #proceedButton {
    background: #fff;
    border: none;
    color: #034EA2;
    text-align: center;
    font-family: "Pinup-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    padding: 15px 0;
    border-radius: 2px;
  }
}
