#esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) {
  position: relative;
}
#esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container {
  position: absolute;
}
#esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container .text h3 {
  color: #ffffff;
}
#esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container .button {
  text-align: center;
}
#esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(4) .socialcomponent {
  margin-top: 16px;
}
#esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(4) .socialcomponent #sociallinks {
  display: flex;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
}
#esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(4) .socialcomponent #sociallinks a img {
  width: 100%;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
#esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(4) .socialcomponent #sociallinks a span {
  display: none;
}
#esg-thank-you-page-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: baseline;
}
#esg-thank-you-page-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser {
  text-align: center;
}
#esg-thank-you-page-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser .cmp-teaser {
  text-align: center;
}
#esg-thank-you-page-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser .cmp-teaser .cmp-teaser__image img {
  width: unset;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
#esg-thank-you-page-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser .cmp-teaser .cmp-teaser__content h2.cmp-teaser__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
#esg-thank-you-page-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser .cmp-teaser .cmp-teaser__content .cmp-teaser__description p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #666666;
}
#esg-thank-you-page-container > .container:nth-child(3) {
  background: #009bde;
}
#esg-thank-you-page-container > .container:nth-child(3) > .cmp-container {
  text-align: center;
}
#esg-thank-you-page-container > .container:nth-child(4) > .cmp-container .text p small {
  color: #666666;
}
#esg-thank-you-page-container > .container:nth-child(4) > .cmp-container .text a {
  color: #000000;
  font-family: "Lilita One";
  text-decoration: underline;
}

@media only screen and (min-width: 769px) {
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) {
    position: relative;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .image:nth-child(2) {
    display: none;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container {
    max-width: 770px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container .text {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 56px;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container > .button:nth-child(2) {
    margin: 24px auto 24px;
    width: 300px;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container > .button:nth-child(2) a {
    display: block;
    width: 100%;
    background: #ffffff;
    padding: 12px 0;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container > .button:nth-child(3) {
    margin: 24px auto 24px;
    width: 300px;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container > .button:nth-child(3) a {
    display: block;
    width: 100%;
    padding: 11px 0;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(4) {
    margin-top: 80px;
  }
  #esg-thank-you-page-container > .container:nth-child(2) > .cmp-container {
    margin: 80px 100px;
  }
  #esg-thank-you-page-container > .container:nth-child(2) > .cmp-container > .text {
    margin-bottom: 80px;
  }
  #esg-thank-you-page-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container {
    flex-direction: row;
  }
  #esg-thank-you-page-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser {
    flex-basis: 33.33%;
    text-align: center;
  }
  #esg-thank-you-page-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser .cmp-teaser {
    text-align: center;
  }
  #esg-thank-you-page-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser .cmp-teaser .cmp-teaser__content {
    max-width: 300px;
    margin: 0 auto;
  }
  #esg-thank-you-page-container > .container:nth-child(3) > .cmp-container {
    max-width: 820px;
    margin: 0 auto;
    padding: 90px 0;
  }
  #esg-thank-you-page-container > .container:nth-child(4) > .cmp-container {
    padding: 24px 100px;
  }
}
@media only screen and (max-width: 768px) {
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) {
    position: relative;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .image:nth-child(1) {
    display: none;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container {
    top: 40px;
    padding: 0 20px;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container .text {
    margin-bottom: 0;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container > .button:nth-child(2) {
    margin: 16px auto;
    width: 300px;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container > .button:nth-child(2) a {
    display: block;
    width: 100%;
    background: #ffffff;
    padding: 12px 0;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container > .button:nth-child(3) {
    width: 300px;
    margin: 0 auto;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container > .button:nth-child(3) a {
    display: block;
    width: 100%;
    padding: 11px 0;
  }
  #esg-thank-you-page-container > .container:nth-child(1) > .cmp-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(4) {
    margin-top: 260px;
  }
  #esg-thank-you-page-container > .container:nth-child(2) > .cmp-container {
    margin: 40px 20px;
  }
  #esg-thank-you-page-container > .container:nth-child(2) > .cmp-container > .text {
    margin-bottom: 40px;
  }
  #esg-thank-you-page-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container {
    grid-gap: 40px;
    flex-direction: column;
    align-items: center;
  }
  #esg-thank-you-page-container > .container:nth-child(3) > .cmp-container {
    padding: 40px 20px 50px;
  }
  #esg-thank-you-page-container > .container:nth-child(4) > .cmp-container {
    padding: 24px 20px;
  }
}/*# sourceMappingURL=thank-you.css.map */