@media only screen and (max-width: 1990px) {
  #Thank-you-page-template-container,
  #thank-you-page-template-child-one,
  #already-played-template-container {
    background: #e71d2b;
  }
  #Thank-you-page-template-container #already-played-child-one,
  #thank-you-page-template-child-one #already-played-child-one,
  #already-played-template-container #already-played-child-one {
    background: #e71d2b;
    padding: 0 20px 60px;
    color: #ffffff;
  }
  #Thank-you-page-template-container #already-played-child-one .teaser,
  #thank-you-page-template-child-one #already-played-child-one .teaser,
  #already-played-template-container #already-played-child-one .teaser {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ffffff;
  }
  #Thank-you-page-template-container #already-played-child-one .teaser .cmp-teaser__image,
  #thank-you-page-template-child-one #already-played-child-one .teaser .cmp-teaser__image,
  #already-played-template-container #already-played-child-one .teaser .cmp-teaser__image {
    display: flex;
    justify-content: center;
  }
  #Thank-you-page-template-container #already-played-child-one .teaser .cmp-teaser__image img,
  #thank-you-page-template-child-one #already-played-child-one .teaser .cmp-teaser__image img,
  #already-played-template-container #already-played-child-one .teaser .cmp-teaser__image img {
    width: unset;
  }
  #Thank-you-page-template-container #already-played-child-one .teaser .cmp-teaser__content .cmp-teaser__title,
  #thank-you-page-template-child-one #already-played-child-one .teaser .cmp-teaser__content .cmp-teaser__title,
  #already-played-template-container #already-played-child-one .teaser .cmp-teaser__content .cmp-teaser__title {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #ffffff;
  }
  #Thank-you-page-template-container #already-played-child-one .teaser .cmp-teaser__content .cmp-teaser__description,
  #thank-you-page-template-child-one #already-played-child-one .teaser .cmp-teaser__content .cmp-teaser__description,
  #already-played-template-container #already-played-child-one .teaser .cmp-teaser__content .cmp-teaser__description {
    font-family: "NimbusSanLOT";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
  }
  #Thank-you-page-template-container #already-played-child-one .text #already-played-child-one-title,
  #thank-you-page-template-child-one #already-played-child-one .text #already-played-child-one-title,
  #already-played-template-container #already-played-child-one .text #already-played-child-one-title {
    font-family: "Pinup";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ffd140;
  }
  #Thank-you-page-template-container #already-played-child-one .text #already-played-child-one-title p,
  #thank-you-page-template-child-one #already-played-child-one .text #already-played-child-one-title p,
  #already-played-template-container #already-played-child-one .text #already-played-child-one-title p {
    margin: 24px 0;
  }
  #Thank-you-page-template-container #already-played-child-one .timer,
  #thank-you-page-template-child-one #already-played-child-one .timer,
  #already-played-template-container #already-played-child-one .timer {
    margin-left: -5px;
  }
  #Thank-you-page-template-container #already-played-child-two,
  #thank-you-page-template-child-one #already-played-child-two,
  #already-played-template-container #already-played-child-two {
    background: #e71d2b;
    padding: 0 0 50px;
  }
  #Thank-you-page-template-container #already-played-child-two .markuptext .already-played-title,
  #thank-you-page-template-child-one #already-played-child-two .markuptext .already-played-title,
  #already-played-template-container #already-played-child-two .markuptext .already-played-title {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 15px;
    padding: 0 20px;
  }
  #Thank-you-page-template-container #already-played-child-two .markuptext .already-played-title span,
  #thank-you-page-template-child-one #already-played-child-two .markuptext .already-played-title span,
  #already-played-template-container #already-played-child-two .markuptext .already-played-title span {
    color: #f7e62a;
  }
  #Thank-you-page-template-container #already-played-child-two .teaser .cmp-teaser__content .cmp-teaser__action-container,
  #thank-you-page-template-child-one #already-played-child-two .teaser .cmp-teaser__content .cmp-teaser__action-container,
  #already-played-template-container #already-played-child-two .teaser .cmp-teaser__content .cmp-teaser__action-container {
    width: calc(100% - 40px);
    background: #ffffff;
    padding: 10px 0;
    margin: 0 20px;
    text-align: center;
    position: relative;
    z-index: 8;
    bottom: 20px;
  }
  #Thank-you-page-template-container #already-played-child-two .teaser .cmp-teaser__content .cmp-teaser__action-container a,
  #thank-you-page-template-child-one #already-played-child-two .teaser .cmp-teaser__content .cmp-teaser__action-container a,
  #already-played-template-container #already-played-child-two .teaser .cmp-teaser__content .cmp-teaser__action-container a {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: #e71d2b;
  }
  #Thank-you-page-template-container #already-played-child-three,
  #thank-you-page-template-child-one #already-played-child-three,
  #already-played-template-container #already-played-child-three {
    padding-left: 20px;
    padding-bottom: 50px;
  }
  #Thank-you-page-template-container #already-played-child-three .text p,
  #thank-you-page-template-child-one #already-played-child-three .text p,
  #already-played-template-container #already-played-child-three .text p {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 15px;
  }
}/*# sourceMappingURL=already-palyed-template.css.map */