.monty-banner-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #E71D2B;

  a {
    color: #ffffff;
    &.kstl-default-button {
      font-family: "Pinup";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #e71d2b;
      background: #ffffff;
      padding: 14px 30px;
      text-transform: uppercase;
      border: none;
    }
    :hover {
      color: #ffffff;
    }
  }
  .kstl-rich-text {
    .monty-banner-content {
      color: #ffffff;
      .monty-title {
        font-family: "Pinup";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        color: #ffffff;
        text-transform: uppercase;
      }

      .monty-description {
        font-family: "Pinup";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .monty-banner-container {
    > .grid__item:nth-child(2) {
      text-align: center;
      padding: 20px;
    }
    .kstl-rich-text {
      .monty-banner-content {
        color: #ffffff;
        .monty-title {
          font-size: 30px;
          line-height: 36px;
        }

        .monty-description {
          font-size: 12px;
          line-height: 16px;
          margin: 16px 0 30px;
        }
      }
    }
  }
}
@media only screen and (min-width: 769px) {
  .monty-banner-container {
    > .grid__item {
      flex-basis: 50%;
    }
    > .grid__item:nth-child(2) {
      padding: 0 80px 0 60px;
    }
    .kstl-rich-text {
      .monty-banner-content {
        color: #ffffff;
        .monty-title {
          font-size: 50px;
          line-height: 60px;
        }

        .monty-description {
          font-size: 16px;
          line-height: 24px;
          margin: 20px 0;
        }
      }
    }
  }
}
