#esg-ready-to-play-page-container #esg-hero-teaser.cmp-container {
  position: relative;
}
#esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(1) {
  position: relative;
  background: #009bde;
}
#esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(1) .image img {
  width: 100%;
  max-width: 100%;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
}
#esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container {
  position: absolute;
  top: 40px;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: calc(100% - 40px);
}
#esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .image:nth-child(1) img {
  width: 80px;
  height: 50px;
}
#esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) {
  color: #ffffff;
}
#esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container {
  margin: 0 auto;
}
#esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text {
  padding: 0 20px;
}
#esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text:nth-child(2) {
  margin-top: 8px;
}
#esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(2) {
  margin-top: 20px;
}
#esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(4) .cmp-container {
  display: flex;
  justify-content: center;
  grid-gap: 20px;
}
#esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(4) .cmp-container .proceedButton {
  display: block !important;
}
#esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(4) .cmp-container .proceedButton #proceedButton {
  width: 260px;
  border-radius: 90px;
  padding: 12px 0;
  border: none;
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
#esg-ready-to-play-page-container.cmp-container > .container:nth-child(2) > .cmp-container .text p small {
  color: #666666;
}
#esg-ready-to-play-page-container.cmp-container > .container:nth-child(2) > .cmp-container .text a {
  color: #000000;
  font-family: "Lilita One";
  text-decoration: underline;
}

@media only screen and (min-width: 769px) {
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(1) > .cmp-container > .image:nth-child(2) {
    display: none;
  }
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) {
    margin-top: 20px;
  }
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container {
    height: calc(100% - 40px);
    max-width: 948px;
    bottom: 40px;
  }
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container {
    max-width: 330px;
  }
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container .text {
    padding: 0 20px;
  }
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .text:nth-child(3) {
    max-width: 610px;
    margin: 0 auto;
  }
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(4) .cmp-container {
    flex-direction: row;
  }
  #esg-ready-to-play-page-container.cmp-container > .container:nth-child(2) > .cmp-container {
    padding: 24px 100px;
  }
}
@media only screen and (max-width: 768px) {
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(1) > .cmp-container > .image:nth-child(1) {
    display: none;
  }
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(1) > .cmp-container > .image:nth-child(2) img {
    height: 650px;
  }
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) {
    margin-top: 10px;
  }
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container {
    height: calc(100% - 40px);
    max-width: 100%;
    bottom: 0;
    padding: 0 20px;
  }
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container {
    max-width: 210px;
  }
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .markuptext:nth-child(2) {
    margin-top: 40px;
  }
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(4) .cmp-container {
    flex-direction: column;
  }
  #esg-ready-to-play-page-container #esg-hero-teaser.cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(4) .cmp-container .button {
    margin-bottom: 20px;
  }
  #esg-ready-to-play-page-container.cmp-container > .container:nth-child(2) > .cmp-container {
    padding: 24px 20px;
  }
}/*# sourceMappingURL=ready-to-play.css.map */