#esg-already-played-container > .container:nth-child(1) > .cmp-container {
  position: relative;
}
#esg-already-played-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container {
  position: absolute;
}
#esg-already-played-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container .text h3 {
  color: #ffffff;
}
#esg-already-played-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) {
  width: 100%;
  position: absolute;
  bottom: 40px;
}
#esg-already-played-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) .socialcomponent {
  text-align: center;
  margin-top: 16px;
}
#esg-already-played-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) .socialcomponent #sociallinks {
  display: flex;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
}
#esg-already-played-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) .socialcomponent #sociallinks a img {
  width: 100%;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
#esg-already-played-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) .socialcomponent #sociallinks a span {
  display: none;
}
#esg-already-played-container > .container:nth-child(2) > .cmp-container {
  position: relative;
}
#esg-already-played-container > .container:nth-child(2) > .cmp-container > .embed .ytp-large-play-button.ytp-button.ytp-large-play-button-red-bg {
  top: 420px;
  z-index: 999;
}
#esg-already-played-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#esg-already-played-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) p {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 103px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 16px 0;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container {
  display: flex;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container {
  margin: 0 auto;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container > .text:nth-child(2) p small {
  color: #666666;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container > .teaser:nth-child(3) {
  text-align: center;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container > .teaser:nth-child(3) .cmp-teaser {
  position: relative;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container > .teaser:nth-child(3) .cmp-teaser .cmp-teaser__image img {
  -o-object-fit: cover;
     object-fit: cover;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container > .teaser:nth-child(3) .cmp-teaser .cmp-teaser__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container > .teaser:nth-child(3) .cmp-teaser .cmp-teaser__content h2.cmp-teaser__title {
  color: #ffffff;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container > .teaser:nth-child(3) .cmp-teaser .cmp-teaser__content .cmp-teaser__description {
  margin-top: 10px;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container > .teaser:nth-child(3) .cmp-teaser .cmp-teaser__content .cmp-teaser__description h6 {
  color: #fec45e;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) {
  background-color: #d51e48;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container {
  margin: 0 auto;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container {
  background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/images/BG-charity.png") no-repeat center center;
  margin-top: 75px;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .image:nth-child(1) img {
  margin-top: -50px;
  width: 120px;
  height: 120px;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container {
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) {
  padding: 8px 0;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) p {
  color: #666666;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) p small {
  color: #666666;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .button:nth-child(3) {
  display: flex;
  width: 100%;
  justify-content: center;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .button:nth-child(3) a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  grid-gap: 14px;
  padding: 0;
  border-radius: 0;
  padding-bottom: 10px;
  border-bottom: 3px solid #000000;
  width: -moz-fit-content;
  width: fit-content;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .button:nth-child(3) a .cmp-button__icon--arrow-right {
  background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/images/icons/arrow-right-45.png") no-repeat center center;
  background-size: 13px;
  width: 13px;
  height: 13px;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .button:nth-child(3) a .cmp-button__text {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) {
  position: relative;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .image:nth-child(1) img {
  height: 820px;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container {
  padding: 0 200px;
  display: flex;
  grid-gap: 20px;
  flex-direction: column;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container {
  display: flex;
  width: 100%;
  grid-gap: 20px;
  align-items: baseline;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser {
  flex-basis: 25%;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser .cmp-teaser__image {
  line-height: 0;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser .cmp-teaser__image img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser .cmp-teaser__content {
  background: #ffffff;
  padding: 24px 10px;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  height: 249px;
  justify-content: space-between;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser .cmp-teaser__content h2 {
  font-size: 20px;
  line-height: 23px;
  color: #009bde;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser .cmp-teaser__content h2 a {
  font-size: 20px;
  line-height: 23px;
  color: #009bde;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser .cmp-teaser__content .cmp-teaser__action-container {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 3px solid #000000;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser p {
  color: #666666;
  margin: 0;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container .teaser a {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .button:nth-child(3) {
  display: flex;
  width: 100%;
  justify-content: center;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .button:nth-child(3) a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  grid-gap: 14px;
  padding: 0;
  border-radius: 0;
  padding-bottom: 10px;
  border-bottom: 3px solid #ffffff;
  width: -moz-fit-content;
  width: fit-content;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .button:nth-child(3) a .cmp-button__icon--arrow-right {
  background: url("/content/dam/global/promotions/kelloggs-esg-2023/assets/images/icons/arrow-outward-rounded-white.png") no-repeat center center;
  background-size: 13px;
  width: 13px;
  height: 13px;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .button:nth-child(3) a .cmp-button__text {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container.esg-charity:nth-child(1) {
  flex-basis: 100%;
}
#esg-already-played-container > .container:nth-child(3) > .cmp-container > .container.esg-charity:nth-child(1) > .cmp-container {
  max-width: 830px;
}
#esg-already-played-container > .container:nth-child(4) {
  background: #009bde;
}
#esg-already-played-container > .container:nth-child(4) > .cmp-container {
  text-align: center;
}
#esg-already-played-container > .container:nth-child(5) > .cmp-container .text p small {
  color: #666666;
}
#esg-already-played-container > .container:nth-child(5) > .cmp-container .text a {
  color: #000000;
  font-family: "Lilita One";
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  #esg-already-played-container > .container:nth-child(1) {
    position: relative;
  }
  #esg-already-played-container > .container:nth-child(1) > .cmp-container > .image:nth-child(1) {
    display: none;
  }
  #esg-already-played-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container {
    top: 80px;
    padding: 0 20px;
  }
  #esg-already-played-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container .text {
    margin-bottom: 0;
  }
  #esg-already-played-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) > .cmp-container {
    padding: 0 20px;
  }
  #esg-already-played-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) p {
    font-size: 50px;
    line-height: 57px;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container {
    padding: 40px 20px;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container {
    max-width: 100%;
    padding: 40px 20px;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container > .teaser:nth-child(3) .cmp-teaser .cmp-teaser__image img {
    max-height: 200px;
    max-width: 100%;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container > .teaser:nth-child(3) .cmp-teaser .cmp-teaser__content h2.cmp-teaser__title {
    font-size: 25px;
    line-height: 29px;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container {
    background-size: 335px;
    margin: 55px auto 0;
    height: 385px;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .image:nth-child(1) img {
    margin-top: -30px;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) {
    padding: 0;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) p {
    margin: 12px 0;
  }
  #esg-already-played-container > .container:nth-child(4) > .cmp-container {
    padding: 40px 20px 50px;
  }
  #esg-already-played-container > .container:nth-child(5) > .cmp-container {
    padding: 24px 20px;
  }
}
@media only screen and (min-width: 769px) {
  #esg-already-played-container > .container:nth-child(1) {
    position: relative;
  }
  #esg-already-played-container > .container:nth-child(1) > .cmp-container > .image:nth-child(2) {
    display: none;
  }
  #esg-already-played-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container {
    top: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #esg-already-played-container > .container:nth-child(1) > .cmp-container > .container:nth-child(3) > .cmp-container .text {
    max-width: 610px;
    margin: 0 auto;
    margin-bottom: 56px;
  }
  #esg-already-played-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) > .cmp-container .markuptext {
    max-width: 770px;
    margin: 0 auto;
  }
  #esg-already-played-container > .container:nth-child(2) > .cmp-container > .text:nth-child(2) p {
    font-size: 90px;
    line-height: 103px;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container {
    flex-wrap: wrap;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1),
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) {
    flex-basis: 50%;
    padding-bottom: 220px;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(3) {
    flex-basis: 100%;
    margin-top: -200px;
    z-index: 9;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container {
    padding: 80px 100px;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container {
    max-width: 520px;
    padding: 80px 0;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container > .teaser:nth-child(3) {
    text-align: center;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container > .teaser:nth-child(3) .cmp-teaser {
    position: relative;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container > .teaser:nth-child(3) .cmp-teaser .cmp-teaser__image img {
    height: 260px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(1) > .cmp-container > .teaser:nth-child(3) .cmp-teaser .cmp-teaser__content h2.cmp-teaser__title {
    font-size: 40px;
    line-height: 46px;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container {
    margin: 75px auto 0;
    background-size: 376px;
  }
  #esg-already-played-container > .container:nth-child(3) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container > .container:nth-child(2) > .cmp-container {
    max-width: 320px;
    margin: 10px auto;
  }
  #esg-already-played-container > .container:nth-child(4) > .cmp-container {
    max-width: 820px;
    margin: 0 auto;
    padding: 90px 0;
  }
  #esg-already-played-container > .container:nth-child(5) > .cmp-container {
    padding: 24px 100px;
  }
}/*# sourceMappingURL=already-played.css.map */