@use "../Engage/header/header.scss";
@use "../Engage/common/common.scss";
@use "../Engage/home/home.scss";
@use "../Engage/readt-to-play/ready-to-play-template.scss";
@use "../Engage/thank-you-and-already-played/thank-you-and-already-played.scss";
@use "../Engage/faq/faq.scss";
@use "../Engage/Page-Not-Found/Page-Not-Found.scss";
@use "../Engage/create-or-login-template/create-or-login-template.scss";
@use "../Engage/rexeipt-upload/receipt-upload-template.scss";

body {
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 768px;
}

@font-face {
  font-family: "Pinup-Regular";
  src: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/fonts/Pinup-Regular.otf");
}

@font-face {
  font-family: "NimbusSanLOT";
  src: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/fonts/NimbusSanLOT-Bol.otf");
}

div.image {
  margin-bottom: 0;
}

.ghost {
  display: none;
}

.skip-main {
  visibility: hidden;
}