/* Start CSS Common styles for all template */
#faq-template-container,
#already-played-template-container,
#competition-landing-page-child-six,
#thank-you-page-accordion {
  color: #000000;
}
#faq-template-container .cmp-accordion__item,
#already-played-template-container .cmp-accordion__item,
#competition-landing-page-child-six .cmp-accordion__item,
#thank-you-page-accordion .cmp-accordion__item {
  background: #ffffff;
  border-radius: 90px;
  padding: 16px 24px;
  margin-bottom: 15px;
}
#faq-template-container .cmp-accordion__item[data-cmp-expanded],
#already-played-template-container .cmp-accordion__item[data-cmp-expanded],
#competition-landing-page-child-six .cmp-accordion__item[data-cmp-expanded],
#thank-you-page-accordion .cmp-accordion__item[data-cmp-expanded] {
  border-radius: 35px;
}
#faq-template-container .cmp-accordion__item[data-cmp-expanded] .cmp-accordion__header,
#already-played-template-container .cmp-accordion__item[data-cmp-expanded] .cmp-accordion__header,
#competition-landing-page-child-six .cmp-accordion__item[data-cmp-expanded] .cmp-accordion__header,
#thank-you-page-accordion .cmp-accordion__item[data-cmp-expanded] .cmp-accordion__header {
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 155, 222, 0.5);
}
#faq-template-container .cmp-accordion__item .cmp-accordion__header,
#already-played-template-container .cmp-accordion__item .cmp-accordion__header,
#competition-landing-page-child-six .cmp-accordion__item .cmp-accordion__header,
#thank-you-page-accordion .cmp-accordion__item .cmp-accordion__header {
  margin: 0;
}
#faq-template-container .cmp-accordion__item .cmp-accordion__header button,
#already-played-template-container .cmp-accordion__item .cmp-accordion__header button,
#competition-landing-page-child-six .cmp-accordion__item .cmp-accordion__header button,
#thank-you-page-accordion .cmp-accordion__item .cmp-accordion__header button {
  background: transparent;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  color: #000000;
  outline: none;
}
#faq-template-container .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__title,
#already-played-template-container .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__title,
#competition-landing-page-child-six .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__title,
#thank-you-page-accordion .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__title {
  text-align: left;
  flex: 0 0 80%;
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}
#faq-template-container .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__icon,
#already-played-template-container .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__icon,
#competition-landing-page-child-six .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__icon,
#thank-you-page-accordion .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__icon {
  flex: 0 0 20%;
  width: 25px;
  height: 25px;
  background: url("/content/dam/global/promotions/aperopromotions/gb/en/images/Accordion-Plus.png") no-repeat right center;
}
#faq-template-container .cmp-accordion__panel--hidden,
#already-played-template-container .cmp-accordion__panel--hidden,
#competition-landing-page-child-six .cmp-accordion__panel--hidden,
#thank-you-page-accordion .cmp-accordion__panel--hidden {
  display: none;
}
#faq-template-container .cmp-accordion__panel--expanded,
#already-played-template-container .cmp-accordion__panel--expanded,
#competition-landing-page-child-six .cmp-accordion__panel--expanded,
#thank-you-page-accordion .cmp-accordion__panel--expanded {
  display: block;
}
#faq-template-container .cmp-accordion__panel--expanded p,
#already-played-template-container .cmp-accordion__panel--expanded p,
#competition-landing-page-child-six .cmp-accordion__panel--expanded p,
#thank-you-page-accordion .cmp-accordion__panel--expanded p {
  color: rgba(0, 0, 0, 0.5);
}
#faq-template-container .cmp-accordion__panel--expanded p a,
#already-played-template-container .cmp-accordion__panel--expanded p a,
#competition-landing-page-child-six .cmp-accordion__panel--expanded p a,
#thank-you-page-accordion .cmp-accordion__panel--expanded p a {
  word-break: break-word;
}

/* header Mobile for Thank you page */
#mobile-burger-menu-open {
  position: relative;
}
#mobile-burger-menu-open .aem-Grid {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background: #e71d2b;
  justify-content: center;
  max-width: calc(100% - 40px);
}
#mobile-burger-menu-open .aem-Grid .image {
  display: flex;
  justify-content: flex-end;
  z-index: 9;
  margin-bottom: 0;
  margin-left: 20px;
}
#mobile-burger-menu-open .aem-Grid .image img {
  height: 52px;
}
#mobile-burger-menu-open .aem-Grid .text {
  display: flex;
  justify-content: flex-end;
  z-index: 9;
}
#mobile-burger-menu-open .aem-Grid .text a {
  color: #ffffff;
}
#mobile-burger-menu-open .aem-Grid:has(.languagenavigation) .image {
  justify-content: center;
  margin-left: 0;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .mobile-down-arrow {
  position: relative;
  border: none;
  z-index: 9999;
  bottom: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  background: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/images/down-arrow.png") no-repeat right center;
  background-size: 10px;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .mobile-down-arrow.mobileUpArrow {
  background: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/images/up-chevron.png") no-repeat right center;
  background-size: 10px;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 20px;
  left: 0;
  z-index: 9;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group li {
  display: none;
  padding: 25px 20px;
  background-color: #e71d2b;
  z-index: 9;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group li a {
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group li:nth-child(1) {
  display: block;
  padding-top: 5px;
  padding-bottom: 35px;
  border-bottom: none;
  background: transparent;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group li:nth-child(2) {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group.languageOpened {
  background-color: #e71d2b;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group.languageOpened li {
  display: block;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group.languageOpened li.selected-language {
  box-shadow: inset 100vw 0 0 0 rgba(255, 255, 255, 0.2);
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group.languageOpened li.selected-language ::after {
  content: "";
  position: relative;
  bottom: 11px;
  border: none;
  z-index: 9999;
  display: flex;
  width: 100%;
  height: 7px;
  background: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/images/selected-tick.png") no-repeat right center;
  background-size: 10px;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group.languageOpened li.selected-language:nth-child(1) {
  box-shadow: none;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group.languageOpened li.selected-language:nth-child(1) ::after {
  content: none;
  background: none;
  height: none;
}

/* End CSS */
#Thank-you-page-template-container .logout-v6,
#pre-game-template-container .logout-v6,
#already-played-template-container .logout-v6 {
  justify-content: right;
  display: flex;
  cursor: pointer;
  z-index: 999;
}
#Thank-you-page-template-container .logout-v6 #logout-Button,
#pre-game-template-container .logout-v6 #logout-Button,
#already-played-template-container .logout-v6 #logout-Button {
  border: none;
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
}

#bni-terms-conditions {
  padding: 0 20px;
}
#bni-terms-conditions .text:nth-child(1) p {
  margin-bottom: 0;
}
#bni-terms-conditions .text p {
  font-family: "NimbusSanLOT";
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
#bni-terms-conditions .text p b {
  font-family: "Pinup-Regular";
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#bni-terms-conditions .text p a {
  color: #fff;
  font-family: "NimbusSanLOT";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-decoration-line: underline;
}

@media only screen and (max-width: 1920px) {
  #competition-landing-header-desktop {
    display: none;
  }
  #Mobile-header-container {
    display: block;
  }
  #Mobile-header-container #mobile-burger-menu-open.cmp-container.closed {
    display: none;
  }
  #Mobile-header-container #mobile-burger-menu-open {
    display: flex;
    background: #e71d2b;
    max-width: calc(100% - 40px);
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
  }
  #Mobile-header-container #mobile-burger-menu-open .image {
    z-index: 9;
  }
  #Mobile-header-container #mobile-burger-menu-open .image img {
    height: 52px;
  }
  #Mobile-header-container #mobile-burger-menu-open .button {
    z-index: 9;
    width: auto;
  }
  #Mobile-header-container #mobile-burger-menu-open .button #mobile-burger-menu {
    border: none;
  }
  #Mobile-header-container #mobile-burger-menu-open .button #mobile-burger-menu .cmp-button__icon--burger-menu-open {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/images/burger-menu.png") no-repeat left center;
    background-size: 25px;
  }
  #Mobile-header-container #mobile-burger-menu-close {
    display: none;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened {
    display: block;
    background: #e71d2b;
    position: relative;
    z-index: 9999;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container {
    background: #e71d2b;
    visibility: initial;
    opacity: initial;
    transition: none;
    margin: 0;
    padding: 0;
    border-top: none;
    max-height: 100%;
    overflow: auto;
    position: inherit;
    width: 100%;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container .nav--main {
    margin-bottom: 30px;
    padding: 0 20px;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container .nav--main > ul.topmenu {
    display: flex;
    flex-direction: column;
    grid-row-gap: 30px;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container .nav--main > ul.topmenu li a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container .nav--secondary {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container .nav--secondary ul {
    display: flex;
    position: initial;
    font-size: initial;
    transition: none;
    margin: 0;
    flex-direction: column;
    grid-gap: 30px;
    padding: 30px 20px 10px;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container .nav--secondary ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container .nav--secondary ul li a span {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened #mobile-header-burger-open-nav-button {
    display: flex;
    background: #e71d2b;
    padding: 30px 20px;
    align-items: center;
    justify-content: space-between;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened #mobile-header-burger-open-nav-button .image img {
    height: 52px;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened #mobile-header-burger-open-nav-button .button {
    width: auto;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened #mobile-header-burger-open-nav-button .button #burger-close-button {
    border: none;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened #mobile-header-burger-open-nav-button .button #burger-close-button .cmp-button__icon--burger-menu-close {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/images/close.png") no-repeat left center;
    background-size: 18px;
  }
  #Mobile-header-container #competition-landing-terms-condition-mobile .aem-Grid .text #competition-landing-eight-description p,
  #Mobile-header-container #competition-landing-terms-condition-mobile .aem-Grid .text #competition-landing-eight-pre-title p {
    color: #ffffff;
  }
  #competition-landing-terms-condition-mobile {
    display: block;
  }
  #competition-landing-terms-condition-mobile .aem-Grid {
    background: #e71d2b;
    color: #ffffff;
  }
  #competition-landing-terms-condition-mobile .aem-Grid .text {
    max-width: 100%;
    padding: 0 20px;
  }
  #competition-landing-terms-condition-mobile .aem-Grid .text #competition-landing-eight-description {
    margin-bottom: 30px;
  }
  #desktop-footer-container {
    display: none;
  }
  #sticky-footer-buttons-mobile-container {
    position: fixed;
    background: #ffffff;
    bottom: 0;
    height: 90px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    z-index: 999;
    grid-gap: 8px;
    align-items: center;
  }
  #sticky-footer-buttons-mobile-container .button {
    display: inline-block;
    width: 45%;
  }
  #sticky-footer-buttons-mobile-container .button a {
    padding: 18px 12px;
    border-radius: 2px;
    text-decoration: none;
  }
  #sticky-footer-buttons-mobile-container .button a#mobile-footer-create-an-login-button {
    background: #2e8538;
    display: block;
    color: #ffffff;
    text-align: center;
  }
  #sticky-footer-buttons-mobile-container .button a#mobile-footer-login-button {
    display: flex;
    border: 1px solid #2e8538;
    justify-content: center;
    color: #2e8538;
  }
  #sticky-footer-buttons-mobile-container .button a span {
    font-family: "Pinup-Regular";
    font-size: 12px;
    line-height: 14px;
  }
  #bni-main-content-container.cmp-container.closed {
    display: none;
  }
  #desktop-barcode-sticky-container {
    display: none;
  }
  #carousel-container {
    display: flex;
    grid-gap: 20px;
  }
  #carousel-container .teaser {
    width: 100%;
  }
  #carousel-container .teaser .cmp-teaser__image .cmp-image__image {
    height: 247px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #carousel-container .teaser .cmp-teaser__content .cmp-teaser__action-container {
    width: 100%;
    background: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    margin-top: 10px;
  }
  #carousel-container .teaser .cmp-teaser__content .cmp-teaser__action-container a {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: #e71d2b;
  }
  #mobile-burger-menu-close #competition-landing-eight-description p a {
    color: #ffffff !important;
    text-decoration: underline;
  }
}
/* End CSS */
.text.bni-gold {
  background-image: linear-gradient(90deg, #cb9831 0%, #f6ee70 33.33%, #f6ee70 46.35%, #d9bb51 61.98%, #e1c046 76.56%, #a88435 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text.bni-white {
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pinup-Regular";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.container.bni-blue {
  background: #034ea2;
}
.container.bni-red {
  background: #e71d2b;
}

.button {
  cursor: pointer;
  text-align: center;
  font-family: "Pinup-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
}
.button a {
  border-radius: 2px;
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  display: block;
}
.button.bni-secondary-button a {
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 0;
}
.button.bni-primary-button a {
  background: #fff;
  color: #034ea2;
}

p {
  font-family: "NimbusSanLOT";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
p a {
  color: #ffd140;
  font-family: "NimbusSanLOT";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-decoration-line: underline;
}

.accordion {
  padding: 40px 0;
  color: #000000;
}
.accordion .cmp-accordion__item {
  background: #ffffff;
  border-radius: 90px;
  padding: 16px 24px;
  margin-bottom: 15px;
}
.accordion .cmp-accordion__item[data-cmp-expanded] {
  border-radius: 35px;
}
.accordion .cmp-accordion__item[data-cmp-expanded] .cmp-accordion__header {
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 155, 222, 0.5);
}
.accordion .cmp-accordion__item .cmp-accordion__header {
  margin: 0;
}
.accordion .cmp-accordion__item .cmp-accordion__header button {
  background: transparent;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  color: #000000;
  outline: none;
}
.accordion .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__title {
  text-align: left;
  flex: 0 0 80%;
  color: #000;
  font-family: "NimbusSanLOT";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  letter-spacing: 0.07px;
}
.accordion .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__icon {
  flex: 0 0 20%;
  width: 25px;
  height: 25px;
  background: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/images/plus.png") no-repeat right center;
  background-size: 25px;
}
.accordion .cmp-accordion__panel--hidden {
  display: none;
}
.accordion .cmp-accordion__panel--expanded {
  display: block;
}
.accordion .cmp-accordion__panel--expanded p {
  color: rgba(0, 0, 0, 0.5);
}
.accordion .cmp-accordion__panel--expanded p a {
  word-break: break-word;
}

hr {
  background-image: linear-gradient(90deg, #cb9831 0%, #f6ee70 33.33%, #f6ee70 46.35%, #d9bb51 61.98%, #e1c046 76.56%, #a88435 100%);
  border: none; /* Remove default border */
  height: 2px; /* Set desired height for the horizontal rule */
  margin: 0;
}

.bright-yellow {
  color: #F7E62A;
}

#bni-main-content-container .container:nth-child(1) {
  padding: 0 20px;
}
#bni-main-content-container .container:nth-child(1) > .cmp-container > .text:nth-child(1) {
  padding-top: 16px;
}
#bni-main-content-container .container:nth-child(3) > .cmp-container {
  padding: 40px 20px;
}
#bni-main-content-container .container:nth-child(3) > .cmp-container > .container > .cmp-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  margin-top: 24px;
}
#bni-main-content-container .container:nth-child(3) > .cmp-container > .container > .cmp-container .button {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}
#bni-main-content-container .container:nth-child(5) {
  width: 100%;
  height: 100%;
  display: block;
  background: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/images/bacground-gold-banner.png") no-repeat left center;
  background-size: 100%;
}
#bni-main-content-container .container:nth-child(5) > .cmp-container {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding: 10px;
}
#bni-main-content-container .container:nth-child(5) > .cmp-container .teaser {
  border-radius: 10px;
  background: #034ea2;
  padding: 24px 16px;
  margin: 0 10px;
}
#bni-main-content-container .container:nth-child(5) > .cmp-container .teaser .cmp-teaser {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
#bni-main-content-container .container:nth-child(5) > .cmp-container .teaser .cmp-teaser .cmp-teaser__image {
  width: 50px;
  height: 50px;
  margin: 0 auto 12px;
}
#bni-main-content-container .container:nth-child(5) > .cmp-container .teaser .cmp-teaser .cmp-teaser__content .cmp-teaser__pretitle {
  font-family: "Pinup-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
#bni-main-content-container .container:nth-child(5) > .cmp-container .teaser .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
  background-image: linear-gradient(90deg, #cb9831 0%, #f6ee70 33.33%, #f6ee70 46.35%, #d9bb51 61.98%, #e1c046 76.56%, #a88435 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#bni-main-content-container .container:nth-child(5) > .cmp-container .teaser .cmp-teaser .cmp-teaser__content .cmp-teaser__description {
  color: #fff;
}
#bni-main-content-container .container:nth-child(5) > .cmp-container .teaser .cmp-teaser .cmp-teaser__content .cmp-teaser__description p {
  margin: 0;
}
#bni-main-content-container .container:nth-child(6) > .cmp-container {
  padding: 40px 20px 20px;
}
#bni-main-content-container .container:nth-child(6) > .cmp-container .teaser .cmp-teaser {
  text-align: center;
}
#bni-main-content-container .container:nth-child(6) > .cmp-container .teaser .cmp-teaser .cmp-teaser__image {
  width: 60px;
  margin: 0 auto 12px;
  height: 60px;
}
#bni-main-content-container .container:nth-child(6) > .cmp-container .teaser .cmp-teaser .cmp-teaser__content {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  color: #fff;
}
#bni-main-content-container .container:nth-child(6) > .cmp-container .teaser .cmp-teaser .cmp-teaser__content .cmp-teaser__pretitle {
  font-family: "Pinup-Regular";
  font-size: 17.385px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#bni-main-content-container .container:nth-child(6) > .cmp-container .teaser .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
  font-family: "Pinup-Regular";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
#bni-main-content-container .container:nth-child(6) > .cmp-container .teaser .cmp-teaser .cmp-teaser__content .cmp-teaser__description p {
  margin: 0;
}
#bni-main-content-container .container:nth-child(8) {
  padding: 40px 20px;
  border-top: 2px solid;
  -o-border-image: linear-gradient(90deg, #cb9831 0%, #f6ee70 33.33%, #f6ee70 46.35%, #d9bb51 61.98%, #e1c046 76.56%, #a88435 100%);
     border-image: linear-gradient(90deg, #cb9831 0%, #f6ee70 33.33%, #f6ee70 46.35%, #d9bb51 61.98%, #e1c046 76.56%, #a88435 100%);
  border-image-slice: 1;
  box-sizing: border-box;
  text-decoration: none;
}
#bni-main-content-container .container:nth-child(8) > .cmp-container .button {
  text-align: left;
}
#bni-main-content-container .container:nth-child(8) > .cmp-container .button a {
  border-bottom: 2px solid;
  -o-border-image: linear-gradient(90deg, #cb9831 0%, #f6ee70 33.33%, #f6ee70 46.35%, #d9bb51 61.98%, #e1c046 76.56%, #a88435 100%);
     border-image: linear-gradient(90deg, #cb9831 0%, #f6ee70 33.33%, #f6ee70 46.35%, #d9bb51 61.98%, #e1c046 76.56%, #a88435 100%);
  border-image-slice: 1;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 0;
}
#bni-main-content-container .container:nth-child(8) > .cmp-container .button a span {
  font-family: "Pinup-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
#bni-main-content-container .container:nth-child(9) {
  padding: 40px 20px 50px;
}
#bni-main-content-container .container:nth-child(9) > .cmp-container .text:nth-child(1) > .cmp-text p {
  color: #fff;
  font-family: "NimbusSanLOT";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
#bni-main-content-container .container:nth-child(9) > .cmp-container .button {
  text-align: left;
}
#bni-main-content-container .container:nth-child(9) > .cmp-container .button a {
  border-bottom: 2px solid #f7e62a;
  padding: 10px 0;
}
#bni-main-content-container .container:nth-child(9) > .cmp-container .button a span {
  font-family: "Pinup-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
#bni-main-content-container .container:nth-child(10) {
  padding: 24px 20px 114px;
  border-top: 2px solid;
  -o-border-image: linear-gradient(90deg, #cb9831 0%, #f6ee70 33.33%, #f6ee70 46.35%, #d9bb51 61.98%, #e1c046 76.56%, #a88435 100%);
     border-image: linear-gradient(90deg, #cb9831 0%, #f6ee70 33.33%, #f6ee70 46.35%, #d9bb51 61.98%, #e1c046 76.56%, #a88435 100%);
  border-image-slice: 1;
  box-sizing: border-box;
  text-decoration: none;
}
#bni-main-content-container .container:nth-child(10) > .cmp-container .text > .cmp-text p {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 10px;
}
#bni-main-content-container .container:nth-child(10) > .cmp-container .text > .cmp-text p a {
  color: #ffd140;
  font-family: "NimbusSanLOT";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-decoration-line: underline;
}
#bni-main-content-container .container:nth-child(10) > .cmp-container .text > .cmp-text > .p:nth-child(1) {
  font-family: "Pinup-Regular";
}
#bni-main-content-container .container:nth-child(10) > .cmp-container .text > .cmp-text > .p:nth-child(2) {
  font-family: "NimbusSanLOT";
}
#bni-main-content-container .container:nth-child(11) {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#bni-main-content-container .container:nth-child(11) #sticky-footer-buttons {
  display: flex;
  width: calc(100% - 40px);
  grid-gap: 20px;
  height: 100px;
  border-radius: 15px 15px 0 0;
  background-color: #fff;
  align-items: center;
  padding: 0 20px;
}
#bni-main-content-container .container:nth-child(11) #sticky-footer-buttons .button.bni-primary-button a {
  background: #034ea2;
}
#bni-main-content-container .container:nth-child(11) #sticky-footer-buttons .button.bni-primary-button a span {
  color: #fff;
}
#bni-main-content-container .container:nth-child(11) #sticky-footer-buttons .button.bni-secondary-button a {
  border: 1px solid #034ea2;
}
#bni-main-content-container .container:nth-child(11) #sticky-footer-buttons .button.bni-secondary-button a span {
  color: #034ea2;
}

#bni-ready-to-play-template-container #bni-main-content-container .container {
  padding: 24px 20px;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 768px;
}

@font-face {
  font-family: "Pinup-Regular";
  src: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/fonts/Pinup-Regular.otf");
}
@font-face {
  font-family: "NimbusSanLOT";
  src: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/fonts/NimbusSanLOT-Bol.otf");
}
div.image {
  margin-bottom: 0;
}

.ghost {
  display: none;
}/*# sourceMappingURL=bni-engage-2023.css.map */