@use "../Engage/header/header.scss";
@use "../Engage/common/common.scss";

body {
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 768px;
}

@font-face {
  font-family: "Pinup-Regular";
  src: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/fonts/Pinup-Regular.otf");
}

@font-face {
  font-family: "NimbusSanLOT";
  src: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/fonts/NimbusSanLOT-Bol.otf");
}

div.image {
  margin-bottom: 0;
}

.ghost {
  display: none;
}
