/* Start CSS Common styles for all template */
#faq-template-container,
#already-played-template-container,
#competition-landing-page-child-six,
#thank-you-page-accordion {
  color: #000000;
}
#faq-template-container .cmp-accordion__item,
#already-played-template-container .cmp-accordion__item,
#competition-landing-page-child-six .cmp-accordion__item,
#thank-you-page-accordion .cmp-accordion__item {
  background: #ffffff;
  border-radius: 90px;
  padding: 16px 24px;
  margin-bottom: 15px;
}
#faq-template-container .cmp-accordion__item[data-cmp-expanded],
#already-played-template-container .cmp-accordion__item[data-cmp-expanded],
#competition-landing-page-child-six .cmp-accordion__item[data-cmp-expanded],
#thank-you-page-accordion .cmp-accordion__item[data-cmp-expanded] {
  border-radius: 35px;
}
#faq-template-container .cmp-accordion__item[data-cmp-expanded] .cmp-accordion__header,
#already-played-template-container .cmp-accordion__item[data-cmp-expanded] .cmp-accordion__header,
#competition-landing-page-child-six .cmp-accordion__item[data-cmp-expanded] .cmp-accordion__header,
#thank-you-page-accordion .cmp-accordion__item[data-cmp-expanded] .cmp-accordion__header {
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 155, 222, 0.5);
}
#faq-template-container .cmp-accordion__item .cmp-accordion__header,
#already-played-template-container .cmp-accordion__item .cmp-accordion__header,
#competition-landing-page-child-six .cmp-accordion__item .cmp-accordion__header,
#thank-you-page-accordion .cmp-accordion__item .cmp-accordion__header {
  margin: 0;
}
#faq-template-container .cmp-accordion__item .cmp-accordion__header button,
#already-played-template-container .cmp-accordion__item .cmp-accordion__header button,
#competition-landing-page-child-six .cmp-accordion__item .cmp-accordion__header button,
#thank-you-page-accordion .cmp-accordion__item .cmp-accordion__header button {
  background: transparent;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  color: #000000;
  outline: none;
}
#faq-template-container .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__title,
#already-played-template-container .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__title,
#competition-landing-page-child-six .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__title,
#thank-you-page-accordion .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__title {
  text-align: left;
  flex: 0 0 80%;
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}
#faq-template-container .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__icon,
#already-played-template-container .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__icon,
#competition-landing-page-child-six .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__icon,
#thank-you-page-accordion .cmp-accordion__item .cmp-accordion__header button .cmp-accordion__icon {
  flex: 0 0 20%;
  width: 25px;
  height: 25px;
  background: url("/content/dam/global/promotions/aperopromotions/gb/en/images/Accordion-Plus.png") no-repeat right center;
}
#faq-template-container .cmp-accordion__panel--hidden,
#already-played-template-container .cmp-accordion__panel--hidden,
#competition-landing-page-child-six .cmp-accordion__panel--hidden,
#thank-you-page-accordion .cmp-accordion__panel--hidden {
  display: none;
}
#faq-template-container .cmp-accordion__panel--expanded,
#already-played-template-container .cmp-accordion__panel--expanded,
#competition-landing-page-child-six .cmp-accordion__panel--expanded,
#thank-you-page-accordion .cmp-accordion__panel--expanded {
  display: block;
}
#faq-template-container .cmp-accordion__panel--expanded p,
#already-played-template-container .cmp-accordion__panel--expanded p,
#competition-landing-page-child-six .cmp-accordion__panel--expanded p,
#thank-you-page-accordion .cmp-accordion__panel--expanded p {
  color: rgba(0, 0, 0, 0.5);
}
#faq-template-container .cmp-accordion__panel--expanded p a,
#already-played-template-container .cmp-accordion__panel--expanded p a,
#competition-landing-page-child-six .cmp-accordion__panel--expanded p a,
#thank-you-page-accordion .cmp-accordion__panel--expanded p a {
  word-break: break-word;
}

/* header Mobile for Thank you page */
#mobile-burger-menu-open {
  position: relative;
}
#mobile-burger-menu-open .aem-Grid {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background: #e71d2b;
  justify-content: center;
  max-width: calc(100% - 40px);
}
#mobile-burger-menu-open .aem-Grid .image {
  display: flex;
  justify-content: flex-end;
  z-index: 9;
  margin-bottom: 0;
  margin-left: 20px;
}
#mobile-burger-menu-open .aem-Grid .image img {
  height: 52px;
}
#mobile-burger-menu-open .aem-Grid .text {
  display: flex;
  justify-content: flex-end;
  z-index: 9;
}
#mobile-burger-menu-open .aem-Grid .text a {
  color: #ffffff;
}
#mobile-burger-menu-open .aem-Grid:has(.languagenavigation) .image {
  justify-content: center;
  margin-left: 0;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .mobile-down-arrow {
  position: relative;
  border: none;
  z-index: 9999;
  bottom: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  background: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/images/down-arrow.png") no-repeat right center;
  background-size: 10px;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .mobile-down-arrow.mobileUpArrow {
  background: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/images/up-chevron.png") no-repeat right center;
  background-size: 10px;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 20px;
  left: 0;
  z-index: 9;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group li {
  display: none;
  padding: 25px 20px;
  background-color: #e71d2b;
  z-index: 9;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group li a {
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group li:nth-child(1) {
  display: block;
  padding-top: 5px;
  padding-bottom: 35px;
  border-bottom: none;
  background: transparent;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group li:nth-child(2) {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group.languageOpened {
  background-color: #e71d2b;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group.languageOpened li {
  display: block;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group.languageOpened li.selected-language {
  box-shadow: inset 100vw 0 0 0 rgba(255, 255, 255, 0.2);
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group.languageOpened li.selected-language ::after {
  content: "";
  position: relative;
  bottom: 11px;
  border: none;
  z-index: 9999;
  display: flex;
  width: 100%;
  height: 7px;
  background: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/images/selected-tick.png") no-repeat right center;
  background-size: 10px;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group.languageOpened li.selected-language:nth-child(1) {
  box-shadow: none;
}
#mobile-burger-menu-open .languagenavigation nav.cmp-languagenavigation .cmp-languagenavigation__group.languageOpened li.selected-language:nth-child(1) ::after {
  content: none;
  background: none;
  height: none;
}

/* End CSS */
#Thank-you-page-template-container .logout-v6,
#pre-game-template-container .logout-v6,
#already-played-template-container .logout-v6 {
  justify-content: right;
  display: flex;
  cursor: pointer;
  z-index: 999;
}
#Thank-you-page-template-container .logout-v6 #logout-Button,
#pre-game-template-container .logout-v6 #logout-Button,
#already-played-template-container .logout-v6 #logout-Button {
  border: none;
  font-family: "NimbusSanLOT";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
}

#bni-terms-conditions {
  padding: 0 20px;
}
#bni-terms-conditions .text:nth-child(1) p {
  margin-bottom: 0;
}
#bni-terms-conditions .text p {
  font-family: "NimbusSanLOT";
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
#bni-terms-conditions .text p b {
  font-family: "Pinup-Regular";
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#bni-terms-conditions .text p a {
  color: #fff;
  font-family: "NimbusSanLOT";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-decoration-line: underline;
}

@media only screen and (max-width: 1920px) {
  #competition-landing-header-desktop {
    display: none;
  }
  #Mobile-header-container {
    display: block;
  }
  #Mobile-header-container #mobile-burger-menu-open.cmp-container.closed {
    display: none;
  }
  #Mobile-header-container #mobile-burger-menu-open {
    display: flex;
    background: #e71d2b;
    max-width: calc(100% - 40px);
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
  }
  #Mobile-header-container #mobile-burger-menu-open .image {
    z-index: 9;
  }
  #Mobile-header-container #mobile-burger-menu-open .image img {
    height: 52px;
  }
  #Mobile-header-container #mobile-burger-menu-open .button {
    z-index: 9;
  }
  #Mobile-header-container #mobile-burger-menu-open .button #mobile-burger-menu {
    border: none;
  }
  #Mobile-header-container #mobile-burger-menu-open .button #mobile-burger-menu .cmp-button__icon--burger-menu-open {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/images/burger-menu.png") no-repeat left center;
    background-size: 25px;
  }
  #Mobile-header-container #mobile-burger-menu-close {
    display: none;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened {
    display: block;
    background: #e71d2b;
    position: relative;
    z-index: 9999;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container {
    background: #e71d2b;
    visibility: initial;
    opacity: initial;
    transition: none;
    margin: 0;
    padding: 0;
    border-top: none;
    max-height: 100%;
    overflow: auto;
    position: inherit;
    width: 100%;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container .nav--main {
    margin-bottom: 30px;
    padding: 0 20px;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container .nav--main > ul.topmenu {
    display: flex;
    flex-direction: column;
    grid-row-gap: 30px;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container .nav--main > ul.topmenu li a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container .nav--secondary {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container .nav--secondary ul {
    display: flex;
    position: initial;
    font-size: initial;
    transition: none;
    margin: 0;
    flex-direction: column;
    grid-gap: 30px;
    padding: 30px 20px 10px;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container .nav--secondary ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened .navigationV2 .nav--container .nav--secondary ul li a span {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened #mobile-header-burger-open-nav-button {
    display: flex;
    background: #e71d2b;
    padding: 30px 20px;
    align-items: center;
    justify-content: space-between;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened #mobile-header-burger-open-nav-button .image img {
    height: 52px;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened #mobile-header-burger-open-nav-button .button #burger-close-button {
    border: none;
  }
  #Mobile-header-container #mobile-burger-menu-close.cmp-container.opened #mobile-header-burger-open-nav-button .button #burger-close-button .cmp-button__icon--burger-menu-close {
    width: 25px;
    height: 25px;
    display: block;
    background: url("/content/dam/global/promotions/kelloggs-bni-2023/assets/images/close.png") no-repeat left center;
    background-size: 18px;
  }
  #Mobile-header-container #competition-landing-terms-condition-mobile .aem-Grid .text #competition-landing-eight-description p,
  #Mobile-header-container #competition-landing-terms-condition-mobile .aem-Grid .text #competition-landing-eight-pre-title p {
    color: #ffffff;
  }
  #competition-landing-terms-condition-mobile {
    display: block;
  }
  #competition-landing-terms-condition-mobile .aem-Grid {
    background: #e71d2b;
    color: #ffffff;
  }
  #competition-landing-terms-condition-mobile .aem-Grid .text {
    max-width: 100%;
    padding: 0 20px;
  }
  #competition-landing-terms-condition-mobile .aem-Grid .text #competition-landing-eight-description {
    margin-bottom: 30px;
  }
  #desktop-footer-container {
    display: none;
  }
  #sticky-footer-buttons-mobile-container {
    position: fixed;
    background: #ffffff;
    bottom: 0;
    height: 90px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    z-index: 999;
    grid-gap: 8px;
    align-items: center;
  }
  #sticky-footer-buttons-mobile-container .button {
    display: inline-block;
    width: 45%;
  }
  #sticky-footer-buttons-mobile-container .button a {
    padding: 18px 12px;
    border-radius: 2px;
    text-decoration: none;
  }
  #sticky-footer-buttons-mobile-container .button a#mobile-footer-create-an-login-button {
    background: #2e8538;
    display: block;
    color: #ffffff;
    text-align: center;
  }
  #sticky-footer-buttons-mobile-container .button a#mobile-footer-login-button {
    display: flex;
    border: 1px solid #2e8538;
    justify-content: center;
    color: #2e8538;
  }
  #sticky-footer-buttons-mobile-container .button a span {
    font-family: "Pinup-Regular";
    font-size: 12px;
    line-height: 14px;
  }
  #bni-main-content-container.cmp-container.closed {
    display: none;
  }
  #desktop-barcode-sticky-container {
    display: none;
  }
  #carousel-container {
    display: flex;
    grid-gap: 20px;
  }
  #carousel-container .teaser {
    width: 100%;
  }
  #carousel-container .teaser .cmp-teaser__image .cmp-image__image {
    height: 247px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #carousel-container .teaser .cmp-teaser__content .cmp-teaser__action-container {
    width: 100%;
    background: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    margin-top: 10px;
  }
  #carousel-container .teaser .cmp-teaser__content .cmp-teaser__action-container a {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: #e71d2b;
  }
  #mobile-burger-menu-close #competition-landing-eight-description p a {
    color: #ffffff !important;
    text-decoration: underline;
  }
}
/* End CSS *//*# sourceMappingURL=header.css.map */