#error-page-template-main-container,
#holding-page-template-main-container {
  background: #009bde;
  position: relative;
}
#error-page-template-main-container #coming-soon-teaser-media-container .image img,
#holding-page-template-main-container #coming-soon-teaser-media-container .image img {
  -o-object-fit: cover;
     object-fit: cover;
}
#error-page-template-main-container #coming-soon-teaser-content-container,
#holding-page-template-main-container #coming-soon-teaser-content-container {
  position: absolute;
  bottom: 95px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
#error-page-template-main-container #coming-soon-teaser-content-container .markuptext h1,
#holding-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 {
  margin: 0;
  font-family: "Lilita One";
  font-style: normal;
  text-transform: uppercase;
}
#error-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 .orange-cream-title,
#holding-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 .orange-cream-title {
  color: #fec45e;
}
#error-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 .white-title,
#holding-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 .white-title {
  color: #ffffff;
}
#error-page-template-main-container #coming-soon-teaser-content-container .text,
#holding-page-template-main-container #coming-soon-teaser-content-container .text {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  color: #ffffff;
  text-align: center;
}
#error-page-template-main-container #coming-soon-teaser-content-container .text p,
#holding-page-template-main-container #coming-soon-teaser-content-container .text p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}
#error-page-template-main-container #coming-soon-teaser-content-container .button a,
#holding-page-template-main-container #coming-soon-teaser-content-container .button a {
  text-decoration: none;
  padding: 12px 40px;
  background: #ffffff;
  border-radius: 90px;
}
#error-page-template-main-container #coming-soon-teaser-content-container .button a span,
#holding-page-template-main-container #coming-soon-teaser-content-container .button a span {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

@media only screen and (min-width: 769px) {
  #error-page-template-main-container #coming-soon-teaser-content-container,
  #holding-page-template-main-container #coming-soon-teaser-content-container {
    grid-gap: 16px;
  }
  #error-page-template-main-container #coming-soon-teaser-content-container .markuptext,
  #error-page-template-main-container #coming-soon-teaser-content-container .text,
  #error-page-template-main-container #coming-soon-teaser-content-container .button,
  #holding-page-template-main-container #coming-soon-teaser-content-container .markuptext,
  #holding-page-template-main-container #coming-soon-teaser-content-container .text,
  #holding-page-template-main-container #coming-soon-teaser-content-container .button {
    max-width: 600px;
  }
  #error-page-template-main-container #coming-soon-teaser-content-container .markuptext h1,
  #holding-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
  }
  #error-page-template-main-container #coming-soon-teaser-content-container .button,
  #holding-page-template-main-container #coming-soon-teaser-content-container .button {
    margin-top: 12px;
  }
  #error-page-template-main-container #coming-soon-teaser-content-container .markuptext {
    text-align: center;
  }
  #error-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 .orange-cream-title {
    font-weight: 400;
    font-size: 120px;
    line-height: 137px;
  }
  #error-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 .white-title {
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
  }
}
@media only screen and (max-width: 768px) {
  #error-page-template-main-container #coming-soon-teaser-media-container .image img,
  #holding-page-template-main-container #coming-soon-teaser-media-container .image img {
    height: 620px;
  }
  #error-page-template-main-container #coming-soon-teaser-content-container,
  #holding-page-template-main-container #coming-soon-teaser-content-container {
    grid-gap: 24px;
    padding: 0 20px;
    width: calc(100% - 40px);
  }
  #error-page-template-main-container #coming-soon-teaser-content-container .markuptext h1,
  #holding-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 {
    font-weight: 400;
    font-size: 45px;
    line-height: 51px;
  }
  #error-page-template-main-container #coming-soon-teaser-content-container .button,
  #holding-page-template-main-container #coming-soon-teaser-content-container .button {
    margin-top: 12px;
  }
  #error-page-template-main-container #coming-soon-teaser-content-container .markuptext {
    text-align: center;
  }
  #error-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 .orange-cream-title {
    font-weight: 400;
    font-size: 80px;
    line-height: 91px;
  }
  #error-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 .white-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
  }
}/*# sourceMappingURL=holding.css.map */