#holding-page-template-main-container {
  background: #009bde;
  position: relative;
}
#holding-page-template-main-container #coming-soon-teaser-media-container .image img {
  -o-object-fit: cover;
     object-fit: cover;
}
#holding-page-template-main-container #coming-soon-teaser-content-container {
  position: absolute;
  bottom: 95px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
#holding-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 {
  margin: 0;
  font-family: "Lilita One";
  font-style: normal;
  text-transform: uppercase;
}
#holding-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 .orange-cream-title {
  color: #fec45e;
  margin-right: 10px;
}
#holding-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 .white-title {
  color: #ffffff;
}
#holding-page-template-main-container #coming-soon-teaser-content-container .text {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  color: #ffffff;
  text-align: center;
}
#holding-page-template-main-container #coming-soon-teaser-content-container .text p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}
#holding-page-template-main-container #coming-soon-teaser-content-container .button a {
  text-decoration: none;
  padding: 12px 40px;
  background: #ffffff;
  border-radius: 90px;
}
#holding-page-template-main-container #coming-soon-teaser-content-container .button a span {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

@media only screen and (min-width: 769px) {
  #holding-page-template-main-container #coming-soon-teaser-content-container {
    grid-gap: 16px;
  }
  #holding-page-template-main-container #coming-soon-teaser-content-container .markuptext,
  #holding-page-template-main-container #coming-soon-teaser-content-container .text,
  #holding-page-template-main-container #coming-soon-teaser-content-container .button {
    max-width: 600px;
  }
  #holding-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
  }
  #holding-page-template-main-container #coming-soon-teaser-content-container .button {
    margin-top: 12px;
  }
}
@media only screen and (max-width: 768px) {
  #holding-page-template-main-container #coming-soon-teaser-media-container .image img {
    height: 620px;
  }
  #holding-page-template-main-container #coming-soon-teaser-content-container {
    grid-gap: 24px;
    padding: 0 20px;
    width: calc(100% - 40px);
  }
  #holding-page-template-main-container #coming-soon-teaser-content-container .markuptext h1 {
    font-weight: 400;
    font-size: 45px;
    line-height: 51px;
  }
  #holding-page-template-main-container #coming-soon-teaser-content-container .button {
    margin-top: 12px;
  }
}
#esg-footer-container .aem-Grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px;
  grid-gap: 18px;
}
#esg-footer-container .aem-Grid .socialcomponent #sociallinks {
  display: flex;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
}
#esg-footer-container .aem-Grid .socialcomponent #sociallinks a img {
  width: 100%;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
}
#esg-footer-container .aem-Grid .socialcomponent #sociallinks a span {
  display: none;
}
#esg-footer-container .aem-Grid .text p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  opacity: 0.5;
}

.languagenavigation {
  position: relative;
}
.languagenavigation nav ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}
.languagenavigation nav ul li {
  display: none;
}
.languagenavigation nav ul li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}
.languagenavigation nav ul li .mobile-down-arrow,
.languagenavigation nav ul li .mobile-down-arrow.mobile-up-arrow {
  display: none;
}
.languagenavigation nav ul li:nth-child(1) {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999999;
}
.languagenavigation nav ul li:nth-child(1) a {
  position: relative;
  z-index: 99999;
}
.languagenavigation nav ul li:nth-child(1) .mobile-down-arrow,
.languagenavigation nav ul li:nth-child(1) .mobile-down-arrow.mobile-up-arrow {
  display: block;
}
.languagenavigation nav ul.languageOpened {
  margin: 0;
  position: absolute;
  top: -25px;
  z-index: 9999;
  left: 0;
  background: #ffffff;
  border-radius: 6px;
  width: 100%;
}
.languagenavigation nav ul.languageOpened li {
  display: flex;
  margin: 0 12px;
  padding: 12px 0;
  border-top: 2px solid #ebebeb;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 24px);
}
.languagenavigation nav ul.languageOpened li a {
  flex-basis: 80%;
}
.languagenavigation nav ul.languageOpened li.selectedLanguage::after {
  content: "";
  position: relative;
  bottom: 0;
  border: none;
  z-index: 9999;
  display: flex;
  width: 100%;
  right: 0;
  top: -6px;
  height: 13px;
  margin-top: -13px;
  background: url("/content/dam/global/promotions/kelloggs-esg-2023/gb/en/icons/selected-language.png") no-repeat right center;
  background-size: 13px;
}
.languagenavigation nav ul.languageOpened li.selectedLanguage:nth-child(1) {
  box-shadow: none;
  border-top: none;
  z-index: 999999;
  position: relative;
}
.languagenavigation nav ul.languageOpened li.selectedLanguage:nth-child(1)::after {
  content: none;
  background: none;
  height: none;
}
.languagenavigation nav .mobile-down-arrow {
  position: relative;
  border: none;
  display: block;
  width: 15px;
  height: 15px;
  z-index: 9999;
  top: 0;
  left: 0;
  background: url("/content/dam/global/promotions/kelloggs-esg-2023/gb/en/icons/down-arrow.png") no-repeat right center;
  background-size: 10px;
}
.languagenavigation nav .mobile-down-arrow.mobileUpArrow {
  border: none;
  z-index: 9999;
  display: block;
  background: url("/content/dam/global/promotions/kelloggs-esg-2023/gb/en/icons/up-arrow.png") no-repeat right center;
  background-size: 10px;
}

body.languageOpened {
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

#esg-main-container.languageOpened {
  filter: blur(2px);
}

@media only screen and (min-width: 769px) {
  #esg-desktop-container {
    display: flex;
    grid-gap: 24px;
    margin: 10px 100px;
    align-items: center;
    flex-wrap: wrap;
  }
  #esg-desktop-container .image {
    flex-basis: 15%;
  }
  #esg-desktop-container .image .cmp-image__image {
    -o-object-fit: cover;
       object-fit: cover;
  }
  #esg-desktop-container .navigationV2 {
    flex-basis: 65%;
    display: flex;
    justify-content: flex-end;
  }
  #esg-desktop-container .navigationV2 .nav--container .nav--main ul {
    padding: 0;
    list-style: none;
    display: flex;
    grid-gap: 20px;
  }
  #esg-desktop-container .navigationV2 .nav--container .nav--main ul li a {
    font-family: "Lilita One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #009bde;
    text-transform: uppercase;
  }
  #esg-desktop-container .navigationV2 .nav--secondary {
    display: none;
  }
  #esg-desktop-container .languagenavigation {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
  }
  #esg-desktop-container .button #esg-account-icon {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background: url("/content/dam/global/promotions/kelloggs-esg-2023/gb/en/icons/Account.png") no-repeat center center;
    background-size: 38px;
  }
  #esg-mobile-container {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #esg-desktop-container {
    display: none;
  }
  #esg-mobile-container #burger-menu {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    flex-wrap: wrap;
  }
  #esg-mobile-container #burger-menu .languagenavigation,
  #esg-mobile-container #burger-menu .image,
  #esg-mobile-container #burger-menu .button {
    flex-basis: 33.33%;
  }
  #esg-mobile-container #burger-menu .button {
    display: flex;
    justify-content: flex-end;
  }
  #esg-mobile-container #burger-menu .button .cmp-button {
    background: none;
    border: none;
  }
  #esg-mobile-container #burger-menu .button .cmp-button .cmp-button__icon.cmp-button__icon--esg-burger-icon {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background: url("/content/dam/global/promotions/kelloggs-esg-2023/gb/en/icons/Burger-menu.png") no-repeat center center;
    background-size: 24px;
  }
  #esg-mobile-container #burger-menu .languagenavigation {
    visibility: initial;
  }
  #esg-mobile-container #burger-menu .languagenavigation nav {
    justify-content: flex-start;
  }
  #esg-mobile-container #burger-menu .languagenavigation nav .cmp-languagenavigation__group.languageOpened {
    top: -13px;
  }
  #esg-mobile-container #burger-menu .languagenavigation nav .mobile-down-arrow.mobileUpArrow {
    top: 0;
  }
  #esg-mobile-container #burger-close-menu {
    display: none;
    position: relative;
  }
  #esg-mobile-container #burger-close-menu .button {
    position: absolute;
    top: 18px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  #esg-mobile-container #burger-close-menu .button .cmp-button {
    background: none;
    border: none;
  }
  #esg-mobile-container #burger-close-menu .button .cmp-button .cmp-button__icon.cmp-button__icon--burger-close-icon {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    background: url("/content/dam/global/promotions/kelloggs-esg-2023/gb/en/icons/close.png") no-repeat center center;
    background-size: 47px;
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container nav ul {
    list-style: none;
    -webkit-padding-start: 26px;
            padding-inline-start: 26px;
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    max-width: calc(100% - 46px);
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container nav ul li a,
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container nav ul li span {
    font-family: "Lilita One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #000000;
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container .nav--secondary {
    border-top: 1px solid #ebebeb;
    margin: 24px 20px;
  }
  #esg-mobile-container #burger-close-menu .navigationV2 .nav--container .nav--secondary ul {
    -webkit-padding-start: 6px;
            padding-inline-start: 6px;
    margin: 24px 0;
  }
  .languagenavigation.burgerMenuClosed,
  .cmp-button__icon--esg-burger-icon.burgerMenuOpened {
    visibility: hidden !important;
  }
  #burger-close-menu.burgerMenuOpened {
    display: block !important;
  }
  #esg-main-container.burgerMenuOpened,
  #esg-footer-container.burgerMenuOpened {
    display: none;
  }
}
body {
  margin: 0 auto;
  overflow-x: hidden;
}

/* font import start */
@font-face {
  font-family: "Pinup-Regular";
  src: url("/content/dam/global/promotions/aperopromotions/gb/en/fonts/Pinup-Regular.otf");
}
@font-face {
  font-family: "NimbusSanLOT";
  src: url("/content/dam/global/promotions/aperopromotions/gb/en/fonts/NimbusSanLOT-Bol.otf");
}
.tns-nav,
.tns-controls,
.new.newpar.section,
.cq-placeholder,
.skip-main {
  display: none;
}

div.image {
  margin-bottom: 0;
  line-height: 0;
}

a {
  text-decoration: none;
}

.ghost {
  display: none;
}/*# sourceMappingURL=esg-main-2023.css.map */