#esg-login-register-container {
  > .container:nth-child(1) {
    > .cmp-container {
      position: relative;
      > .text:nth-child(3) {
        display: flex;
        justify-content: center;
        h3 {
          color: #009bde;
        }
        p {
          color: #666666;
          a {
            color: #000000;
            text-decoration: underline;
          }
        }
      }

      > .container:nth-child(4) {
        position: relative;
        > .cmp-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: flex-end;
          height: 100%;
          .text {
            h6 {
              color: #666666;
            }
          }
          .separator {
            hr {
              border: 1px solid rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  #esg-login-register-container {
    > .container:nth-child(1) {
      > .cmp-container {
        > .image:nth-child(1) {
          display: none;
        }
        > .image:nth-child(2) {
          img {
            max-height: 150px;
          }
        }
        > .container:nth-child(4) {
          position: relative;
          height: 80px;
          margin-bottom: 20px;
          > .cmp-container {
            width: calc(100% - 40px);
            padding: 0 20px;
            .text {
              flex-basis: 10%;
              text-align: center;
            }
            .separator {
              flex-basis: 45%;
            }
          }
        }
      }
    }
    > .container:nth-child(2) {
      .gigya-screen.v2.portrait {
        padding: 0;
        .gigya-composite-control-social-login {
          right: 100px;
        }
      }

      .gigya-composite-control-multi-choice .gigya-multi-choice-item { 
        overflow: hidden;
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  #esg-login-register-container {
    > .container:nth-child(1) {
      > .cmp-container {
        > .image:nth-child(1) {
          img {
            height: 288px;
          }
        }
        > .image:nth-child(2) {
          display: none;
        }
        > .text:nth-child(3) {
          position: absolute;
          width: 100%;
          bottom: 80px;
          z-index: 9;
          > .cmp-text {
            max-width: 400px;
            margin: 0 auto;
          }
        }
        > .container:nth-child(4) {
          height: 120px;
          > .cmp-container {
            grid-gap: 20px;
            .separator {
              flex-basis: 12%;
            }
          }
        }
      }
    }
  }
}
