#esg-login-register-container > .container:nth-child(1) > .cmp-container {
  position: relative;
}
#esg-login-register-container > .container:nth-child(1) > .cmp-container > .text:nth-child(3) {
  display: flex;
  justify-content: center;
}
#esg-login-register-container > .container:nth-child(1) > .cmp-container > .text:nth-child(3) h3 {
  color: #009bde;
}
#esg-login-register-container > .container:nth-child(1) > .cmp-container > .text:nth-child(3) p {
  color: #666666;
}
#esg-login-register-container > .container:nth-child(1) > .cmp-container > .text:nth-child(3) p a {
  color: #000000;
  text-decoration: underline;
}
#esg-login-register-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) {
  position: relative;
}
#esg-login-register-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) > .cmp-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
#esg-login-register-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) > .cmp-container .text h6 {
  color: #666666;
}
#esg-login-register-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) > .cmp-container .separator hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
  #esg-login-register-container > .container:nth-child(1) > .cmp-container > .image:nth-child(1) {
    display: none;
  }
  #esg-login-register-container > .container:nth-child(1) > .cmp-container > .image:nth-child(2) img {
    max-height: 150px;
  }
  #esg-login-register-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) {
    position: relative;
    height: 80px;
    margin-bottom: 20px;
  }
  #esg-login-register-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) > .cmp-container {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
  #esg-login-register-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) > .cmp-container .text {
    flex-basis: 10%;
    text-align: center;
  }
  #esg-login-register-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) > .cmp-container .separator {
    flex-basis: 45%;
  }
  #esg-login-register-container > .container:nth-child(2) .gigya-screen.v2.portrait {
    padding: 0;
  }
  #esg-login-register-container > .container:nth-child(2) .gigya-screen.v2.portrait .gigya-composite-control-social-login {
    right: 100px;
  }
}
@media only screen and (min-width: 769px) {
  #esg-login-register-container > .container:nth-child(1) > .cmp-container > .image:nth-child(1) img {
    height: 288px;
  }
  #esg-login-register-container > .container:nth-child(1) > .cmp-container > .image:nth-child(2) {
    display: none;
  }
  #esg-login-register-container > .container:nth-child(1) > .cmp-container > .text:nth-child(3) {
    position: absolute;
    width: 100%;
    bottom: 80px;
    z-index: 9;
  }
  #esg-login-register-container > .container:nth-child(1) > .cmp-container > .text:nth-child(3) > .cmp-text {
    max-width: 400px;
    margin: 0 auto;
  }
  #esg-login-register-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) {
    height: 120px;
  }
  #esg-login-register-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) > .cmp-container {
    grid-gap: 20px;
  }
  #esg-login-register-container > .container:nth-child(1) > .cmp-container > .container:nth-child(4) > .cmp-container .separator {
    flex-basis: 12%;
  }
}/*# sourceMappingURL=esg-login-register-container.css.map */