@media only screen and (max-width: 1990px) {
  /* Start CSS create account / login template */
  #create-account-or-login-template {
    #create-account-or-login-template-child-one {
      .cmp-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: calc(100% - 40px);
        padding: 0 20px;

        .text {
          font-family: "Pinup-Regular";
          text-transform: uppercase;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #e71d2b;
          padding: 0;

          p {
            margin-bottom: 20px;
          }
        }

        .image {
          margin-bottom: 0;
        }
      }

      .text {
        font-family: "NimbusSanLOT";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        padding: 0 20px;

        p {
          margin-bottom: 30px;
          a {
            color: #e71d2b;
          }
        }
      }

      .markuptext {
        height: 50px;
        padding: 0 20px;
      }

      #apero-or-seperator-container {
        .separator {
          flex: 0 0 40%;
          opacity: 0.5;
        }

        .text {
          font-family: "NimbusSanLOT";
          font-style: normal;
          font-weight: 700;
          font-size: 12px !important;
          line-height: 22px !important;
          margin: 10px;
          opacity: 0.5;
          color: #000000 !important;
        }
      }
    }
  }
  /* End CSS */
}

@media only screen and (max-width: 768px) {
  /* Start CSS create account / login template */
  #create-account-or-login-template {
    #create-account-or-login-container {
      .form-title h2 {
        font-family: "Pinup-Regular";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
      }

      .registration-v6 {
        .kfr-signup-form {
          section:nth-child(1) {
            margin: 0;
            .content_wrapper {
              display: block;
              max-width: 100%;
              width: 100%;
              margin: 0 auto;

              .form-wrapper {
                .form-title {
                  h2 {
                    margin: 0 20px;
                  }
                }
                #kfr-signup-form {
                  #exitUrl {
                    display: none;
                  }

                  .kstl-regv6-reg-only.ng-scope,
                  .kstl-regv6-login-only.ng-scope {
                    margin: 0;

                    .App #kgsasgigyaForms {
                      h1.gigya-screen-caption {
                        display: none;
                      }
                      #kgsasgigyaForms_content {
                        margin-top: 15px;
                        .gigya-screen.v2.portrait {
                          padding: 0 20px;
                          margin: 0;
                          width: 100%;
                          #gigya-register-form .gigya-layout-row.with-divider,
                          #gigya-login-form .gigya-layout-row.with-divider {
                            .gigya-composite-control.gigya-composite-control-label {
                              display: none;
                            }
                            .gigya-social-login-container {
                              height: 0 !important;
                              margin: 0;
                            }
                            #kgsasgigyaForms_social_5,
                            #kgsasgigyaForms_social_6,
                            #kgsasgigyaForms_social_2,
                            #kgsasgigyaForms_social_3,
                            #kgsasgigyaForms_social_1,
                            #kgsasgigyaForms_social_0 {
                              height: 0 !important;
                              #kgsasgigyaForms_social_5_uiContainer,
                              #kgsasgigyaForms_social_6_uiContainer,
                              #kgsasgigyaForms_social_2_uiContainer,
                              #kgsasgigyaForms_social_3_uiContainer,
                              #kgsasgigyaForms_social_1_uiContainer,
                              #kgsasgigyaForms_social_0_uiContainer {
                                height: 0 !important;
                                .gigya-login-providers {
                                  height: 0 !important;

                                  .gigya-login-providers-container {
                                    width: 50% !important;
                                    margin: 0;
                                  }
                                }
                                .gigya-login-provider-row {
                                  height: 0 !important;
                                }
                                #Facebook_btn {
                                  position: absolute;
                                  top: -137px;
                                  height: 50px !important;
                                  left: 20px;
                                  width: 100%;
                                  z-index: 9;
                                }

                                #Google_btn {
                                  position: absolute;
                                  top: -137px;
                                  height: 50px !important;
                                  left: 75%;
                                  width: 50%;
                                  z-index: 9;
                                }
                              }
                            }

                            .responsive.with-site-login {
                              .gigya-label-text {
                                font-family: "NimbusSanLOT";
                                font-size: 14px;
                                line-height: 22px;
                                text-transform: capitalize;
                                color: #000000;
                              }

                              .gigya-required-display.gigya-reset {
                                padding: 0;
                              }
                              .gigya-input-password,
                              .gigya-input-text {
                                background: #f2f2f2;
                                border-radius: 2px;
                                border: none;
                              }

                              .fa-eye-slash::before {
                                display: inline-block;
                                position: relative;
                                top: 22px;
                                content: "";
                                width: 24px;
                                height: 14px;
                                background: url("/content/dam/global/promotions/aperopromotions/uk/en/icons/eye.png")
                                  no-repeat center center;
                              }

                              .gigya-composite-control-link {
                                text-align: left;
                                font-family: "NimbusSanLOT";
                                font-style: normal;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 22px;
                                display: flex;
                                align-items: center;
                                text-decoration-line: underline;
                                color: #e71d2b;
                                margin-bottom: 176px;
                              }

                              .gigya-composite-control-submit {
                                .gigya-input-submit {
                                  font-family: "Pinup";
                                  font-size: 12px;
                                  line-height: 14px;
                                  color: #ffffff;
                                  background: #2e8538;
                                  border: none;
                                  border-radius: 2px;
                                  max-width: calc(100% - 20px);
                                }
                              }

                              .gigya-composite-control.gigya-composite-control-label.register {
                                display: none;
                              }

                              .gigya-composite-control-multi-choice.country-reg {
                                .gigya-multi-choice-item {
                                  align-items: center;
                                  border-radius: 2px;
                                  background: #f2f2f2;
                                  padding-top: 0;

                                  label {
                                    margin-left: 0;
                                    padding: 10px 25px;
                                    &::before,
                                    &::after {
                                      top: 12px;
                                    }
                                  }
                                }
                              }

                              .gigya-composite-control-checkbox.privacy-reg,
                              .gigya-composite-control-checkbox.tnc-reg {
                                .gigya-checkbox-container {
                                  padding: 10px 0;
                                  border: 1px solid rgba(0, 0, 0, 0.1);
                                  border-radius: 100px;

                                  &.gigya-terms-valid {
                                    label {
                                      &::before {
                                        background: #3bae49;
                                      }
                                      &::after {
                                        color: #ffffff;
                                        font-size: 10px;
                                        top: 15px;
                                        left: 6px;
                                      }
                                    }
                                  }

                                  label {
                                    &::before {
                                      top: 25%;
                                      border: 0.833333px solid #b6b6b6;
                                      border-radius: 2.5px;
                                      width: 18px;
                                      height: 18px;
                                    }
                                    &::after {
                                      top: 8px;
                                    }
                                    .gigya-label-text.gigya-checkbox-text {
                                      font-family: "NimbusSanLOT";
                                      font-style: normal;
                                      font-weight: 700;
                                      font-size: 12px;
                                      line-height: 16px;
                                      color: #000000;
                                    }

                                    a {
                                      text-decoration-line: underline;
                                      color: #e71d2b;
                                    }
                                  }
                                }
                              }

                              .gigya-composite-control-checkbox.privacy-reg {
                                .gigya-checkbox-container {
                                  &.gigya-terms-valid {
                                    label {
                                      &::after {
                                        top: 8px;
                                      }
                                    }
                                  }
                                  label {
                                    &::before {
                                      top: 14%;
                                    }
                                    &::after {
                                      top: 0px;
                                    }
                                  }
                                }
                              }

                              .gigya-composite-control-checkbox.tnc-reg:has(
                                  .gigya-error-msg-active
                                ),
                              .gigya-composite-control-checkbox.privacy-reg:has(
                                  .gigya-error-msg-active
                                ) {
                                .gigya-checkbox-container {
                                  border: 1px solid #e71d2b;
                                }
                              }

                              .gigya-composite-control:has(
                                  .gigya-error-msg-active
                                ) {
                                .gigya-input-password,
                                .gigya-input-text {
                                  margin-bottom: 0;
                                  border: 1px solid #e71d2b;
                                }
                              }
                              .gigya-error-msg-active {
                                text-align: left;
                                font-family: "NimbusSanLOT";
                                font-size: 10px;
                                line-height: 22px;
                                color: #e71d2b;
                                padding-top: 0;
                              }
                            }
                          }

                          #gigya-register-form .gigya-layout-row.with-divider {
                            #kgsasgigyaForms_social_2,
                            #kgsasgigyaForms_social_3,
                            #kgsasgigyaForms_social_1,
                            #kgsasgigyaForms_social_0 {
                              #kgsasgigyaForms_social_2_uiContainer,
                              #kgsasgigyaForms_social_3_uiContainer,
                              #kgsasgigyaForms_social_1_uiContainer,
                              #kgsasgigyaForms_social_0_uiContainer {
                                #Facebook_btn,
                                #Google_btn {
                                  top: -157px;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /* End CSS */
}
