@media only screen and (max-width: 1990px) {
  #receipt-upload-template-container {
    background: #e71d2b;
    color: #ffffff;
    padding: 0 20px;
  }
  #receipt-upload-template-container #receipt-upload-child-one .teaser .cmp-image__image {
    width: unset;
  }
  #receipt-upload-template-container #receipt-upload-child-one .teaser #receipt-upload-child-one-teaser-one .cmp-teaser__image {
    display: flex;
    justify-content: center;
    padding: 120px 0 80px;
  }
  #receipt-upload-template-container #receipt-upload-child-one .teaser #receipt-upload-child-one-teaser-one .cmp-teaser__content .cmp-teaser__pretitle {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #ffffff;
  }
  #receipt-upload-template-container #receipt-upload-child-one .teaser #receipt-upload-child-one-teaser-one .cmp-teaser__content .cmp-teaser__title {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #f7e62a;
  }
  #receipt-upload-template-container #receipt-upload-child-one .teaser #receipt-upload-child-one-teaser-one .cmp-teaser__content .cmp-teaser__description p {
    font-family: "NimbusSanLOT";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
  }
  #receipt-upload-template-container #receipt-upload-child-one .teaser #receipt-upload-child-one-teaser-three,
  #receipt-upload-template-container #receipt-upload-child-one .teaser #receipt-upload-child-one-teaser-two {
    display: flex;
    align-items: center;
  }
  #receipt-upload-template-container #receipt-upload-child-one .teaser #receipt-upload-child-one-teaser-three .cmp-teaser__image,
  #receipt-upload-template-container #receipt-upload-child-one .teaser #receipt-upload-child-one-teaser-two .cmp-teaser__image {
    flex: 0 0 15%;
  }
  #receipt-upload-template-container #receipt-upload-child-one .teaser #receipt-upload-child-one-teaser-three .cmp-teaser__content,
  #receipt-upload-template-container #receipt-upload-child-one .teaser #receipt-upload-child-one-teaser-two .cmp-teaser__content {
    flex: 0 0 85%;
  }
  #receipt-upload-template-container #receipt-upload-child-one .teaser #receipt-upload-child-one-teaser-three .cmp-teaser__content .cmp-teaser__description p,
  #receipt-upload-template-container #receipt-upload-child-one .teaser #receipt-upload-child-one-teaser-two .cmp-teaser__content .cmp-teaser__description p {
    font-family: "NimbusSanLOT";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
  }
  #receipt-upload-template-container #receipt-upload-child-one .teaser:nth-child(3) {
    padding-bottom: 30px;
  }
  #receipt-upload-template-container #receipt-upload-child-one #receipt-upload-child-one-button-container .button .cmp-button {
    width: 100%;
    margin-bottom: 15px;
  }
  #receipt-upload-template-container #receipt-upload-child-one #receipt-upload-child-one-button-container .button .cmp-button .cmp-button__text {
    font-family: "Pinup";
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  #receipt-upload-template-container #receipt-upload-child-one #receipt-upload-child-one-button-container .button #upload-receipt-icon-button {
    border: none;
    background: #ffffff;
    width: 100%;
    padding: 16px 0;
  }
  #receipt-upload-template-container #receipt-upload-child-one #receipt-upload-child-one-button-container .button #upload-receipt-icon-button .cmp-button__text {
    font-size: 14px;
    line-height: 16px;
    color: #e71d2b;
  }
  #receipt-upload-template-container #receipt-upload-child-one .container .button .cmp-button {
    width: 100%;
    margin-bottom: 15px;
  }
  #receipt-upload-template-container #receipt-upload-child-one .container .button .cmp-button .cmp-button__text {
    font-family: "Pinup";
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  #receipt-upload-template-container #receipt-upload-child-one .container .button #dont-have-a-receipt-button {
    padding: 16px 0;
    border: 1px solid #ffffff;
    color: #ffffff;
  }
  #receipt-upload-template-container #receipt-upload-child-one .container .button #dont-have-a-receipt-button .cmp-button__text {
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
  }
  #receipt-upload-child-two {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  #receipt-upload-child-two .teaser {
    position: absolute;
    background: #ffffff;
    padding: 24px 10px;
    top: 40%;
    left: 15px;
    width: calc(100% - 45px);
  }
  #receipt-upload-child-two .teaser .cmp-teaser__image {
    cursor: pointer;
    position: relative;
  }
  #receipt-upload-child-two .teaser .cmp-teaser__image .cmp-image__image {
    position: absolute;
    top: 7px;
    right: 5px;
    width: 14px;
  }
  #receipt-upload-child-two .teaser .cmp-teaser__content .cmp-teaser__title {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: #e71d2b;
    margin: 0;
  }
  #receipt-upload-child-two .teaser .cmp-teaser__content .cmp-teaser__title a {
    text-decoration: none;
    text-transform: uppercase;
    color: #e71d2b;
  }
  #receipt-upload-child-two .teaser .cmp-teaser__content .cmp-teaser__description {
    margin: 24px 0;
  }
  #receipt-upload-child-two .teaser .cmp-teaser__content .cmp-teaser__description p {
    font-family: "NimbusSanLOT";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }
  #receipt-upload-child-two .teaser .cmp-teaser__content .cmp-teaser__action-container {
    width: 100%;
    background: #2e8538;
    border-radius: 2px;
    padding: 18px 0;
    text-align: center;
  }
  #receipt-upload-child-two .teaser .cmp-teaser__content .cmp-teaser__action-container a {
    font-family: "Pinup-Regular";
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }
  #receipt-upload-child-two.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
}/*# sourceMappingURL=receipt-upload-template.css.map */