@media only screen and (max-width: 768px) {
  #receipt-upload-template-container {
    background: #e71d2b;
    color: #ffffff;
    padding: 0 20px;
    #receipt-upload-child-one {
      .teaser {
        .cmp-image__image {
          width: unset;
        }
        #receipt-upload-child-one-teaser-one {
          .cmp-teaser {
            &__image {
              display: flex;
              justify-content: center;
              padding: 120px 0 80px;
            }

            &__content {
              .cmp-teaser {
                &__pretitle {
                  font-family: "Pinup-Regular";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 45px;
                  line-height: 54px;
                  color: #ffffff;
                }

                &__title {
                  font-family: "Pinup-Regular";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 18px;
                  line-height: 22px;
                  color: #f7e62a;
                }

                &__description {
                  p {
                    font-family: "NimbusSanLOT";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }

        #receipt-upload-child-one-teaser-three,
        #receipt-upload-child-one-teaser-two {
          display: flex;
          align-items: center;
          .cmp-teaser {
            &__image {
              flex: 0 0 15%;
            }

            &__content {
              flex: 0 0 85%;
              .cmp-teaser {
                &__description {
                  p {
                    font-family: "NimbusSanLOT";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }

        &:nth-child(3) {
          padding-bottom: 30px;
        }
      }

      #receipt-upload-child-one-button-container {
        .button {
          .cmp-button {
            width: 100%;
            .cmp-button__text {
              font-family: "Pinup-Regular";
              text-transform: uppercase;
              margin-bottom: 15px;
            }
          }
          #upload-receipt-icon-button {
            border: none;
            background: #ffffff;
            width: 100%;
            padding: 16px 0;
            margin-bottom: 15px;
            .cmp-button__text {
              font-size: 14px;
              line-height: 16px;
              color: #e71d2b;
            }
          }

          #dont-have-a-receipt-button {
            padding: 16px 0;
            border: 1px solid #ffffff;
            color: #ffffff;
            .cmp-button__text {
              font-size: 12px;
              line-height: 14px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
