@media only screen and (max-width: 1990px) {
  #splitters-page-template-container {
    background: #e71d2b;
    min-height: 100vh;
  }
  #splitters-page-template-container #splitters-page-child-one .image {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: -114px;
    z-index: 9;
  }
  #splitters-page-template-container #splitters-page-child-one .image img {
    width: unset;
  }
  #splitters-page-template-container #splitters-page-child-two {
    margin: 40px 20px;
  }
  #splitters-page-template-container #splitters-page-child-two .text #splitters-page-child-one-text-one {
    text-align: center;
  }
  #splitters-page-template-container #splitters-page-child-two .text #splitters-page-child-one-text-one p {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  #splitters-page-template-container #splitters-page-child-two .text #splitters-page-child-one-text-two p {
    font-family: "NimbusSanLOT";
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation {
    position: relative;
    margin-top: -30px;
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation #splitter-template-language-navigator {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 20px;
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation #splitter-template-language-navigator .mobile-down-arrow {
    top: 35px;
    left: 0;
    background: url("/content/dam/global/promotions/aperopromotions/gb/en/icons/chevron-down-red.png") no-repeat right center;
    background-size: 14px;
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation #splitter-template-language-navigator .mobile-down-arrow.mobileUpArrow {
    background: url("/content/dam/global/promotions/aperopromotions/gb/en/icons/chevron-up-red.png") no-repeat right center;
    background-size: 14px;
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation #splitter-template-language-navigator ul {
    overflow-y: scroll;
    max-height: 221px;
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation #splitter-template-language-navigator ul li {
    padding: 16px 20px;
    background: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation #splitter-template-language-navigator ul li a {
    font-family: "NimbusSanLOT";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation #splitter-template-language-navigator ul.languageOpened li {
    display: block;
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation #splitter-template-language-navigator ul.languageOpened li.selected-language {
    box-shadow: inset 95vw 0 0 0 #f2f2f2;
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation #splitter-template-language-navigator ul.languageOpened li.selected-language a {
    color: #e71d2b;
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation #splitter-template-language-navigator ul.languageOpened li.selected-language ::after {
    content: none;
    height: 0;
    background: none;
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation #splitter-template-language-navigator ul.languageOpened::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px #c8c8c8;
    background-color: #c8c8c8;
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation #splitter-template-language-navigator ul.languageOpened::-webkit-scrollbar {
    width: 10px;
    background-color: #c8c8c8;
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation #splitter-template-language-navigator ul.languageOpened::-webkit-scrollbar-thumb {
    height: 137px;
    background-image: -webkit-gradient(linear, 0 0, 0 79%, color-stop(0.5, #ffffff), color-stop(0.5, transparent), to(transparent));
    background-color: #e71d2b;
  }
  #splitters-page-template-container #splitters-page-child-two .languagenavigation #splitter-template-language-navigator ul.languageOpened::after {
    content: "";
    width: 10px;
    height: 55px;
    position: relative;
    display: block;
    background-color: #ffffff;
  }
  #splitters-page-template-container #splitters-page-child-three {
    padding: 40px 20px;
  }
  #splitters-page-template-container #splitters-page-child-three .text {
    text-align: center;
  }
  #splitters-page-template-container #splitters-page-child-three .text .cmp-text p {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
  #splitters-page-template-container #splitters-page-child-three .container .cmp-container {
    display: flex;
    grid-gap: 20px;
    width: 100%;
    flex-wrap: wrap;
  }
  #splitters-page-template-container #splitters-page-child-three .container .cmp-container .teaser {
    flex: 0 0 47%;
  }
  #splitters-page-template-container #splitters-page-child-three .container .cmp-container .teaser .cmp-teaser__image .cmp-image__image {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #splitters-page-template-container #splitters-page-child-three .container .cmp-container .teaser .cmp-teaser__content {
    text-align: center;
  }
  #splitters-page-template-container #splitters-page-child-three .container .cmp-container .teaser .cmp-teaser__content .cmp-teaser__title {
    margin: 10px 0;
  }
  #splitters-page-template-container #splitters-page-child-three .container .cmp-container .teaser .cmp-teaser__content .cmp-teaser__title a {
    font-family: "Pinup-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }
  #splitters-page-template-container #splitters-page-child-three .container .cmp-container .teaser .cmp-teaser__content .cmp-teaser__action-container {
    background: #ffffff;
    padding: 16px 0;
  }
  #splitters-page-template-container #splitters-page-child-three .container .cmp-container .teaser .cmp-teaser__content .cmp-teaser__action-container a {
    text-decoration: none;
    color: #e71d2b;
  }
}
@media only screen and (max-width: 500px) {
  #splitters-page-child-three .container .cmp-container .teaser .cmp-teaser__image .cmp-image__image {
    height: 160px;
  }
}
@media only screen and (max-width: 768px) {
  #splitters-page-child-three .container .cmp-container .teaser .cmp-teaser__image .cmp-image__image {
    height: 200px;
  }
}/*# sourceMappingURL=splitters-page-template-container.css.map */